<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{76,2},{68,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_23_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{2,86},{66,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,98}</string>
                <key>textureRect</key>
                <string>{{2,44},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,11}</string>
                <key>spriteSourceSize</key>
                <string>{46,15}</string>
                <key>textureRect</key>
                <string>{{62,72},{46,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_23-hd.png</string>
            <key>size</key>
            <string>{114,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2a55681dbee11c4a243d152cc483fd2:d134de66369947ff523da2af3cae61ae:50a13a2f50eb2238f45de24ae0e4bb9d$</string>
            <key>textureFileName</key>
            <string>icons/bird_23-hd.png</string>
        </dict>
    </dict>
</plist>
