<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,32}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{87,2},{79,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,23}</string>
                <key>textureRect</key>
                <string>{{87,36},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_40_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{168,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_40_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{74,19}</string>
                <key>spriteSourceSize</key>
                <string>{74,27}</string>
                <key>textureRect</key>
                <string>{{2,40},{74,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{83,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_40-hd.png</string>
            <key>size</key>
            <string>{231,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0cc2862dea23a8f2884e071039f2598:841c6304646c275e852d3ef83071de5c:28d81bab560e2c022c389a3b6ac3b3ca$</string>
            <key>textureFileName</key>
            <string>icons/bird_40-hd.png</string>
        </dict>
    </dict>
</plist>
