<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_78_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{1,53},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{85,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,52}</string>
                <key>textureRect</key>
                <string>{{1,101},{85,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,174},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{84,29}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{1,143},{84,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_78-hd.png</string>
            <key>size</key>
            <string>{98,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93dab9138f9805f8adf77414086dbab:708a78c43d8d6c485f727313c2bf686c:c35f87caa83c83be3f0b301fd34f4841$</string>
            <key>textureFileName</key>
            <string>icons/bird_78-hd.png</string>
        </dict>
    </dict>
</plist>
