<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{82,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_24_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{38,42},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_24_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{38,76},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_24_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{64,7}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{38,118},{64,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_24_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,38}</string>
                <key>spriteSourceSize</key>
                <string>{86,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_24-hd.png</string>
            <key>size</key>
            <string>{120,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a59ed66fb7b8cb9fff38d5e5d1881a6:8d92b92b1d200d2a299ba097c570ad02:537bbb9fc1eacb2e4550cf3b949260b7$</string>
            <key>textureFileName</key>
            <string>icons/bird_24-hd.png</string>
        </dict>
    </dict>
</plist>
