<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_85_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{86,48}</string>
                <key>textureRect</key>
                <string>{{211,1},{86,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_85_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{83,38}</string>
                <key>spriteSourceSize</key>
                <string>{83,44}</string>
                <key>textureRect</key>
                <string>{{63,1},{83,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_85_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{148,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_85_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_85_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{299,1},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_85-hd.png</string>
            <key>size</key>
            <string>{390,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530b0fb528c280a6d39b694ec63af5ef:9fb13dcf45c6f52f74cb16c9a8fc0e4c:6cbe2fa7b86fee14b08d4e7b55dd9bc5$</string>
            <key>textureFileName</key>
            <string>icons/bird_85-hd.png</string>
        </dict>
    </dict>
</plist>
