<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_86_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{90,49}</string>
                <key>textureRect</key>
                <string>{{1,40},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_86_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,41}</string>
                <key>textureRect</key>
                <string>{{46,1},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_86_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{129,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_86_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,4}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{81,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_86_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{94,47}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{93,43},{94,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_86-hd.png</string>
            <key>size</key>
            <string>{191,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be9f2f6d37652ef5b98e0f5e41bfa0f:666e78c356cf0870f0b0de499fcf1c41:e8b73df347695282ed6a3b8b2a30a8df$</string>
            <key>textureFileName</key>
            <string>icons/bird_86-hd.png</string>
        </dict>
    </dict>
</plist>
