<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_102_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{123,1},{74,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_102_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,21}</string>
                <key>spriteSourceSize</key>
                <string>{70,27}</string>
                <key>textureRect</key>
                <string>{{43,38},{70,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_102_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_102_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,26}</string>
                <key>spriteSourceSize</key>
                <string>{69,26}</string>
                <key>textureRect</key>
                <string>{{123,34},{69,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_102_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{43,1},{78,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_102-hd.png</string>
            <key>size</key>
            <string>{198,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e1b6de26f3625d76b6640471656961:1db858f5c9bb4026bd55f70d4d490894:fb4e3a865e661c91b2258764ef3e2e29$</string>
            <key>textureFileName</key>
            <string>icons/bird_102-hd.png</string>
        </dict>
    </dict>
</plist>
