<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_64_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{1,86},{79,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,42}</string>
                <key>textureRect</key>
                <string>{{1,167},{75,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,244},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{1,307},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_64_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_64-hd.png</string>
            <key>size</key>
            <string>{50,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58717227548e1df6bed4896b03128a2e:dbc1735148c5a6a0982ca25d35fb3972:1f6f954cf35c268f0df3132d243adbd5$</string>
            <key>textureFileName</key>
            <string>icons/bird_64-hd.png</string>
        </dict>
    </dict>
</plist>
