<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{1,53},{75,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{49,53},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{49,96},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{82,1},{46,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{79,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_99-hd.png</string>
            <key>size</key>
            <string>{122,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3b6533d6877a0eb28a45c8869a8f17:a29880058dfb9ea5e885f53b5e0c9176:3dc88faa076ccc333c4a9aeb86dbae6e$</string>
            <key>textureFileName</key>
            <string>icons/bird_99-hd.png</string>
        </dict>
    </dict>
</plist>
