<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{1,50},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{1,95},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,137},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{53,18}</string>
                <key>spriteSourceSize</key>
                <string>{65,26}</string>
                <key>textureRect</key>
                <string>{{1,179},{53,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{76,47}</string>
                <key>spriteSourceSize</key>
                <string>{76,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_116-hd.png</string>
            <key>size</key>
            <string>{78,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa632916f4010ecae491e041108e65fe:b98fd77b301f2f7ae1e79748fc63a330:57e5f864434d0970c9b6a9ef7f9d9e39$</string>
            <key>textureFileName</key>
            <string>icons/bird_116-hd.png</string>
        </dict>
    </dict>
</plist>
