<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_141_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{77,41}</string>
                <key>textureRect</key>
                <string>{{84,1},{77,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,32}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{163,1},{72,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{310,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{71,17}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{237,1},{71,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_141-hd.png</string>
            <key>size</key>
            <string>{372,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfebeb7952ce3f7d632c49b6c12a064:ca6268443cbb4db329ea0c7ae123cf3d:2fc98dfa407f4dc4341e4e4bb7b51ab1$</string>
            <key>textureFileName</key>
            <string>icons/bird_141-hd.png</string>
        </dict>
    </dict>
</plist>
