<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,37}</string>
                <key>textureRect</key>
                <string>{{67,2},{59,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_10_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{52,30}</string>
                <key>textureRect</key>
                <string>{{2,45},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_10_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{67,41},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_10_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{2,2},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_10-hd.png</string>
            <key>size</key>
            <string>{128,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4ebb11591e7e793bc6581780285fbbe:a84e8948e1232800461030425d15c2fd:53ea8891fd6fb621e8b24d142193512a$</string>
            <key>textureFileName</key>
            <string>icons/bird_10-hd.png</string>
        </dict>
    </dict>
</plist>
