<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_125_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{69,43}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{1,50},{69,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_125_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,29}</string>
                <key>textureRect</key>
                <string>{{1,95},{65,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_125_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,98}</string>
                <key>textureRect</key>
                <string>{{76,1},{58,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_125_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{62,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{72,61},{62,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_125_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{73,47}</string>
                <key>spriteSourceSize</key>
                <string>{73,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_125-hd.png</string>
            <key>size</key>
            <string>{115,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a112b9f5a0d8fe4d47e8ccbeb769a5e:6520aeefd476780036f6a47b4e994091:2c8267c42139a7abff45a682c78869ae$</string>
            <key>textureFileName</key>
            <string>icons/bird_125-hd.png</string>
        </dict>
    </dict>
</plist>
