<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_49_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,35}</string>
                <key>spriteSourceSize</key>
                <string>{76,35}</string>
                <key>textureRect</key>
                <string>{{148,2},{76,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_49_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{75,34}</string>
                <key>textureRect</key>
                <string>{{226,2},{75,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_49_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{85,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_49_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{303,2},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_49_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,40}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_49-hd.png</string>
            <key>size</key>
            <string>{378,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e4a7a9481ee47421445f6f54988ca3e:55151fd6fe69cec59321bb4eb7a6dd5e:271614a27d264850d0df33f908a17998$</string>
            <key>textureFileName</key>
            <string>icons/bird_49-hd.png</string>
        </dict>
    </dict>
</plist>
