<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{2,39},{73,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_13_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{69,17}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{74,39},{69,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_13_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{35,39},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_13_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{77,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{77,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_13-hd.png</string>
            <key>size</key>
            <string>{93,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f30ec69b4e1ebbcb985417eb5de643c:05a676526824addf1ff3e656eab93db3:660fb52b3aa440063262a3df1478a4ce$</string>
            <key>textureFileName</key>
            <string>icons/bird_13-hd.png</string>
        </dict>
    </dict>
</plist>
