<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{67,2},{77,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{127,2},{76,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,99}</string>
                <key>textureRect</key>
                <string>{{127,60},{58,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{67,81},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{81,63}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_30-hd.png</string>
            <key>size</key>
            <string>{205,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ab051c14c3dece1b5e34d6f3492c1e:8f1892a5e7bc264e8036b156d62595b2:3f364e26f9a041f46f928441a605ddcf$</string>
            <key>textureFileName</key>
            <string>icons/bird_30-hd.png</string>
        </dict>
    </dict>
</plist>
