<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_105_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{50,74},{67,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_105_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{32,43},{62,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_105_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_105_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{62,31}</string>
                <key>textureRect</key>
                <string>{{1,43},{62,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_105_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{64,1},{71,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_105-hd.png</string>
            <key>size</key>
            <string>{118,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6041b2ad9d8622200eac052bd79a57f5:e6ec9a95511e72b632c7af92399e1d0c:30160afa73283d957106e1cf492cdae7$</string>
            <key>textureFileName</key>
            <string>icons/bird_105-hd.png</string>
        </dict>
    </dict>
</plist>
