<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_100_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{1,42},{74,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_100_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{39,84},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_100_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{39,42},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_100_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{32,15}</string>
                <key>spriteSourceSize</key>
                <string>{62,33}</string>
                <key>textureRect</key>
                <string>{{81,1},{32,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_100_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{78,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_100-hd.png</string>
            <key>size</key>
            <string>{101,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a454ca36aa6a1e386df6b8aea78ad0:6e9f7977c17c0dc1771156e8e6083236:968b3d17ae82e36182a004c456267e7c$</string>
            <key>textureFileName</key>
            <string>icons/bird_100-hd.png</string>
        </dict>
    </dict>
</plist>
