<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_91_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{71,40}</string>
                <key>spriteSourceSize</key>
                <string>{71,48}</string>
                <key>textureRect</key>
                <string>{{79,1},{71,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_91_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{69,37}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{152,1},{69,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_91_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{292,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_91_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,44}</string>
                <key>textureRect</key>
                <string>{{223,1},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_91_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_91-hd.png</string>
            <key>size</key>
            <string>{354,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d991e7b60adc93f4064bc54281b479a3:3257240743cccc29f457454d20d31bb3:3a2d5df830aa437822db769c2c0b71e7$</string>
            <key>textureFileName</key>
            <string>icons/bird_91-hd.png</string>
        </dict>
    </dict>
</plist>
