<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_122_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{78,39}</string>
                <key>textureRect</key>
                <string>{{44,1},{78,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{44,40},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{54,76},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{51,10}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{1,85},{51,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,41}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_122-hd.png</string>
            <key>size</key>
            <string>{123,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8066a9109c6b2f1a23e59331833be06:eab832b04d9a4de895ed12e4942023eb:74abfea78270a53862a12c3bbdca67b3$</string>
            <key>textureFileName</key>
            <string>icons/bird_122-hd.png</string>
        </dict>
    </dict>
</plist>
