<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_110_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{78,41}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1,85},{78,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_110_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,45}</string>
                <key>textureRect</key>
                <string>{{48,1},{74,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_110_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{61,36}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{39,128},{61,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_110_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,44}</string>
                <key>textureRect</key>
                <string>{{1,128},{72,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_110_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,45}</string>
                <key>spriteSourceSize</key>
                <string>{82,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_110-hd.png</string>
            <key>size</key>
            <string>{80,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cddf398afe20078a91fafa323db5695f:fc856bb0a67844b51a4896deb600e22f:075debe61c6efacdbac014560351e019$</string>
            <key>textureFileName</key>
            <string>icons/bird_110-hd.png</string>
        </dict>
    </dict>
</plist>
