<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{72,2},{64,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_21_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{81,68},{46,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_21_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,59},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_21_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{44,68},{48,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_21_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{68,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{2,2},{68,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_21-hd.png</string>
            <key>size</key>
            <string>{125,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3d257a228dc7695ce891008ee3cb7d:4393a67199c359f7620ad23a72f1b52e:46fd650b0ef645b9038d2b9240243d4d$</string>
            <key>textureFileName</key>
            <string>icons/bird_21-hd.png</string>
        </dict>
    </dict>
</plist>
