<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_67_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{75,51}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{1,82},{75,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_67_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{71,40}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{58,1},{71,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_67_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{78,74},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_67_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{70,11}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{100,1},{70,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_67_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{79,55}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_67-hd.png</string>
            <key>size</key>
            <string>{119,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97fba0725419e9d62c812d7663979e0:868f7192c7ad487361fd97857f496d7e:d1f674e0a4f442b966237bb614cc41fe$</string>
            <key>textureFileName</key>
            <string>icons/bird_67-hd.png</string>
        </dict>
    </dict>
</plist>
