<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_61_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{81,51}</string>
                <key>textureRect</key>
                <string>{{1,50},{81,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_61_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,34}</string>
                <key>textureRect</key>
                <string>{{88,1},{70,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_61_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{84,73},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_61_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{75,37}</string>
                <key>spriteSourceSize</key>
                <string>{75,43}</string>
                <key>textureRect</key>
                <string>{{1,95},{75,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_61_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_61-hd.png</string>
            <key>size</key>
            <string>{125,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a456eb905634fbeb55605179e7cb10e5:fac3abee2b7094a4bc30f56ac96a50b9:acefd67c2858c67d470994c442b77735$</string>
            <key>textureFileName</key>
            <string>icons/bird_61-hd.png</string>
        </dict>
    </dict>
</plist>
