<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_76_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{99,47}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1,43},{99,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{95,44}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{132,1},{95,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{69,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{66,31}</string>
                <key>spriteSourceSize</key>
                <string>{66,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{103,51}</string>
                <key>spriteSourceSize</key>
                <string>{103,67}</string>
                <key>textureRect</key>
                <string>{{102,47},{103,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_76-hd.png</string>
            <key>size</key>
            <string>{228,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501beb9e55e42a128ea7f70afc0913f2:4657a754db23327517ab5f67d3bbcaa0:b064f2146974d077d6b972c70632b2b5$</string>
            <key>textureFileName</key>
            <string>icons/bird_76-hd.png</string>
        </dict>
    </dict>
</plist>
