<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{71,27}</string>
                <key>spriteSourceSize</key>
                <string>{71,31}</string>
                <key>textureRect</key>
                <string>{{2,78},{71,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_08_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{78,42},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{78,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_08-hd.png</string>
            <key>size</key>
            <string>{122,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b522b45d00bb827f754dd2e9394d23c3:954bbf6ba908d7336c03c1dfb4b41c3b:44f3c420fcc1ab3a3106765a273ccd51$</string>
            <key>textureFileName</key>
            <string>icons/bird_08-hd.png</string>
        </dict>
    </dict>
</plist>
