<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_41_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,41}</string>
                <key>textureRect</key>
                <string>{{2,47},{76,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_41_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,40}</string>
                <key>textureRect</key>
                <string>{{43,47},{75,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_41_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{84,2},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_41_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{83,65},{58,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_41_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_41-hd.png</string>
            <key>size</key>
            <string>{126,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11565571f6002cba0028dafcc1ad77b1:527e333baf948703a8945a166c9662b0:60b36e03cde3a2efdc1243f7b1b6c0a3$</string>
            <key>textureFileName</key>
            <string>icons/bird_41-hd.png</string>
        </dict>
    </dict>
</plist>
