<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_143_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{1,43},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{1,81},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{75,1},{61,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_143_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{63,31}</string>
                <key>textureRect</key>
                <string>{{71,64},{63,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_143_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_143-hd.png</string>
            <key>size</key>
            <string>{122,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8642d832672a3f0122c5d5c92fdc3d4b:874e6d1ab723ea16d15324953b975c99:6fb1b6a43df8e9f63d1603b9701bf68f$</string>
            <key>textureFileName</key>
            <string>icons/bird_143-hd.png</string>
        </dict>
    </dict>
</plist>
