<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{71,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{71,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_07_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{38,42},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_07_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{38,72},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_07_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_07-hd.png</string>
            <key>size</key>
            <string>{108,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36d8ae5907e1e88503faf15e466dd79:74f8f4cee2d99ef59caa7afaf5878740:d1790956af2b657c9878d49e5bc10c8b$</string>
            <key>textureFileName</key>
            <string>icons/bird_07-hd.png</string>
        </dict>
    </dict>
</plist>
