<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_140_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{87,43}</string>
                <key>spriteSourceSize</key>
                <string>{87,45}</string>
                <key>textureRect</key>
                <string>{{1,50},{87,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_140_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,40}</string>
                <key>textureRect</key>
                <string>{{1,95},{83,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_140_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,133},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_140_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{82,19}</string>
                <key>spriteSourceSize</key>
                <string>{82,39}</string>
                <key>textureRect</key>
                <string>{{1,175},{82,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_140_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{91,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_140-hd.png</string>
            <key>size</key>
            <string>{93,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3460554dd67724e49addc6dec552094d:a862407fd5722f6b437885ffbc6812ae:ba1e20748f25ec946f98a6897581ff21$</string>
            <key>textureFileName</key>
            <string>icons/bird_140-hd.png</string>
        </dict>
    </dict>
</plist>
