<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_107_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{1,72},{72,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,25}</string>
                <key>spriteSourceSize</key>
                <string>{60,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{63,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{65,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{1,43},{65,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{75,43},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_107-hd.png</string>
            <key>size</key>
            <string>{125,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b18da2bdd88bb017d87acea5e39c0b8a:33d9a55fa6c9b2115559054d8d4d12ce:974eb490d2d0172f55fc3c58f05c31e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_107-hd.png</string>
        </dict>
    </dict>
</plist>
