<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,34}</string>
                <key>spriteSourceSize</key>
                <string>{70,34}</string>
                <key>textureRect</key>
                <string>{{54,78},{70,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_35_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{66,28}</string>
                <key>textureRect</key>
                <string>{{2,44},{66,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_35_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_35_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,24}</string>
                <key>textureRect</key>
                <string>{{32,44},{64,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_35_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,38}</string>
                <key>textureRect</key>
                <string>{{65,2},{74,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_35-hd.png</string>
            <key>size</key>
            <string>{126,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87120bde30cb342ff33409d01e6d9e4:b4c2ea416691eab9631fce8eb1ddb114:c3995cb847c66d42dc1ff8aa69ef7c28$</string>
            <key>textureFileName</key>
            <string>icons/bird_35-hd.png</string>
        </dict>
    </dict>
</plist>
