<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_50_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{2,55},{75,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_50_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{83,65},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_50_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{83,2},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_50_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{50,55},{70,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_50_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,55}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_50-hd.png</string>
            <key>size</key>
            <string>{125,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c4bfb5e3a3ff1bf55b72ea240346da:2aba4557f04f56befaf0efbbc4fe9b85:7aea30e24d35c4024d6d3a758c47ffbd$</string>
            <key>textureFileName</key>
            <string>icons/bird_50-hd.png</string>
        </dict>
    </dict>
</plist>
