<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{65,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,45}</string>
                <key>textureRect</key>
                <string>{{2,48},{65,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_26_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,43}</string>
                <key>textureRect</key>
                <string>{{73,2},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_26_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{69,61},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_26_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{57,29}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{2,91},{57,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_26_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,44}</string>
                <key>spriteSourceSize</key>
                <string>{69,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{69,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_26-hd.png</string>
            <key>size</key>
            <string>{111,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f34b915265f0aa87677ae569fc21871:2d1132dc63f14e3f8903f2d384bee5e3:7310c8a7a322ebda681819d02985346e$</string>
            <key>textureFileName</key>
            <string>icons/bird_26-hd.png</string>
        </dict>
    </dict>
</plist>
