<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,63}</string>
                <key>textureRect</key>
                <string>{{2,57},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_17_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{60,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{76,2},{60,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_17_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{72,64},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_17_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{72,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_17-hd.png</string>
            <key>size</key>
            <string>{115,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ca708da038283b1afb33ecac44f5b1:ad74514f30926f0ef0de42c6e9e674d0:ecda6ad775cac14178ad2b312b6712c1$</string>
            <key>textureFileName</key>
            <string>icons/bird_17-hd.png</string>
        </dict>
    </dict>
</plist>
