<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{78,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{82,45},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_27_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,78},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,23}</string>
                <key>textureRect</key>
                <string>{{86,2},{41,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{82,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_27-hd.png</string>
            <key>size</key>
            <string>{112,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf7806ab511dc36ad8b11c1bd9cb3378:28b18a2892102476573d233cecbc1e10:d73430aba3b0a6929fc91e11ca2d7e66$</string>
            <key>textureFileName</key>
            <string>icons/bird_27-hd.png</string>
        </dict>
    </dict>
</plist>
