<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,49}</string>
                <key>textureRect</key>
                <string>{{80,2},{72,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{2,89},{56,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_32_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,99}</string>
                <key>textureRect</key>
                <string>{{74,76},{58,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,44}</string>
                <key>textureRect</key>
                <string>{{2,51},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{76,47}</string>
                <key>spriteSourceSize</key>
                <string>{76,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{76,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_32-hd.png</string>
            <key>size</key>
            <string>{125,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5e6136aae00427ba20c3658f2258dea:aa7d32560e43a13532db54700e485229:7c285e690caa412244e6702a3ddfc54b$</string>
            <key>textureFileName</key>
            <string>icons/bird_32-hd.png</string>
        </dict>
    </dict>
</plist>
