<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_135_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,43}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1,86},{78,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_135_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{69,41}</string>
                <key>spriteSourceSize</key>
                <string>{69,47}</string>
                <key>textureRect</key>
                <string>{{50,1},{69,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{81,72},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{67,17}</string>
                <key>spriteSourceSize</key>
                <string>{67,35}</string>
                <key>textureRect</key>
                <string>{{93,1},{67,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{83,47}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_135-hd.png</string>
            <key>size</key>
            <string>{122,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e702e99353ab167b04dfdee409723494:93306dad1100e3d893c28fc0e0cba056:1fc86d5d9d6787e987cd9af14bb7dde6$</string>
            <key>textureFileName</key>
            <string>icons/bird_135-hd.png</string>
        </dict>
    </dict>
</plist>
