<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{2,41},{79,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{37,41},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_04_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{37,73},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,37}</string>
                <key>spriteSourceSize</key>
                <string>{83,37}</string>
                <key>textureRect</key>
                <string>{{2,2},{83,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_04-hd.png</string>
            <key>size</key>
            <string>{106,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ec2b76374213a9d3c5818ddfbd5dc7:3e5891fdd324e85e7a8d00a0ce5e2d1c:5440d0b6a708054484bc15d7eaa2653f$</string>
            <key>textureFileName</key>
            <string>icons/bird_04-hd.png</string>
        </dict>
    </dict>
</plist>
