<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{84,1},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{163,1},{69,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_58_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{304,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{68,15}</string>
                <key>spriteSourceSize</key>
                <string>{68,31}</string>
                <key>textureRect</key>
                <string>{{234,1},{68,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_58-hd.png</string>
            <key>size</key>
            <string>{366,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5aced0da418b12b320efcf656f57c01:3882984a9fb2b7a51ac9e1acd0779e3e:44ee54defcafc428b63fa5e08bd387b9$</string>
            <key>textureFileName</key>
            <string>icons/bird_58-hd.png</string>
        </dict>
    </dict>
</plist>
