<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_57_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{66,53}</string>
                <key>textureRect</key>
                <string>{{73,1},{66,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_57_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{62,39}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{64,69},{62,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,50},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{50,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,92},{50,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_57-hd.png</string>
            <key>size</key>
            <string>{127,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5054bd674bcd43e1120f369abc344163:40fa73be8105df5311374affc3585139:61299adef87fb87d35a808c1df97f8d2$</string>
            <key>textureFileName</key>
            <string>icons/bird_57-hd.png</string>
        </dict>
    </dict>
</plist>
