<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_73_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,42}</string>
                <key>spriteSourceSize</key>
                <string>{79,46}</string>
                <key>textureRect</key>
                <string>{{1,49},{79,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_73_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,43}</string>
                <key>textureRect</key>
                <string>{{1,93},{74,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_73_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{82,76},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_73_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,41}</string>
                <key>textureRect</key>
                <string>{{86,1},{73,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_73_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,46}</string>
                <key>spriteSourceSize</key>
                <string>{83,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_73-hd.png</string>
            <key>size</key>
            <string>{123,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ffff011bf1bd733745bfd0d1afbd4a:103fe229baa8fd995b6a066b694312d1:842508609eef5a394d94445590bb9a14$</string>
            <key>textureFileName</key>
            <string>icons/bird_73-hd.png</string>
        </dict>
    </dict>
</plist>
