<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{147,2},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_15_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_15_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{32,2},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_15_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{74,51}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{71,2},{74,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_15-hd.png</string>
            <key>size</key>
            <string>{219,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bdea627ea0daeeba37a513c43d8f6c6:0d8fe769c1d269c6b0517325c8c9ecc2:632038e63e73ee9b5de8c03c5718ad83$</string>
            <key>textureFileName</key>
            <string>icons/bird_15-hd.png</string>
        </dict>
    </dict>
</plist>
