<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_104_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{1,37},{67,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_104_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{33,37},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{33,66},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,10}</string>
                <key>spriteSize</key>
                <string>{14,6}</string>
                <key>spriteSourceSize</key>
                <string>{62,26}</string>
                <key>textureRect</key>
                <string>{{74,1},{14,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{71,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_104-hd.png</string>
            <key>size</key>
            <string>{97,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6fdcb95265da4d9a2f73dfce98cc3ce:2da175033bfde6f88e6d8d82dcef4760:81e20457cb83a786938e3fd533359a8a$</string>
            <key>textureFileName</key>
            <string>icons/bird_104-hd.png</string>
        </dict>
    </dict>
</plist>
