<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_52_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{1,49},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_52_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{71,33}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{87,1},{71,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_52_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{83,74},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_52_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{1,93},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_52_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{84,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_52-hd.png</string>
            <key>size</key>
            <string>{124,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11e3cdff9d12ebbb9dc5959f665bb44:d24c37b1c30152837f12c87f7cee1ce4:43866af69156d3bbc53f240a737c8644$</string>
            <key>textureFileName</key>
            <string>icons/bird_52-hd.png</string>
        </dict>
    </dict>
</plist>
