<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_98_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{76,47}</string>
                <key>spriteSourceSize</key>
                <string>{76,57}</string>
                <key>textureRect</key>
                <string>{{1,54},{76,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_98_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{73,42}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{79,64},{73,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_98_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{83,1},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_98_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{72,27}</string>
                <key>spriteSourceSize</key>
                <string>{72,49}</string>
                <key>textureRect</key>
                <string>{{1,103},{72,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_98_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_98-hd.png</string>
            <key>size</key>
            <string>{124,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c05882cf07a98ade9a9d1abda98abe9:df81dc3b98e2553b5f517a86069763c7:5efec9d5fea990c53a74593998bac169$</string>
            <key>textureFileName</key>
            <string>icons/bird_98-hd.png</string>
        </dict>
    </dict>
</plist>
