<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_84_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{1,51},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_84_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,48}</string>
                <key>textureRect</key>
                <string>{{1,97},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_84_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{84,67},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_84_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{88,1},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_84_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{85,48}</string>
                <key>spriteSourceSize</key>
                <string>{85,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_84-hd.png</string>
            <key>size</key>
            <string>{125,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100699bc72586922599c5936eaf16ec4:5690fe5956db9fefff760ac8d3c7319a:9dc282a40e3f6e248a341f040ad1fd19$</string>
            <key>textureFileName</key>
            <string>icons/bird_84-hd.png</string>
        </dict>
    </dict>
</plist>
