<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_44_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{2,86},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_44_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,31}</string>
                <key>spriteSourceSize</key>
                <string>{77,31}</string>
                <key>textureRect</key>
                <string>{{40,2},{77,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_44_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{40,35},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_44_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{72,17}</string>
                <key>spriteSourceSize</key>
                <string>{72,27}</string>
                <key>textureRect</key>
                <string>{{103,35},{72,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_44_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_44-hd.png</string>
            <key>size</key>
            <string>{122,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc050a42ef37451f2afde302ff6cb4c1:06acc3d163919a7c8912285a1445474b:5d880cac7c0c16aa1ffe9d8c1a30d097$</string>
            <key>textureFileName</key>
            <string>icons/bird_44-hd.png</string>
        </dict>
    </dict>
</plist>
