<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,39}</string>
                <key>textureRect</key>
                <string>{{89,2},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,35}</string>
                <key>spriteSourceSize</key>
                <string>{80,37}</string>
                <key>textureRect</key>
                <string>{{172,2},{80,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{333,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,23}</string>
                <key>spriteSourceSize</key>
                <string>{77,27}</string>
                <key>textureRect</key>
                <string>{{254,2},{77,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,41}</string>
                <key>spriteSourceSize</key>
                <string>{85,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{85,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_36-hd.png</string>
            <key>size</key>
            <string>{396,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75814ab61577f7556c7b5910265124e:fe3104329291536c27fd4f4c1a6366af:d2e13f664cf58385df3ffa8f32ddedad$</string>
            <key>textureFileName</key>
            <string>icons/bird_36-hd.png</string>
        </dict>
    </dict>
</plist>
