<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_81_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{81,1},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_81_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{71,38}</string>
                <key>textureRect</key>
                <string>{{157,1},{71,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_81_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{300,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_81_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{68,17}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{230,1},{68,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_81_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_81-hd.png</string>
            <key>size</key>
            <string>{362,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25d61b80336427db8ade9be8cb7e35fc:3ee608b83efa58d439d590dc4016d4ba:fdce42f4aa426b5d5c082c03a03b364b$</string>
            <key>textureFileName</key>
            <string>icons/bird_81-hd.png</string>
        </dict>
    </dict>
</plist>
