<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_66_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{82,35}</string>
                <key>textureRect</key>
                <string>{{1,42},{82,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,31}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{1,79},{75,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{85,42},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_66_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{89,1},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,39}</string>
                <key>spriteSourceSize</key>
                <string>{86,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_66-hd.png</string>
            <key>size</key>
            <string>{126,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2089fbecaa002d28daedabd7d4bfaf0a:3136c5201dfac4fc52a8c395be7f107e:a0b583d053b32778a3b4324dae8786a9$</string>
            <key>textureFileName</key>
            <string>icons/bird_66-hd.png</string>
        </dict>
    </dict>
</plist>
