<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,46}</string>
                <key>textureRect</key>
                <string>{{82,2},{74,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_14_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,43}</string>
                <key>textureRect</key>
                <string>{{57,78},{64,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_14_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{2,48},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_14_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_14-hd.png</string>
            <key>size</key>
            <string>{124,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:827478cf8ceccf75c2d2d0d685a1f044:2b6432539167b428dab02fab05c0ddb6:f1c6402647474fa161481bafddcd0ba4$</string>
            <key>textureFileName</key>
            <string>icons/bird_14-hd.png</string>
        </dict>
    </dict>
</plist>
