<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_68_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{1,55},{70,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_68_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,28}</string>
                <key>spriteSourceSize</key>
                <string>{53,28}</string>
                <key>textureRect</key>
                <string>{{51,92},{53,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_68_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{77,1},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_68_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{65,26}</string>
                <key>spriteSourceSize</key>
                <string>{65,52}</string>
                <key>textureRect</key>
                <string>{{51,64},{65,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_68_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_68-hd.png</string>
            <key>size</key>
            <string>{118,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d781ba0b16cf0abd518bfedc8d547e:8cecf8bcf51e6bc3906f10b66598e99d:a439099f565a5f98b22c5ba3bc862481$</string>
            <key>textureFileName</key>
            <string>icons/bird_68-hd.png</string>
        </dict>
    </dict>
</plist>
