<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{74,2},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{41,7}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{197,2},{41,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_11_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{142,2},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,41}</string>
                <key>spriteSourceSize</key>
                <string>{70,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{70,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_11-hd.png</string>
            <key>size</key>
            <string>{206,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10bcabf96e77a8af2ee3862ffd085d43:6342472e14340c441155a5be99ef684d:2ad25b7369516e94e5f87eb374702060$</string>
            <key>textureFileName</key>
            <string>icons/bird_11-hd.png</string>
        </dict>
    </dict>
</plist>
