<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_132_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{75,34}</string>
                <key>textureRect</key>
                <string>{{1,43},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_132_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{71,31}</string>
                <key>textureRect</key>
                <string>{{37,82},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_132_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_132_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{104,1},{62,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_132_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,38}</string>
                <key>textureRect</key>
                <string>{{64,1},{79,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_132-hd.png</string>
            <key>size</key>
            <string>{123,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de324489179db294adf7db8b6b47927:17fff514f4a6276fef29ce4a43269a3c:4db2caaa1eceb1298b8ab9768fff1e79$</string>
            <key>textureFileName</key>
            <string>icons/bird_132-hd.png</string>
        </dict>
    </dict>
</plist>
