<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{67,44}</string>
                <key>spriteSourceSize</key>
                <string>{67,54}</string>
                <key>textureRect</key>
                <string>{{1,51},{67,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{47,61},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_109_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,98}</string>
                <key>textureRect</key>
                <string>{{74,1},{58,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{63,17}</string>
                <key>spriteSourceSize</key>
                <string>{63,35}</string>
                <key>textureRect</key>
                <string>{{47,97},{63,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{71,48}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_109-hd.png</string>
            <key>size</key>
            <string>{113,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273a9ea07888b66c8c83a4fadebf4a59:9aeadc45c8763916c3f5ececc254df34:2d2ac295b70761fc3588d2af14a0b2bf$</string>
            <key>textureFileName</key>
            <string>icons/bird_109-hd.png</string>
        </dict>
    </dict>
</plist>
