<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_51_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,42}</string>
                <key>textureRect</key>
                <string>{{82,2},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_51_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{157,2},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_51_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{302,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_51_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{69,15}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{231,2},{69,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_51_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_51-hd.png</string>
            <key>size</key>
            <string>{365,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a4b886742f2cf293b059aa286f07dd:1f79c116d764ef3f5f8a95ff493af602:ecc56cccd4dfdd350c45d1c363731596$</string>
            <key>textureFileName</key>
            <string>icons/bird_51-hd.png</string>
        </dict>
    </dict>
</plist>
