<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,44}</string>
                <key>textureRect</key>
                <string>{{1,45},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,37}</string>
                <key>spriteSourceSize</key>
                <string>{70,41}</string>
                <key>textureRect</key>
                <string>{{1,85},{70,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_83_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{76,64},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{61,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{80,1},{61,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{77,42}</string>
                <key>spriteSourceSize</key>
                <string>{77,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_83-hd.png</string>
            <key>size</key>
            <string>{117,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac527a9430ada7bba8c093525088dba:3eb7d32713ed187feb35d1bcd457e411:922904f48904d5c1e2e86e6388a5a3d5$</string>
            <key>textureFileName</key>
            <string>icons/bird_83-hd.png</string>
        </dict>
    </dict>
</plist>
