<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_42_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{145,2},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{73,36}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{221,2},{73,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{82,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{69,25}</string>
                <key>spriteSourceSize</key>
                <string>{69,35}</string>
                <key>textureRect</key>
                <string>{{296,2},{69,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,41}</string>
                <key>spriteSourceSize</key>
                <string>{78,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_42-hd.png</string>
            <key>size</key>
            <string>{367,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7157e1686988b062a5f2df94142375fd:0e42d3f6098e7f86946571a26260320a:a1c09e4d3e03e70870a79fc33aeeacd1$</string>
            <key>textureFileName</key>
            <string>icons/bird_42-hd.png</string>
        </dict>
    </dict>
</plist>
