<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_127_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{57,1},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_127_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{1,77},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_127_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{57,85},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_127_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{57,53},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_127_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_127-hd.png</string>
            <key>size</key>
            <string>{128,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5338e7c94fd881fa52e1e19e3782a714:99dfb552252dc14c82a5501c5e300bc8:9ce78545dec232611b52afe0b9e7c781$</string>
            <key>textureFileName</key>
            <string>icons/bird_127-hd.png</string>
        </dict>
    </dict>
</plist>
