<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_82_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{75,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{1,82},{75,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_82_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{54,1},{70,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_82_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{78,73},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_82_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{65,19}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{98,1},{65,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_82_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_82-hd.png</string>
            <key>size</key>
            <string>{119,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb23eaa1a60af048d64255f0a73e132:2de0776c2279612e8a201806df819c30:bea0130c18e4b7b024af54f15fcc84a4$</string>
            <key>textureFileName</key>
            <string>icons/bird_82-hd.png</string>
        </dict>
    </dict>
</plist>
