<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,40}</string>
                <key>textureRect</key>
                <string>{{2,46},{77,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,29}</string>
                <key>textureRect</key>
                <string>{{42,46},{69,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_02_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{42,77},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_02-hd.png</string>
            <key>size</key>
            <string>{113,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75729804c309120a00b95bbded62b57a:83c0a22e845e48f53647fe3f128995ec:cba6fa24fba658bb95bc63cc15e43255$</string>
            <key>textureFileName</key>
            <string>icons/bird_02-hd.png</string>
        </dict>
    </dict>
</plist>
