<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,31}</string>
                <key>textureRect</key>
                <string>{{77,1},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{77,34},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{149,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{59,7}</string>
                <key>spriteSourceSize</key>
                <string>{59,27}</string>
                <key>textureRect</key>
                <string>{{1,38},{59,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,35}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_60-hd.png</string>
            <key>size</key>
            <string>{211,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74c941b6052e2cf3d7e61efb197afc3:920cdf855ae5f85537ce11b79a25173c:235970906c5927e78b565efd0f1910cd$</string>
            <key>textureFileName</key>
            <string>icons/bird_60-hd.png</string>
        </dict>
    </dict>
</plist>
