<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_117_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,39}</string>
                <key>spriteSourceSize</key>
                <string>{89,39}</string>
                <key>textureRect</key>
                <string>{{96,1},{89,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_117_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,36}</string>
                <key>textureRect</key>
                <string>{{187,1},{85,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_117_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{351,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_117_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{274,1},{75,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_117_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,43}</string>
                <key>spriteSourceSize</key>
                <string>{93,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_117-hd.png</string>
            <key>size</key>
            <string>{413,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21406cb54c020315038665aaa331ada:a3a76ef62294697432f19faf3e3cad8b:bda3f2fe8d5a788c50ccb7dd9872113d$</string>
            <key>textureFileName</key>
            <string>icons/bird_117-hd.png</string>
        </dict>
    </dict>
</plist>
