<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_103_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{77,40}</string>
                <key>spriteSourceSize</key>
                <string>{77,46}</string>
                <key>textureRect</key>
                <string>{{145,1},{77,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_103_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{69,35}</string>
                <key>spriteSourceSize</key>
                <string>{69,41}</string>
                <key>textureRect</key>
                <string>{{74,1},{69,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_103_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{224,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_103_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{71,17}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_103_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,50}</string>
                <key>textureRect</key>
                <string>{{287,1},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_103-hd.png</string>
            <key>size</key>
            <string>{369,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ca0ab940429217b96b3132ba348139:9e3edbe7cb5f7d95e65e002270f06bdb:afa68259853dd205ba33666c441dca29$</string>
            <key>textureFileName</key>
            <string>icons/bird_103-hd.png</string>
        </dict>
    </dict>
</plist>
