<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_55_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,38}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{45,88},{88,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_55_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{82,19}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_55_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,46},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_55_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{81,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,30}</string>
                <key>textureRect</key>
                <string>{{1,22},{81,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_55_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{1,88},{92,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_55-hd.png</string>
            <key>size</key>
            <string>{84,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40e5f1566b76233656e2c293d54af2aa:2537a05413b10f33c41477ef3cd60194:d4f6ae153ecd02a951e37fa9d12f34a0$</string>
            <key>textureFileName</key>
            <string>icons/bird_55-hd.png</string>
        </dict>
    </dict>
</plist>
