<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_130_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{144,1},{74,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_130_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{69,32}</string>
                <key>spriteSourceSize</key>
                <string>{69,36}</string>
                <key>textureRect</key>
                <string>{{73,1},{69,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_130_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{220,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_130_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{70,14}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_130_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{283,1},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_130-hd.png</string>
            <key>size</key>
            <string>{362,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69551321d920e5bf6fd3476f907c180:a37a16399e43d8aa284a67a6632f9f81:fdb8f57a6644f3c8d2f4f94810647790$</string>
            <key>textureFileName</key>
            <string>icons/bird_130-hd.png</string>
        </dict>
    </dict>
</plist>
