<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{71,46}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{78,1},{71,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{67,42}</string>
                <key>spriteSourceSize</key>
                <string>{67,54}</string>
                <key>textureRect</key>
                <string>{{1,53},{67,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{70,74},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{57,13}</string>
                <key>spriteSourceSize</key>
                <string>{57,27}</string>
                <key>textureRect</key>
                <string>{{1,97},{57,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_80-hd.png</string>
            <key>size</key>
            <string>{125,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146caead230e89b98dd0954bd06bc969:8f24d525ae5e6354d8409c002d8d8f4d:d64cb6b10d81064dac9bd87854352041$</string>
            <key>textureFileName</key>
            <string>icons/bird_80-hd.png</string>
        </dict>
    </dict>
</plist>
