<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_70_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{44,1},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{75,34}</string>
                <key>textureRect</key>
                <string>{{44,40},{75,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{66,76},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{1,86},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,41}</string>
                <key>spriteSourceSize</key>
                <string>{83,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_70-hd.png</string>
            <key>size</key>
            <string>{128,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117bf44003a6f495d3d587a03165f7df:c3c703501ff690012e52cf1928c983b4:e824a9a5d8fa3639be65d64a6f9696ef$</string>
            <key>textureFileName</key>
            <string>icons/bird_70-hd.png</string>
        </dict>
    </dict>
</plist>
