<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_133_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,32}</string>
                <key>spriteSourceSize</key>
                <string>{71,32}</string>
                <key>textureRect</key>
                <string>{{120,1},{71,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_133_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{120,35},{64,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_133_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{78,1},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_133_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{44,7}</string>
                <key>spriteSourceSize</key>
                <string>{44,27}</string>
                <key>textureRect</key>
                <string>{{1,39},{44,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_133_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{75,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_133-hd.png</string>
            <key>size</key>
            <string>{192,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041cc274875b58ae357c17576bd82713:b040e8bdf80d61a450c8783421013b5b:98db5904976ed7ac4a3f75e26ca2224d$</string>
            <key>textureFileName</key>
            <string>icons/bird_133-hd.png</string>
        </dict>
    </dict>
</plist>
