<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_108_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{79,57}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{1,64},{79,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_108_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,25}</string>
                <key>spriteSourceSize</key>
                <string>{66,25}</string>
                <key>textureRect</key>
                <string>{{60,111},{66,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{61,44}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{60,65},{61,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{86,1},{62,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_108_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{83,61}</string>
                <key>spriteSourceSize</key>
                <string>{89,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_108-hd.png</string>
            <key>size</key>
            <string>{127,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94dc6968404000521534d155aee73d81:697833d998eaf336524dcf3c70b25136:da1671eb2c5162660b2f27d308b3e13c$</string>
            <key>textureFileName</key>
            <string>icons/bird_108-hd.png</string>
        </dict>
    </dict>
</plist>
