<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,35}</string>
                <key>spriteSourceSize</key>
                <string>{76,37}</string>
                <key>textureRect</key>
                <string>{{2,43},{76,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_31_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,36}</string>
                <key>textureRect</key>
                <string>{{39,43},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_31_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{39,79},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_31_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,41}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_31-hd.png</string>
            <key>size</key>
            <string>{109,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db96d579d669d4d5551658b08b82e9ac:10623875a1de6df2e3be9c690702d968:560b33a72eff3598dc454cbc2910b3fa$</string>
            <key>textureFileName</key>
            <string>icons/bird_31-hd.png</string>
        </dict>
    </dict>
</plist>
