<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_45_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{2,45},{80,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,38}</string>
                <key>textureRect</key>
                <string>{{2,84},{79,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{84,48},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_45_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{44,27}</string>
                <key>spriteSourceSize</key>
                <string>{76,29}</string>
                <key>textureRect</key>
                <string>{{88,2},{44,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_45_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_45-hd.png</string>
            <key>size</key>
            <string>{126,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865d3926f025d798613e2a7f90294b0f:02090e77e1352a3320287b7615ebc4be:ff302f31c13d10bf4591763480c67325$</string>
            <key>textureFileName</key>
            <string>icons/bird_45-hd.png</string>
        </dict>
    </dict>
</plist>
