<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_101_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,43}</string>
                <key>spriteSourceSize</key>
                <string>{73,45}</string>
                <key>textureRect</key>
                <string>{{1,50},{73,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_101_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{80,1},{69,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_101_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{76,72},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_101_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,40}</string>
                <key>textureRect</key>
                <string>{{1,95},{67,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_101_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,47}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_101-hd.png</string>
            <key>size</key>
            <string>{117,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d72eef061e2ad4ab9f699152e183e642:2b00fc473ca886905f6e7f289c4d8c9e:ed4997cf811500185e28d449655d69f0$</string>
            <key>textureFileName</key>
            <string>icons/bird_101-hd.png</string>
        </dict>
    </dict>
</plist>
