<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_93_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{77,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,56}</string>
                <key>textureRect</key>
                <string>{{1,84},{77,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_93_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{74,45}</string>
                <key>spriteSourceSize</key>
                <string>{74,53}</string>
                <key>textureRect</key>
                <string>{{1,163},{74,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_93_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,239},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_93_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{43,239},{20,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_93_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{81,54}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_93-hd.png</string>
            <key>size</key>
            <string>{56,301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cced618c52b9cf99e9b73f09fcd1c7f:191e7c5c91bf0fa3aefeb9f04c188c03:73928cb4b55117d79b245636f1f2763d$</string>
            <key>textureFileName</key>
            <string>icons/bird_93-hd.png</string>
        </dict>
    </dict>
</plist>
