<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_124_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{77,47}</string>
                <key>spriteSourceSize</key>
                <string>{77,57}</string>
                <key>textureRect</key>
                <string>{{1,54},{77,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_124_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{84,1},{73,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_124_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,103},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_124_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{80,76},{62,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_124_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{81,51}</string>
                <key>spriteSourceSize</key>
                <string>{81,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_124-hd.png</string>
            <key>size</key>
            <string>{125,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90d7d7977a6c88191f355ae596a1566d:f4390cf47565c3a4b25c0d491a655b88:876f82b0c803b54308b49baf74c30153$</string>
            <key>textureFileName</key>
            <string>icons/bird_124-hd.png</string>
        </dict>
    </dict>
</plist>
