<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_106_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,73}</string>
                <key>textureRect</key>
                <string>{{153,1},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_106_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{55,23}</string>
                <key>spriteSourceSize</key>
                <string>{55,25}</string>
                <key>textureRect</key>
                <string>{{128,1},{55,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_106_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_106_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{73,47}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{234,1},{73,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_106_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{83,57}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{43,1},{83,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_106-hd.png</string>
            <key>size</key>
            <string>{308,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95eee86e5edb363541c656e857fb887:d3f6f9a7f7ee24da998ba93d557dc49a:39537802d00c5b06cb879d177a156efb$</string>
            <key>textureFileName</key>
            <string>icons/bird_106-hd.png</string>
        </dict>
    </dict>
</plist>
