<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_47_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,44}</string>
                <key>textureRect</key>
                <string>{{83,2},{75,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_47_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,43}</string>
                <key>textureRect</key>
                <string>{{2,48},{74,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_47_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{43,79},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_47_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{33,4}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{43,48},{33,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_47_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_47-hd.png</string>
            <key>size</key>
            <string>{125,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea1c8686d80ff09bee5c9ad19321db1:22e7e870a043eb6a5693da98235532c8:ab392247b6a7cce5cea17f836d940198$</string>
            <key>textureFileName</key>
            <string>icons/bird_47-hd.png</string>
        </dict>
    </dict>
</plist>
