<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,31}</string>
                <key>spriteSourceSize</key>
                <string>{75,31}</string>
                <key>textureRect</key>
                <string>{{2,44},{75,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{45,27}</string>
                <key>spriteSourceSize</key>
                <string>{71,27}</string>
                <key>textureRect</key>
                <string>{{35,44},{45,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_36_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{59,27}</string>
                <key>textureRect</key>
                <string>{{64,83},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,35}</string>
                <key>spriteSourceSize</key>
                <string>{79,35}</string>
                <key>textureRect</key>
                <string>{{65,2},{79,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_36-hd.png</string>
            <key>size</key>
            <string>{102,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a27263769f6fd98009730a5d67da21d8:7d909efcded31d452bffcdd0d3fba35f:d2e13f664cf58385df3ffa8f32ddedad$</string>
            <key>textureFileName</key>
            <string>icons/bird_36-hd.png</string>
        </dict>
    </dict>
</plist>
