<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_138_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{93,46}</string>
                <key>spriteSourceSize</key>
                <string>{93,54}</string>
                <key>textureRect</key>
                <string>{{1,53},{93,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_138_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{83,39}</string>
                <key>spriteSourceSize</key>
                <string>{83,47}</string>
                <key>textureRect</key>
                <string>{{1,101},{83,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_138_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,142},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_138_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{79,19}</string>
                <key>spriteSourceSize</key>
                <string>{79,35}</string>
                <key>textureRect</key>
                <string>{{1,184},{79,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_138_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_138-hd.png</string>
            <key>size</key>
            <string>{99,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4414d5fbad44e6463a561695d8a5be40:d7eeb37d4b21b4140142a074a6d51716:4bf593bb5e086b37ee58ac034fcf29b1$</string>
            <key>textureFileName</key>
            <string>icons/bird_138-hd.png</string>
        </dict>
    </dict>
</plist>
