<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_69_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{38,102},{74,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_69_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{1,30},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_69_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,60},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_69_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,27}</string>
                <key>spriteSourceSize</key>
                <string>{70,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_69_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{1,102},{78,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_69-hd.png</string>
            <key>size</key>
            <string>{72,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3aff03a7931e6c64c5f4ed596df17f4:96fb78347a2d58ec43824de5c294eb5d:888f2e80a3d033123b2c43fe67b39d22$</string>
            <key>textureFileName</key>
            <string>icons/bird_69-hd.png</string>
        </dict>
    </dict>
</plist>
