<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,49}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{2,57},{72,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_28_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{76,72},{70,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_28_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,108},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_28_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{80,2},{68,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_28_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{76,53}</string>
                <key>spriteSourceSize</key>
                <string>{76,59}</string>
                <key>textureRect</key>
                <string>{{2,2},{76,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_28-hd.png</string>
            <key>size</key>
            <string>{123,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a837e7d11e9a4f27cb8c058d742083:7b67296c38b64a052f7f541ef1b5f3e8:c385cc591ff8bb249b41a2186ef90a53$</string>
            <key>textureFileName</key>
            <string>icons/bird_28-hd.png</string>
        </dict>
    </dict>
</plist>
