<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_90_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{82,1},{74,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_90_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,31}</string>
                <key>spriteSourceSize</key>
                <string>{72,31}</string>
                <key>textureRect</key>
                <string>{{1,41},{72,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_90_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,77},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_90_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{57,18}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{64,77},{57,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_90_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_90-hd.png</string>
            <key>size</key>
            <string>{122,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d03388be23310cf6fc07190bb2c1c2:8d52d8c34286117cbfb61f0a6be081f2:78aaf0f83e7852bbdb75734bca843efb$</string>
            <key>textureFileName</key>
            <string>icons/bird_90-hd.png</string>
        </dict>
    </dict>
</plist>
