<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{54,17}</string>
                <key>spriteSourceSize</key>
                <string>{54,27}</string>
                <key>textureRect</key>
                <string>{{94,2},{54,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{2,58},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{86,58},{37,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{44,42},{70,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_22-hd.png</string>
            <key>size</key>
            <string>{114,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e532d5512157df434c7ccdd868f5262b:04a15cd4f1c17096824977177ce99c6b:0d4de05c09bf01e7acb7cd57e8c7ea4f$</string>
            <key>textureFileName</key>
            <string>icons/bird_22-hd.png</string>
        </dict>
    </dict>
</plist>
