<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_145_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,35}</string>
                <key>spriteSourceSize</key>
                <string>{53,35}</string>
                <key>textureRect</key>
                <string>{{1,82},{53,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_145_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{1,119},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_145_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{1,42},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_145_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{1,152},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_145_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_145-hd.png</string>
            <key>size</key>
            <string>{59,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78e2dafbf80b3ebea6a9005d8dcdffd0:4ee80d751211db594ec8f6ca793af6a9:4d903ce30e220afd8631444994ef95e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_145-hd.png</string>
        </dict>
    </dict>
</plist>
