<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{2,42},{72,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_06_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{78,2},{62,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{79,43}</string>
                <key>spriteSourceSize</key>
                <string>{79,49}</string>
                <key>textureRect</key>
                <string>{{2,82},{79,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_06-hd.png</string>
            <key>size</key>
            <string>{120,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e9fb6857874b78776db639dfb96430:0b014de86d2d25238fcef44b28abc6b3:69385c0600e43ffd50e65f785b7d13e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_06-hd.png</string>
        </dict>
    </dict>
</plist>
