<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_77_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{85,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{92,1},{85,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_77_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,41}</string>
                <key>textureRect</key>
                <string>{{242,1},{79,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_77_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{179,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_77_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{323,1},{26,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_77_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{89,44}</string>
                <key>spriteSourceSize</key>
                <string>{89,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_77-hd.png</string>
            <key>size</key>
            <string>{339,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25cc74f7832d6815c5fab301a2fa042a:dafa94c19d1aaf8fbea3d41685b3f13e:05aece821e63d987208725d9a035b8f0$</string>
            <key>textureFileName</key>
            <string>icons/bird_77-hd.png</string>
        </dict>
    </dict>
</plist>
