<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_48_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,37}</string>
                <key>spriteSourceSize</key>
                <string>{70,37}</string>
                <key>textureRect</key>
                <string>{{141,2},{70,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_48_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,36}</string>
                <key>spriteSourceSize</key>
                <string>{69,36}</string>
                <key>textureRect</key>
                <string>{{213,2},{69,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_48_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{78,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_48_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,27}</string>
                <key>spriteSourceSize</key>
                <string>{66,29}</string>
                <key>textureRect</key>
                <string>{{284,2},{66,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_48_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,41}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_48-hd.png</string>
            <key>size</key>
            <string>{352,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ae1969506a09c60c269795ad12fe6a:0e0ce90f308e5485ff053b43134cfbef:afbd8fb70a37a45c68f62d7293c91f61$</string>
            <key>textureFileName</key>
            <string>icons/bird_48-hd.png</string>
        </dict>
    </dict>
</plist>
