<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_75_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,34}</string>
                <key>textureRect</key>
                <string>{{1,41},{82,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_75_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,31}</string>
                <key>spriteSourceSize</key>
                <string>{79,31}</string>
                <key>textureRect</key>
                <string>{{1,77},{79,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_75_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,99}</string>
                <key>textureRect</key>
                <string>{{85,41},{62,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_75_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{89,1},{38,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_75_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,38}</string>
                <key>spriteSourceSize</key>
                <string>{86,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_75-hd.png</string>
            <key>size</key>
            <string>{127,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98fd62ad03db0a12d053fe04121f883:4bddc6db876d6905f707d8e7a3d378c4:16108682b1fe70578cf0a5230eaca056$</string>
            <key>textureFileName</key>
            <string>icons/bird_75-hd.png</string>
        </dict>
    </dict>
</plist>
