<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{75,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{75,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{79,42},{72,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_03_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{2,78},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_03-hd.png</string>
            <key>size</key>
            <string>{110,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e5f132ae3ba68f2f496ef355009bdd:10fe5ba0a5487eed0fad4e53d61bc374:f1fc61386ac18dfb438596b30dd8cf95$</string>
            <key>textureFileName</key>
            <string>icons/bird_03-hd.png</string>
        </dict>
    </dict>
</plist>
