<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,47}</string>
                <key>textureRect</key>
                <string>{{2,49},{80,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_18_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{88,2},{44,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_18_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{84,49},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_18_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{84,45}</string>
                <key>spriteSourceSize</key>
                <string>{84,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_18-hd.png</string>
            <key>size</key>
            <string>{123,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd27faedd9b088ebb9fe027aa4a16a8:df4d75b695aee77faea269915171c6c4:281d944d3acfc8ceb8b42e288be18961$</string>
            <key>textureFileName</key>
            <string>icons/bird_18-hd.png</string>
        </dict>
    </dict>
</plist>
