<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_131_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{1,43},{72,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_131_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{55,78},{63,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_131_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_131_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{66,14}</string>
                <key>spriteSourceSize</key>
                <string>{66,28}</string>
                <key>textureRect</key>
                <string>{{39,43},{66,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_131_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{64,1},{75,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_131-hd.png</string>
            <key>size</key>
            <string>{119,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:118ecbdada2b96230f52cdf98da4e692:77733cc582d39d96fb959268d1f2f735:0b0904c3142cc61ec62676f91af303b7$</string>
            <key>textureFileName</key>
            <string>icons/bird_131-hd.png</string>
        </dict>
    </dict>
</plist>
