<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_147_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{1,43},{73,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_147_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{34,43},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_147_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_147_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{64,81},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_147_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{64,1},{78,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_147-hd.png</string>
            <key>size</key>
            <string>{100,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8ec5becb57afb7bd37483d96b158fd:a4705cd49335cb3f03c15c1758f5d3e1:529ba5546ce61fb004828f3d9aff7e0e$</string>
            <key>textureFileName</key>
            <string>icons/bird_147-hd.png</string>
        </dict>
    </dict>
</plist>
