<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_43_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{178,2},{77,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_43_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{76,38}</string>
                <key>textureRect</key>
                <string>{{257,2},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_43_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_43_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,32}</string>
                <key>textureRect</key>
                <string>{{152,2},{39,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_43_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{69,2},{81,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_43-hd.png</string>
            <key>size</key>
            <string>{335,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a453f781ed422cb169c8ee7675a4c53f:8a3370bb4a9c350f99fe9d0f8e2c5419:7b8a00d39baa23cccab49a9fa3798573$</string>
            <key>textureFileName</key>
            <string>icons/bird_43-hd.png</string>
        </dict>
    </dict>
</plist>
