<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_142_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{73,55}</string>
                <key>textureRect</key>
                <string>{{80,1},{73,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_142_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{69,42}</string>
                <key>spriteSourceSize</key>
                <string>{69,52}</string>
                <key>textureRect</key>
                <string>{{1,53},{69,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_142_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{55,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,99}</string>
                <key>textureRect</key>
                <string>{{72,76},{55,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_142_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{1,97},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_142_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{77,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_142-hd.png</string>
            <key>size</key>
            <string>{128,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0ef399ef5f6d69f4bc919ccf2dac2b:2a05a7f083e8bbfced8f71efcf3fb96b:3f597f7a468e7fb6da497cf88af1ff2d$</string>
            <key>textureFileName</key>
            <string>icons/bird_142-hd.png</string>
        </dict>
    </dict>
</plist>
