<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_88_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{1,47},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_88_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{72,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,43}</string>
                <key>textureRect</key>
                <string>{{1,89},{72,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_88_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{78,62},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_88_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{59,22}</string>
                <key>spriteSourceSize</key>
                <string>{59,42}</string>
                <key>textureRect</key>
                <string>{{82,1},{59,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_88_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{79,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_88-hd.png</string>
            <key>size</key>
            <string>{119,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be5bbc2d622c5512c3d5a341e8d5aa6:62a2f251ae0f523bc3ead094342a3650:e0558413d00eaeead0676a571ae22817$</string>
            <key>textureFileName</key>
            <string>icons/bird_88-hd.png</string>
        </dict>
    </dict>
</plist>
