<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,54}</string>
                <key>textureRect</key>
                <string>{{2,54},{75,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_34_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{79,65},{72,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_34_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{83,2},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_34_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{69,31}</string>
                <key>textureRect</key>
                <string>{{2,102},{69,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_34_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{79,50}</string>
                <key>spriteSourceSize</key>
                <string>{79,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_34-hd.png</string>
            <key>size</key>
            <string>{125,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfc0542f9fd206720dff49cabe796ef:b3b0286ff94fddd2e6c0979c1ef4d018:5b3aeef92af226801eff6e5aba28da4a$</string>
            <key>textureFileName</key>
            <string>icons/bird_34-hd.png</string>
        </dict>
    </dict>
</plist>
