<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,44}</string>
                <key>textureRect</key>
                <string>{{80,1},{73,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{69,36}</string>
                <key>spriteSourceSize</key>
                <string>{69,40}</string>
                <key>textureRect</key>
                <string>{{155,1},{69,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{296,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{226,1},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{77,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_112-hd.png</string>
            <key>size</key>
            <string>{358,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f168df0a709a9f97d7b76d868ed110d:d0dd4d5585bd7a754567646f0c6dfc8e:b469cb309459fb5d0699e54806de0db1$</string>
            <key>textureFileName</key>
            <string>icons/bird_112-hd.png</string>
        </dict>
    </dict>
</plist>
