<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{73,42}</string>
                <key>spriteSourceSize</key>
                <string>{73,50}</string>
                <key>textureRect</key>
                <string>{{1,49},{73,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1,133},{66,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_54_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{1,173},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_54_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{1,93},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{77,46}</string>
                <key>spriteSourceSize</key>
                <string>{77,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_54-hd.png</string>
            <key>size</key>
            <string>{79,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c4e854b8587c2d87da49354053c5f34:673ad5de8e20ff02de3462eae6b1efd3:04779022ab1b8a67920e1cdc1d875c02$</string>
            <key>textureFileName</key>
            <string>icons/bird_54-hd.png</string>
        </dict>
    </dict>
</plist>
