<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_25_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{2,78},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_25_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{2,44},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_25_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{65,2},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_25_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{61,26}</string>
                <key>spriteSourceSize</key>
                <string>{61,30}</string>
                <key>textureRect</key>
                <string>{{2,2},{61,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_25_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,38}</string>
                <key>spriteSourceSize</key>
                <string>{72,38}</string>
                <key>textureRect</key>
                <string>{{72,44},{72,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_25-hd.png</string>
            <key>size</key>
            <string>{128,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9345ea6fbb57fe32327d332dff411c45:d451de430b61502da04724c7a9336e41:d724dae3d38b343deed6507180770ffb$</string>
            <key>textureFileName</key>
            <string>icons/bird_25-hd.png</string>
        </dict>
    </dict>
</plist>
