<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_148_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{78,45}</string>
                <key>textureRect</key>
                <string>{{85,1},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{165,1},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{316,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{73,20}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{241,1},{73,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_148-hd.png</string>
            <key>size</key>
            <string>{378,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d578652a221379db582fde9f67fd2e6:d572730c8a0c81e6eaeb3ce5af90c173:ea893413a0ede062aea7fb22a9bee95e$</string>
            <key>textureFileName</key>
            <string>icons/bird_148-hd.png</string>
        </dict>
    </dict>
</plist>
