<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_146_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,38}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{140,1},{88,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_146_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,39}</string>
                <key>textureRect</key>
                <string>{{54,1},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_146_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{230,1},{61,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_146_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_146_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{293,1},{92,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_146-hd.png</string>
            <key>size</key>
            <string>{386,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d1bf14b08250bd09518c791937438e:ce5be75d644d052a206c37c897f47a41:f38cba4b2512b601d04498f1d72a3ace$</string>
            <key>textureFileName</key>
            <string>icons/bird_146-hd.png</string>
        </dict>
    </dict>
</plist>
