<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_137_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{80,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{87,1},{80,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_137_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{79,72}</string>
                <key>textureRect</key>
                <string>{{169,1},{69,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_137_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,98}</string>
                <key>textureRect</key>
                <string>{{87,61},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_137_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,28}</string>
                <key>textureRect</key>
                <string>{{1,66},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_137_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{84,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_137-hd.png</string>
            <key>size</key>
            <string>{222,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958e6f165eca69cd295481dae33b16a0:9415318ed3a86665e5d680571971bd1a:071030f5e2ae5133e940fde04659de7d$</string>
            <key>textureFileName</key>
            <string>icons/bird_137-hd.png</string>
        </dict>
    </dict>
</plist>
