<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{1,20},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{30,7}</string>
                <key>textureRect</key>
                <string>{{1,1},{18,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{38,17}</string>
                <key>textureRect</key>
                <string>{{21,1},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{1,66},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_40-hd.png</string>
            <key>size</key>
            <string>{56,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c451aa8f5d41b4592449d9b45fe7a03:7d98dd88f3aee1fa9ca895bb5741467f:d533f85d3469eb435f9724b7d37688df$</string>
            <key>textureFileName</key>
            <string>icons/dart_40-hd.png</string>
        </dict>
    </dict>
</plist>
