<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_71_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{61,35}</string>
                <key>textureRect</key>
                <string>{{1,42},{55,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_71_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{1,79},{35,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_71_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{42,13}</string>
                <key>textureRect</key>
                <string>{{38,79},{30,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_71_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_71-hd.png</string>
            <key>size</key>
            <string>{61,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3db0cbe407e334f6f3c28feeec830c91:2dc9515f491774f84522fe913e310565:ecceb47fcc94757bcb58495a4d99b996$</string>
            <key>textureFileName</key>
            <string>icons/dart_71-hd.png</string>
        </dict>
    </dict>
</plist>
