<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_52_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{56,37}</string>
                <key>textureRect</key>
                <string>{{1,36},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_52_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{49,33}</string>
                <key>textureRect</key>
                <string>{{13,1},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_52_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{14,3}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_52_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{1,75},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_52-hd.png</string>
            <key>size</key>
            <string>{62,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9081be064014758977310018faa5cd2f:231bb997576c32907443b40affbcd3ca:16f63dbbabaf1cff6d13c856b4d810b3$</string>
            <key>textureFileName</key>
            <string>icons/dart_52-hd.png</string>
        </dict>
    </dict>
</plist>
