<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_82_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{1,41},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_82_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{1,77},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_82_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{43,30}</string>
                <key>textureRect</key>
                <string>{{28,77},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_82_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,38}</string>
                <key>spriteSourceSize</key>
                <string>{59,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_82-hd.png</string>
            <key>size</key>
            <string>{61,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c6945bf492afdde2e1641e0ac95a7f:b8cecf23e745824d9573a8ed9b64b2d9:729098fcde68146b39a7db3db3eb120b$</string>
            <key>textureFileName</key>
            <string>icons/dart_82-hd.png</string>
        </dict>
    </dict>
</plist>
