<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{2,49},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{49,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{2,92},{49,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,10}</string>
                <key>textureRect</key>
                <string>{{42,92},{26,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{61,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_29-hd.png</string>
            <key>size</key>
            <string>{63,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8213322645309886153729f036cf1b8e:8363416e791b84c4ba5992eeb00f7302:8c0f7c099b955afc553e9b3702042daf$</string>
            <key>textureFileName</key>
            <string>icons/dart_29-hd.png</string>
        </dict>
    </dict>
</plist>
