<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{60,1},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{116,1},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{168,1},{33,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_60-hd.png</string>
            <key>size</key>
            <string>{202,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a613d9ada6b2c64565dc3f64a4808e:a683a340c5b44987f84745216e2efc94:8e5b5a67a25373e1ef8cd6e87b137312$</string>
            <key>textureFileName</key>
            <string>icons/dart_60-hd.png</string>
        </dict>
    </dict>
</plist>
