<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{2,21},{51,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_13_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{31,17}</string>
                <key>textureRect</key>
                <string>{{2,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_13_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{2,66},{55,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_13-hd.png</string>
            <key>size</key>
            <string>{59,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ada074dcb7b4ac829edc7fbfe685fb:14d0bee95e46907976667d4044a7c258:cb00578bb687c452fc9e45f5a7de0b59$</string>
            <key>textureFileName</key>
            <string>icons/dart_13-hd.png</string>
        </dict>
    </dict>
</plist>
