<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_79_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{44,1},{51,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_79_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{83,1},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_79_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{38,27}</string>
                <key>textureRect</key>
                <string>{{83,35},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_79_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_79-hd.png</string>
            <key>size</key>
            <string>{128,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19d4de60275f1105ca37422890a30b6:51a87f2a1b97f5155ca1e20513e291b4:f36ae5882c04e296ec2f8f02bc0cb8dc$</string>
            <key>textureFileName</key>
            <string>icons/dart_79-hd.png</string>
        </dict>
    </dict>
</plist>
