<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{43,1},{50,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{81,1},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{81,34},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_36-hd.png</string>
            <key>size</key>
            <string>{127,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f771bcc4c1daa5633fc098718322ab:393af7a236d9199400815deeba468eed:3dba026d98c1acdc0ebafb01092358c2$</string>
            <key>textureFileName</key>
            <string>icons/dart_36-hd.png</string>
        </dict>
    </dict>
</plist>
