<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_67_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{1,44},{51,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_67_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{1,83},{46,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_67_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{16,6}</string>
                <key>spriteSourceSize</key>
                <string>{38,10}</string>
                <key>textureRect</key>
                <string>{{49,83},{16,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_67_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_67-hd.png</string>
            <key>size</key>
            <string>{57,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd211397c58399d6e09d0227b7283554:a9e14c26c7fa7321e9cfc5bc47c53989:8826c03b76964b8d42acb5ef19a03bcf$</string>
            <key>textureFileName</key>
            <string>icons/dart_67-hd.png</string>
        </dict>
    </dict>
</plist>
