<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{2,48},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_24_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,37}</string>
                <key>spriteSourceSize</key>
                <string>{48,37}</string>
                <key>textureRect</key>
                <string>{{2,90},{48,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_24_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{24,3}</string>
                <key>spriteSourceSize</key>
                <string>{40,3}</string>
                <key>textureRect</key>
                <string>{{52,90},{24,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_24_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{57,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_24-hd.png</string>
            <key>size</key>
            <string>{59,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6520c238eff853fbf05858c8d68d2af3:759f3a1af2cfbdd3f75e555a28e48bd4:abb929e4ef2f43883d4a417500e9792b$</string>
            <key>textureFileName</key>
            <string>icons/dart_24-hd.png</string>
        </dict>
    </dict>
</plist>
