<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_49_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{55,38}</string>
                <key>textureRect</key>
                <string>{{1,45},{55,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_49_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{51,32}</string>
                <key>textureRect</key>
                <string>{{1,85},{47,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_49_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{35,85},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_49_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,42}</string>
                <key>spriteSourceSize</key>
                <string>{59,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_49-hd.png</string>
            <key>size</key>
            <string>{61,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2459ababe55e5edc8a2f1885fda47536:ce9563f180335bab24888f42e58201ab:dc6e739f2a65f7d46e13c61cb388d1df$</string>
            <key>textureFileName</key>
            <string>icons/dart_49-hd.png</string>
        </dict>
    </dict>
</plist>
