<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{64,41}</string>
                <key>textureRect</key>
                <string>{{49,2},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{51,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{49,45},{51,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_03-hd.png</string>
            <key>size</key>
            <string>{111,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f6af90a4e38b3a0ed28cde73776dee:8fcfd0f475d0108a425c3038b93c7d0d:564dd2450ab485e088f21aaefdb3e3d2$</string>
            <key>textureFileName</key>
            <string>icons/dart_03-hd.png</string>
        </dict>
    </dict>
</plist>
