<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{2,52},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_21_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{2,98},{29,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_21_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_21-hd.png</string>
            <key>size</key>
            <string>{60,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252fae3a0929645bab162660800d5538:db9930d92286efbcca4d191a79158fe1:e3335d4d2a73c0765c93981c9ce4626f$</string>
            <key>textureFileName</key>
            <string>icons/dart_21-hd.png</string>
        </dict>
    </dict>
</plist>
