<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_47_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,37}</string>
                <key>spriteSourceSize</key>
                <string>{49,37}</string>
                <key>textureRect</key>
                <string>{{44,1},{49,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_47_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,32}</string>
                <key>textureRect</key>
                <string>{{83,1},{43,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_47_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{83,35},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_47_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_47-hd.png</string>
            <key>size</key>
            <string>{127,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:970cc33d13007af5844c8d7540f507e0:9e36d221069ea5e50e0504b5a3444548:4ed1e9a0b12f43e3bae0eba06e43b68a$</string>
            <key>textureFileName</key>
            <string>icons/dart_47-hd.png</string>
        </dict>
    </dict>
</plist>
