<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_62_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{57,1},{49,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_62_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{57,39},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_62_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{1,43},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_62_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_62-hd.png</string>
            <key>size</key>
            <string>{107,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:326ad7eaa74107655fa947d79bc13376:0c09feb8d60322c227ee31feb48b380d:cdfcd0290ab0fa4b748dc17c62e2b5f8$</string>
            <key>textureFileName</key>
            <string>icons/dart_62-hd.png</string>
        </dict>
    </dict>
</plist>
