<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{1,42},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{1,79},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{55,79},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{59,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_58-hd.png</string>
            <key>size</key>
            <string>{61,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1f338f092def21a16a0792a2e21c1ab:fc4003d4133fe7b09670480b2daf5070:7b1cf774126aeb0ebe9b7365edbfb556$</string>
            <key>textureFileName</key>
            <string>icons/dart_58-hd.png</string>
        </dict>
    </dict>
</plist>
