<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{1,46},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{8,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{34,87},{8,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{1,87},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,43}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_96-hd.png</string>
            <key>size</key>
            <string>{63,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c88196fe20bcc628e3d49d3ca2892d5:01579391f1a34344b36233e90bf72d61:9ecad1e1173e5df3212b67fc218abb7e$</string>
            <key>textureFileName</key>
            <string>icons/dart_96-hd.png</string>
        </dict>
    </dict>
</plist>
