<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_55_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{1,46},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_55_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{1,87},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_55_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{31,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{32,87},{31,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_55_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_55-hd.png</string>
            <key>size</key>
            <string>{56,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c625de69a9b07b4edb15fbfd2c0359:2e0019eb713dd0d0466ad2dc70338c98:c083fcfc295bb4d4b5e66574f853971f$</string>
            <key>textureFileName</key>
            <string>icons/dart_55-hd.png</string>
        </dict>
    </dict>
</plist>
