<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{2,49},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{2,92},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_11-hd.png</string>
            <key>size</key>
            <string>{59,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89256b3ec141c191f35adfdda75a0923:f007b84f4f393b96f655708d1fbfeaeb:19ccf49066cd453e4d3656464f86b82c$</string>
            <key>textureFileName</key>
            <string>icons/dart_11-hd.png</string>
        </dict>
    </dict>
</plist>
