<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{2,43},{52,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{48,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{2,80},{48,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{62,39}</string>
                <key>textureRect</key>
                <string>{{2,2},{56,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_22-hd.png</string>
            <key>size</key>
            <string>{60,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be86f4a04bf32c8afb06c6521f36dfd6:bef4ff8338e970c84b5aa22a754d1f8b:67cdaa3cb3c544b3cc7369f0fcdf0141$</string>
            <key>textureFileName</key>
            <string>icons/dart_22-hd.png</string>
        </dict>
    </dict>
</plist>
