<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_88_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{40,1},{51,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_88_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{45,21}</string>
                <key>textureRect</key>
                <string>{{75,29},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_88_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{75,1},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_88_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_88-hd.png</string>
            <key>size</key>
            <string>{113,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb76427fe63955a3917d1caaa402e215:99eb0ab41fcfc177c541df8c2db08955:0c092b86d4a6323b2d7245ff70bb858b$</string>
            <key>textureFileName</key>
            <string>icons/dart_88-hd.png</string>
        </dict>
    </dict>
</plist>
