<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_74_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{1,46},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_74_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{24,87},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_74_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{1,87},{39,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_74_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_74-hd.png</string>
            <key>size</key>
            <string>{57,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee23432bf00c4e009c9fd647dcc6c411:e2e16bfe4e2ae9bd415d5b3cc4109fca:125a82eda58763620ef721b72db7dfb2$</string>
            <key>textureFileName</key>
            <string>icons/dart_74-hd.png</string>
        </dict>
    </dict>
</plist>
