<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_94_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{63,34}</string>
                <key>textureRect</key>
                <string>{{1,42},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{1,78},{51,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{1,110},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_94-hd.png</string>
            <key>size</key>
            <string>{61,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fdb7debed06e555b81041e803089aa9:eeb3a4dfe77090b397230bb051ba5faf:dbf52d9027295cf1679b9a976435ca7e$</string>
            <key>textureFileName</key>
            <string>icons/dart_94-hd.png</string>
        </dict>
    </dict>
</plist>
