<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_45_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{1,52},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_45_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{1,99},{53,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_45_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_45-hd.png</string>
            <key>size</key>
            <string>{64,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa42c99444fee3676b7fc81b8cb6eca2:72182c20ca319742fcab5e9c8a4a6341:2a7b756e9683825f9878872c8e408920$</string>
            <key>textureFileName</key>
            <string>icons/dart_45-hd.png</string>
        </dict>
    </dict>
</plist>
