<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_81_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{1,42},{48,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_81_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{39,27}</string>
                <key>textureRect</key>
                <string>{{1,79},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_81_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{24,79},{15,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_81_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_81-hd.png</string>
            <key>size</key>
            <string>{54,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f7b4bf322a552a05f7f6fba7b93412:9dc0f10bdb5236b8e9710006b6492c33:05041e26ea5fe22572cd4ef7d09a2e43$</string>
            <key>textureFileName</key>
            <string>icons/dart_81-hd.png</string>
        </dict>
    </dict>
</plist>
