<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{57,2},{50,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_19_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{105,2},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_19_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_19-hd.png</string>
            <key>size</key>
            <string>{143,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b63be02251693227e1433c59d1347662:8ed4e1046213da8aa869c444d0bb5969:cdfd520a457b2ea1c7a832ea338ee6f1$</string>
            <key>textureFileName</key>
            <string>icons/dart_19-hd.png</string>
        </dict>
    </dict>
</plist>
