<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_66_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{1,44},{50,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_66_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,27}</string>
                <key>spriteSourceSize</key>
                <string>{48,27}</string>
                <key>textureRect</key>
                <string>{{1,15},{46,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_66_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{40,18}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_66_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{1,77},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_66-hd.png</string>
            <key>size</key>
            <string>{56,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85a91ea1747ba34a81c6beffbe4c62a3:51e204634d0ee621ccdc88dba11a8c3a:10b4859bcf6c6980fb6b1de7d4ebcb6b$</string>
            <key>textureFileName</key>
            <string>icons/dart_66-hd.png</string>
        </dict>
    </dict>
</plist>
