<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_43_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{63,1},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_43_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{14,25}</string>
                <key>spriteSourceSize</key>
                <string>{50,25}</string>
                <key>textureRect</key>
                <string>{{1,50},{14,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_43_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{50,21}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{63,46},{50,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_43_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_43-hd.png</string>
            <key>size</key>
            <string>{120,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a2cddb7e937406d51f0b3bb7cdaadda:a92d5cf08445b5c798bd523b36542167:8dfb66f3d0ce06f54a08f960bf9283d7$</string>
            <key>textureFileName</key>
            <string>icons/dart_43-hd.png</string>
        </dict>
    </dict>
</plist>
