<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{2,2},{58,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_07_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{29,10}</string>
                <key>spriteSourceSize</key>
                <string>{35,10}</string>
                <key>textureRect</key>
                <string>{{45,49},{29,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_07_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{64,45}</string>
                <key>textureRect</key>
                <string>{{45,2},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_07-hd.png</string>
            <key>size</key>
            <string>{109,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6764e91862cca86d740c549b0f8b55ef:9533ae7437add412ad58048fa1990529:be7ebc9e33f7a946cfc8646f04927220$</string>
            <key>textureFileName</key>
            <string>icons/dart_07-hd.png</string>
        </dict>
    </dict>
</plist>
