<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{59,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_31_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{47,2},{56,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_31_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{4,8}</string>
                <key>spriteSourceSize</key>
                <string>{26,8}</string>
                <key>textureRect</key>
                <string>{{86,51},{4,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_31_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{69,47}</string>
                <key>textureRect</key>
                <string>{{86,2},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_31-hd.png</string>
            <key>size</key>
            <string>{151,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c562ca1b516f5a6de3e7ed4457e547:d669dcb5b9b3bf5be64f1cf46e5bae7e:9fd3bd599f2803e7c90b6a5a5265b53a$</string>
            <key>textureFileName</key>
            <string>icons/dart_31-hd.png</string>
        </dict>
    </dict>
</plist>
