<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_56_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{62,35}</string>
                <key>textureRect</key>
                <string>{{1,17},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_56_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{52,14}</string>
                <key>textureRect</key>
                <string>{{19,1},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_56_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_56_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{62,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{1,54},{62,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_56-hd.png</string>
            <key>size</key>
            <string>{64,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a239a6bd7b48fa78357144b420e9ccf9:508dd6f632dcb25ccf49e171a7350451:2aecff43f2b1760553102127db3ee8ff$</string>
            <key>textureFileName</key>
            <string>icons/dart_56-hd.png</string>
        </dict>
    </dict>
</plist>
