<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{1,47},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{1,89},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{7,4}</string>
                <key>spriteSourceSize</key>
                <string>{21,4}</string>
                <key>textureRect</key>
                <string>{{48,89},{7,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_83-hd.png</string>
            <key>size</key>
            <string>{55,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:380423c43c1191337dbb8856e10d0123:ec4fcf012289845da04ce95e56545cee:e749c83c038e4ed65e0b8c44190145dc$</string>
            <key>textureFileName</key>
            <string>icons/dart_83-hd.png</string>
        </dict>
    </dict>
</plist>
