<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,41}</string>
                <key>textureRect</key>
                <string>{{2,67},{59,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,20}</string>
                <key>textureRect</key>
                <string>{{2,128},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{63,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_06-hd.png</string>
            <key>size</key>
            <string>{49,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cce95d0ae269286afa3a092ddcafdb:e29c06d428af4f5003ebd8f1bc0c1287:d9bd2c6725ec462c6292cb9859e1a718$</string>
            <key>textureFileName</key>
            <string>icons/dart_06-hd.png</string>
        </dict>
    </dict>
</plist>
