<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_33_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,36}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{63,2},{55,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_33_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{120,2},{49,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_33_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{40,31}</string>
                <key>textureRect</key>
                <string>{{171,2},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_33_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{59,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_33-hd.png</string>
            <key>size</key>
            <string>{203,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8ae6421c6bde62cfbb5bb34a059c23c:c38fb02c61c93d1e0c3c7d351d05f748:213c7280f689d72734172781c3e468ac$</string>
            <key>textureFileName</key>
            <string>icons/dart_33-hd.png</string>
        </dict>
    </dict>
</plist>
