<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_39_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{59,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{70,1},{59,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_39_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{57,27}</string>
                <key>textureRect</key>
                <string>{{31,1},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_39_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_39_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{67,46}</string>
                <key>textureRect</key>
                <string>{{1,30},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_39-hd.png</string>
            <key>size</key>
            <string>{113,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16128464728a32bdb6a76e6519da6ab7:052e27753306981886d9b9873e384d77:16534c007b48e105d9a69e9e3bc69b96$</string>
            <key>textureFileName</key>
            <string>icons/dart_39-hd.png</string>
        </dict>
    </dict>
</plist>
