<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_68_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{1,41},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_68_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,31}</string>
                <key>spriteSourceSize</key>
                <string>{41,31}</string>
                <key>textureRect</key>
                <string>{{1,77},{41,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_68_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{34,77},{23,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_68_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_68-hd.png</string>
            <key>size</key>
            <string>{57,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44cfad81e570b4c2a00c99e9fb3991d7:4325c61001207cd3d8301c7727830223:1a2601131be7ef89e993e3599b8fabbf$</string>
            <key>textureFileName</key>
            <string>icons/dart_68-hd.png</string>
        </dict>
    </dict>
</plist>
