<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_57_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,37}</string>
                <key>spriteSourceSize</key>
                <string>{63,37}</string>
                <key>textureRect</key>
                <string>{{44,1},{63,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_57_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{44,40},{55,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_57_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{101,40},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_57_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_57-hd.png</string>
            <key>size</key>
            <string>{108,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21356f886b577f990eaee5834fc9950f:93b420c33f624749a2f3418ff480f15c:a03479e0bba012190523f9703a0aee25$</string>
            <key>textureFileName</key>
            <string>icons/dart_57-hd.png</string>
        </dict>
    </dict>
</plist>
