<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_38_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{1,48},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_38_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,31}</string>
                <key>textureRect</key>
                <string>{{34,91},{10,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_38_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{1,91},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_38_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_38-hd.png</string>
            <key>size</key>
            <string>{59,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b661e728b8e0bba2afa7c4128f38d08:7003099ff69c1bf947e77ab478d52ce1:d36e85c9711023d18fc036c06b21a0d3$</string>
            <key>textureFileName</key>
            <string>icons/dart_38-hd.png</string>
        </dict>
    </dict>
</plist>
