<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{85,2},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{73,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{164,2},{73,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_01-hd.png</string>
            <key>size</key>
            <string>{224,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce1b6e42fc8a031872838dd7d4fbd04f:2bc4cedd2a127b22e7c0675ac194a336:ecf21592f2e56971614d51c4ea2803ae$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_01-hd.png</string>
        </dict>
    </dict>
</plist>
