<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{78,2},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_14_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{150,2},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_14_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_14-hd.png</string>
            <key>size</key>
            <string>{208,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0195956312b0ec0ac80bca2f71451c2:1fdc605b4689dde4690976b759c8f418:4dcdd01366be911942824bd165a98916$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_14-hd.png</string>
        </dict>
    </dict>
</plist>
