<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_121_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{75,2},{67,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_121_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{140,2},{61,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_121_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{199,2},{51,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_121_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_121-hd.png</string>
            <key>size</key>
            <string>{244,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4831e7e76d21313ae059a6eff4d2edc:9b14a923b0c625a10ccfcd729ec10224:e9d0bdd166073aada895e16e8fcd7c96$</string>
            <key>textureFileName</key>
            <string>icons/player_121-hd.png</string>
        </dict>
    </dict>
</plist>
