<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{79,2},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{151,2},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_04-hd.png</string>
            <key>size</key>
            <string>{209,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998e13ccbd51e87a91d8ebd110d5e863:b57ddcfa00cfaea85255fb9a48675af2:08a186d2e583a32bf975677fec8b344b$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_04-hd.png</string>
        </dict>
    </dict>
</plist>
