<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{69,2},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{131,2},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_27-hd.png</string>
            <key>size</key>
            <string>{184,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b393ea5c4ba3ba37383f92cd158597ae:85a33fb8d74340bcfeeff06096191611:c1ccf4e788fd5d21e282bae95d2a2656$</string>
            <key>textureFileName</key>
            <string>icons/player_27-hd.png</string>
        </dict>
    </dict>
</plist>
