<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_48_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{79,2},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_48_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{152,2},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_48_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{152,70},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_48_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_48-hd.png</string>
            <key>size</key>
            <string>{220,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae2d00ac48d172f9b97fbae112628c04:e5f5864109893074931de04edea8e83b:9fa482c9f84438c67ad633b191f4a857$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_48-hd.png</string>
        </dict>
    </dict>
</plist>
