<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_105_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{72,2},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_105_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,55}</string>
                <key>textureRect</key>
                <string>{{72,69},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_105_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{2,73},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_105_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{2,2},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_105-hd.png</string>
            <key>size</key>
            <string>{138,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410275483043b1391c501a09d0e88e20:1b25f27286207c44fe1919fc47e448d0:a0eed8831c21cdb077d790563e67511a$</string>
            <key>textureFileName</key>
            <string>icons/player_105-hd.png</string>
        </dict>
    </dict>
</plist>
