<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{2,70},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{51,38}</string>
                <key>spriteSourceSize</key>
                <string>{51,56}</string>
                <key>textureRect</key>
                <string>{{76,2},{51,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{72,70},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_99-hd.png</string>
            <key>size</key>
            <string>{116,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21404e44e68bf9eaa65e467f30f741eb:d5167a130b5edee9ddefb4d88979d5a2:f9498bb770551afdac5238e3f0400e55$</string>
            <key>textureFileName</key>
            <string>icons/player_99-hd.png</string>
        </dict>
    </dict>
</plist>
