<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_89_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{1,78},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_89_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{1,151},{57,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_89_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{60,151},{65,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_89_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_89-hd.png</string>
            <key>size</key>
            <string>{119,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f0ed592023d52206e4c435cb4c2e47:330090a69417895e403f2823c413e375:8f993067ff69ce0fcaf9371e0e6ded58$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_89-hd.png</string>
        </dict>
    </dict>
</plist>
