<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{79,2},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_09_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{27,48}</string>
                <key>spriteSourceSize</key>
                <string>{27,66}</string>
                <key>textureRect</key>
                <string>{{151,2},{27,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_09_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_09-hd.png</string>
            <key>size</key>
            <string>{180,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c32722f5ebb0d3123759829b3e10ee:f558e41502513c9f236b12cfbe4b5b72:417f8eeadc4a1b0cf4091a53b68aae27$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_09-hd.png</string>
        </dict>
    </dict>
</plist>
