<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{69,2},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{131,2},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_22-hd.png</string>
            <key>size</key>
            <string>{182,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bb43bac2bd01b27f77940a9fd21c485:dd3a8bbda0c2c7d695f232499da40127:48d20034807ab237eabedeae3c711b9b$</string>
            <key>textureFileName</key>
            <string>icons/player_22-hd.png</string>
        </dict>
    </dict>
</plist>
