<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,77},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{1,149},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{64,149},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_96-hd.png</string>
            <key>size</key>
            <string>{125,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28db57d81c2099c0394980d446dd7fb8:33170e3e680726f528434c2153a4c9a8:11409bdec6f6bb8f88b6b45a07788dd1$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_96-hd.png</string>
        </dict>
    </dict>
</plist>
