<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_50_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{78,2},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_50_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{150,69},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_50_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{150,2},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_50_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_50-hd.png</string>
            <key>size</key>
            <string>{210,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52257a19514994111d541bc4cdb99a19:9a0aff60db2cb1df5fad3e6f329a0208:0242f26b67de8c1257be5afcfe8ba54b$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_50-hd.png</string>
        </dict>
    </dict>
</plist>
