<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{78,2},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{150,2},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_27-hd.png</string>
            <key>size</key>
            <string>{188,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f0374f0758783c20d69ef59e5c7c05:2298770ac8acee4e11b6e9eb8fe0a5a6:a783c02fce734049709db63d90e4c633$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_27-hd.png</string>
        </dict>
    </dict>
</plist>
