<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{1,75},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{68,145},{47,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,65}</string>
                <key>textureRect</key>
                <string>{{1,145},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_112-hd.png</string>
            <key>size</key>
            <string>{115,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db111b00127539c600c79eaea846f7e:986289b18040a041873fb356a1099d22:3316cce2a7914083d37e0e5fbda74d0a$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_112-hd.png</string>
        </dict>
    </dict>
</plist>
