<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{69,2},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_18_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{131,2},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_18_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_18-hd.png</string>
            <key>size</key>
            <string>{188,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4892cbd65d4f31c50d3323cd0dca1ce3:52f192c1293736122db53a6ec2f4556f:89e6100f2d4c3da295a2f40d26587545$</string>
            <key>textureFileName</key>
            <string>icons/player_18-hd.png</string>
        </dict>
    </dict>
</plist>
