<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_152_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{78,2},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_152_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{150,2},{64,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_152_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,15}</string>
                <key>spriteSize</key>
                <string>{4,25}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{78,65},{4,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_152_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_152-hd.png</string>
            <key>size</key>
            <string>{208,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daeca376e8f524cfe5cd3f4f8c3f589c:4c60851e65ccbe87148cc8634410b0b2:0a03babdad8409c34adf4a7face0b1a8$</string>
            <key>textureFileName</key>
            <string>icons/player_152-hd.png</string>
        </dict>
    </dict>
</plist>
