<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_111_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{71,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{197,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,66}</string>
                <key>textureRect</key>
                <string>{{137,1},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_111-hd.png</string>
            <key>size</key>
            <string>{242,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad6ccbe426016675491b502ecdbcd82:41d3e8c0fb78b82448dba8fa5c54a2e7:9a48ef3de1e44c4067e6a24ac490fa77$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_111-hd.png</string>
        </dict>
    </dict>
</plist>
