<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_91_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{74,1},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_91_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{143,1},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_91_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{143,64},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_91_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_91-hd.png</string>
            <key>size</key>
            <string>{210,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ca343cfc533e339829fa5d9c3558db:f064f693a7679082f2311749959b0b50:d598ce2c6c91c21dd69636b5d4357363$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_91-hd.png</string>
        </dict>
    </dict>
</plist>
