<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{2,68},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{2,130},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,55}</string>
                <key>spriteSourceSize</key>
                <string>{67,55}</string>
                <key>textureRect</key>
                <string>{{2,188},{67,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_113-hd.png</string>
            <key>size</key>
            <string>{80,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c7c43a5bf7158bafb761b9337237ca:a68b1299d655a99199e160b6807e6d42:6c64d06c3c12d6a0f9a9722b87604da1$</string>
            <key>textureFileName</key>
            <string>icons/player_113-hd.png</string>
        </dict>
    </dict>
</plist>
