<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{2,78},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_17_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{2,148},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_17_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_17-hd.png</string>
            <key>size</key>
            <string>{76,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67039e975aec6b5593f70f2fb8caa6d3:d2b4509de2437b1a3422f1d6dbc9786c:b8d1248f2d47b95a8a843e60d5e7abe7$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_17-hd.png</string>
        </dict>
    </dict>
</plist>
