<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_151_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,73}</string>
                <key>textureRect</key>
                <string>{{2,77},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{2,148},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{54,4}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{2,196},{54,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_151-hd.png</string>
            <key>size</key>
            <string>{68,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f440193f646ce19e4ea241aa34ae5e15:1be8d162b26834b475d8a6a238a007c7:99bbcc4d4c1d0a4d22b1fb82d2a567a9$</string>
            <key>textureFileName</key>
            <string>icons/player_151-hd.png</string>
        </dict>
    </dict>
</plist>
