<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_66_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{70,1},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_66_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{62,71}</string>
                <key>textureRect</key>
                <string>{{135,1},{62,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_66_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{135,74},{53,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_66_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_66-hd.png</string>
            <key>size</key>
            <string>{198,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43769270761b1a59a1a30896c242e6a8:990a0c0925b75b2279081aec827454e6:7b30348c296ebd80562a1fa1f135191e$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_66-hd.png</string>
        </dict>
    </dict>
</plist>
