<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_154_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{69,2},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_154_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{37,15}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{132,58},{37,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_154_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{132,2},{54,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_154_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_154-hd.png</string>
            <key>size</key>
            <string>{173,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d08c1076588bf2603ce986bd15f219:44afa9caf4a9318f0c16498c02bae3bf:8afb5e6525b2e132b2318dad18b44642$</string>
            <key>textureFileName</key>
            <string>icons/player_154-hd.png</string>
        </dict>
    </dict>
</plist>
