<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_127_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{2,68},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_127_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{67,68},{55,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_127_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{71,2},{60,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_127_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_127-hd.png</string>
            <key>size</key>
            <string>{110,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a47919cb49d6a95cef8e2514d12a411:7c048500a44863e72e6cc8f40621c764:52622e0e74ac4d7e4c3b87cd3b0ea732$</string>
            <key>textureFileName</key>
            <string>icons/player_127-hd.png</string>
        </dict>
    </dict>
</plist>
