<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_90_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{2,71},{60,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_90_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,60}</string>
                <key>textureRect</key>
                <string>{{2,133},{41,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_90_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_90-hd.png</string>
            <key>size</key>
            <string>{68,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab5c7c943e9c7d44f43353789cda68a:1ba7fd6e2069fe592f5e01ecb3a33acb:4cbccfe63bc1a1469febffc4dd44a2d0$</string>
            <key>textureFileName</key>
            <string>icons/player_90-hd.png</string>
        </dict>
    </dict>
</plist>
