<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{68,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{130,2},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_60-hd.png</string>
            <key>size</key>
            <string>{176,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3baa097f2b26f235a569dad2f556813:d4bc176611387899e3309cac00e934b4:dfe2afe08e4e11c1ab118f4d2cd4f280$</string>
            <key>textureFileName</key>
            <string>icons/player_60-hd.png</string>
        </dict>
    </dict>
</plist>
