<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{67,61}</string>
                <key>textureRect</key>
                <string>{{2,122},{67,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{2,61},{65,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{2,185},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_116-hd.png</string>
            <key>size</key>
            <string>{75,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:627e97687a2ef58e54eecc66f972571a:47f54abc4364228f0c34b456b24e08bc:81bf75dbe0655668657ee847ebe12d34$</string>
            <key>textureFileName</key>
            <string>icons/player_116-hd.png</string>
        </dict>
    </dict>
</plist>
