<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_82_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{79,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{153,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{8,7}</string>
                <key>textureRect</key>
                <string>{{153,70},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_82-hd.png</string>
            <key>size</key>
            <string>{221,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abdaca89a2f449f330380dbe0e2490fd:52bb962afbdade6846484786b7f0a6dd:83cf070fd36445358fb7901b3d830fed$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_82-hd.png</string>
        </dict>
    </dict>
</plist>
