<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{71,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{71,67},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_54_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{1,71},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_54-hd.png</string>
            <key>size</key>
            <string>{136,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:202fe24d14d959a8a786c4ee290546b1:480611f993c2ee39693f1ea265fe8adb:3f8da60e0fbff0a044a76cb69ad2bafc$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_54-hd.png</string>
        </dict>
    </dict>
</plist>
