<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_69_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{1,77},{70,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_69_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,149},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_69_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{65,52}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{71,149},{65,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_69_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_69-hd.png</string>
            <key>size</key>
            <string>{124,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c24df8e3000c225e4b4ff1090eac363:80dc77039a1b1b4b6f001ff913a20273:b1a342ee1304352f1dfbe1bcfea9fc37$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_69-hd.png</string>
        </dict>
    </dict>
</plist>
