<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_74_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{71,2},{63,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_74_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{133,2},{59,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_74_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_74-hd.png</string>
            <key>size</key>
            <string>{182,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bde55e41924d99aa53c4675beccdfbf9:9374aaea4c37e0821552d8c7a8427dea:87c0bcdd995c6c0e9888042a5b72fa6e$</string>
            <key>textureFileName</key>
            <string>icons/player_74-hd.png</string>
        </dict>
    </dict>
</plist>
