<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_52_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{77,2},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_52_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{148,71},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_52_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{148,2},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_52_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{73,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_52-hd.png</string>
            <key>size</key>
            <string>{213,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c23c58b8757134666080d975727c2c:a2e366cf7bf8650d2532ce19a90fab59:dcf7024ba84295377be60614c46086d6$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_52-hd.png</string>
        </dict>
    </dict>
</plist>
