<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_43_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{2,78},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_43_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{2,150},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_43_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_43-hd.png</string>
            <key>size</key>
            <string>{78,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4fd801966c102ce5444af0eb7141c28:e14c4cbd19de3b1d4b6123cfd41b5be3:cf0984013ce94277ac46ce2a47d198aa$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_43-hd.png</string>
        </dict>
    </dict>
</plist>
