<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_108_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{2,70},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_108_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{2,132},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_108_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_108-hd.png</string>
            <key>size</key>
            <string>{68,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ede8bb1f8feab7525ea1ac3d2865ca56:82ee846d69c2f9c507df49f253a6cdb6:396622ddac01f72ac94733a091af79d0$</string>
            <key>textureFileName</key>
            <string>icons/player_108-hd.png</string>
        </dict>
    </dict>
</plist>
