<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{69,1},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{132,1},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,63}</string>
                <key>spriteSourceSize</key>
                <string>{56,63}</string>
                <key>textureRect</key>
                <string>{{191,1},{56,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_58-hd.png</string>
            <key>size</key>
            <string>{248,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516ce8db8ddb980ccd6936c03bb9833b:14778fee2e36e251212aaafca973cf38:c4eaf5d1ee21024d2d3608d4441e5704$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_58-hd.png</string>
        </dict>
    </dict>
</plist>
