<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_92_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{68,1},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,65}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{131,1},{55,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{188,1},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_92-hd.png</string>
            <key>size</key>
            <string>{243,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb578d198376e18198b8008c06c4a5dd:d10e0a5d7b87b21fbabaf6eae2fb960a:4db61b31f7af5c294fd80b1a5067fcf6$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_92-hd.png</string>
        </dict>
    </dict>
</plist>
