<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{79,2},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_35_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{152,2},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_35_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{152,60},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_35_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_35-hd.png</string>
            <key>size</key>
            <string>{210,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80e7738e77c3133d32d96aeae03c9065:936c70c101f6c21f5d74047bd28e25e7:9438fb0fa5f4ab8fd31aa4488e142141$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_35-hd.png</string>
        </dict>
    </dict>
</plist>
