<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_135_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{2,73},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_135_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{2,140},{56,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_135_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_135-hd.png</string>
            <key>size</key>
            <string>{68,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6741ade68dd4c8e5d41ad4b06d6a128d:7696d03e093e6f271e67e7c31b4732c7:a3f957e33cf59f647f62992ca318ead8$</string>
            <key>textureFileName</key>
            <string>icons/player_135-hd.png</string>
        </dict>
    </dict>
</plist>
