<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{69,2},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{131,2},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_32-hd.png</string>
            <key>size</key>
            <string>{172,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e493f8f12032d238d53a5f9d06e6834:eae5d6e51f3edee84a0b733761503c79:724cb6c1f9463f6ba3d8c379b9279e8a$</string>
            <key>textureFileName</key>
            <string>icons/player_32-hd.png</string>
        </dict>
    </dict>
</plist>
