<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{77,1},{70,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{77,73},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{1,76},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_113-hd.png</string>
            <key>size</key>
            <string>{147,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e5d8669b6be240ef2dcdfa2a45bd0ab:ed15c4ffa7b08a12c04a515e45e336a3:6c5ccd7df64c9348a808c6a24a99d0ef$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_113-hd.png</string>
        </dict>
    </dict>
</plist>
