<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_56_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,70}</string>
                <key>textureRect</key>
                <string>{{77,1},{63,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_56_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{149,1},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_56_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{206,1},{54,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_56_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{67,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_56-hd.png</string>
            <key>size</key>
            <string>{255,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad48ffc9e2b1358f5e3a31212fd74c5d:38a77c2d770220222c3d2e811eb6c0c4:1e465848dced6e2e00a2feacc23810ef$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_56-hd.png</string>
        </dict>
    </dict>
</plist>
