<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_106_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{1,78},{71,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_106_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{74,78},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_106_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{78,1},{65,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_106_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_106-hd.png</string>
            <key>size</key>
            <string>{143,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8351739a0cae7a1cc4b4c0cfd7642ca:57cb33f489ad93dcf2fd3bbb078aef72:dc00013d226e213b5837e8735503aab4$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_106-hd.png</string>
        </dict>
    </dict>
</plist>
