<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_13_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{70,2},{63,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_13_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{2,61},{56,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_13_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{9,7}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{27,119},{9,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{66,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{66,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{69,67},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,15}</string>
                <key>spriteSourceSize</key>
                <string>{9,15}</string>
                <key>textureRect</key>
                <string>{{114,94},{9,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{44,100},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_13_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{114,67},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{2,119},{7,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_13_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{93,67},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,19}</string>
                <key>spriteSourceSize</key>
                <string>{33,19}</string>
                <key>textureRect</key>
                <string>{{79,99},{33,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_13_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{114,111},{13,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_13_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{37,23}</string>
                <key>textureRect</key>
                <string>{{44,61},{37,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_13-hd.png</string>
            <key>size</key>
            <string>{125,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b31052485ea053c2bfcd818d23f7ff:d228c2756e4183be7e2f8756e4e54164:fce90a49de6d7c0652abc4101e341c7a$</string>
            <key>textureFileName</key>
            <string>icons/robot_13-hd.png</string>
        </dict>
    </dict>
</plist>
