<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_24_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,70}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{125,2},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,74}</string>
                <key>textureRect</key>
                <string>{{59,2},{59,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{166,35},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{156,48},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{163,2},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{211,2},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{206,39},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{125,48},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{187,35},{27,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{211,29},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{188,2},{31,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_24-hd.png</string>
            <key>size</key>
            <string>{222,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838727c81520cda754a894a6a995cc10:adb5b160eacb39f739d5c68bf66273dd:7a0ac099a7e007d7d1cf4bd5627e07f2$</string>
            <key>textureFileName</key>
            <string>icons/robot_24-hd.png</string>
        </dict>
    </dict>
</plist>
