<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_29_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{1,55},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{1,105},{54,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,44}</string>
                <key>textureRect</key>
                <string>{{1,150},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{41,186},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{41,213},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{1,209},{26,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{30,249},{10,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{32,209},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{32,234},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{45,150},{34,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{1,237},{27,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{1,185},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_29-hd.png</string>
            <key>size</key>
            <string>{64,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260b7f6cf1fcf6c02df74b1d8a51ddb7:cda9079b7db7c8f8a5e0c0433c1e0aa2:9a386296f9ec428c808a12aa3e9666e7$</string>
            <key>textureFileName</key>
            <string>icons/robot_29-hd.png</string>
        </dict>
    </dict>
</plist>
