<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_28_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,39}</string>
                <key>textureRect</key>
                <string>{{68,1},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{56,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{131,1},{56,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,8}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{128,42},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{65,44}</string>
                <key>spriteSourceSize</key>
                <string>{71,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{183,38},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{108,42},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{189,1},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{33,47},{10,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{214,36},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{1,47},{14,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{76,42},{30,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,13}</string>
                <key>textureRect</key>
                <string>{{61,47},{14,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,21}</string>
                <key>textureRect</key>
                <string>{{147,38},{34,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_28-hd.png</string>
            <key>size</key>
            <string>{222,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa616ad76e81e6fab23b27b6eeae1073:a7b234112bd4f163aa9da597f523f86d:677df4c74a53124cc214534bcaed9fcc$</string>
            <key>textureFileName</key>
            <string>icons/robot_28-hd.png</string>
        </dict>
    </dict>
</plist>
