<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_10_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{78,47}</string>
                <key>spriteSourceSize</key>
                <string>{80,53}</string>
                <key>textureRect</key>
                <string>{{2,55},{78,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{49,26}</string>
                <key>spriteSourceSize</key>
                <string>{75,48}</string>
                <key>textureRect</key>
                <string>{{86,2},{49,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{82,51}</string>
                <key>spriteSourceSize</key>
                <string>{84,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{82,88},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{74,115},{9,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{82,55},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{114,15},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{111,88},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{113,53},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{40,104},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{114,2},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{2,104},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_10-hd.png</string>
            <key>size</key>
            <string>{128,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a7b8a40a0ed6ec1140e27649492ece:ee4cd6af9df91471942df9470c462114:cb6823dd8c7bb8a47c8e9701c3d592c2$</string>
            <key>textureFileName</key>
            <string>icons/robot_10-hd.png</string>
        </dict>
    </dict>
</plist>
