<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_11_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{2,52},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{53,42}</string>
                <key>textureRect</key>
                <string>{{2,98},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{63,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{59,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{35,142},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_11_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{33,193},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{2,142},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_11_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{35,182},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_11_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{55,98},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{2,190},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_11_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{35,163},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{43,193},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_11_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{2,167},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_11-hd.png</string>
            <key>size</key>
            <string>{64,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a9ba94e527c3f7c7ac8581fdd15fa9:d0805dfb785920ee84af2b9f2dad4666:c3e990372f778ad347fe1dd69e620064$</string>
            <key>textureFileName</key>
            <string>icons/robot_11-hd.png</string>
        </dict>
    </dict>
</plist>
