<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_43_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{76,1},{69,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{67,46}</string>
                <key>textureRect</key>
                <string>{{1,57},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,45}</string>
                <key>textureRect</key>
                <string>{{68,72},{48,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{73,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{99,117},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{57,132},{16,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{24,105},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{57,105},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{7,13}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{118,72},{7,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{68,117},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{24,130},{31,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{83,138},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{35,21}</string>
                <key>spriteSourceSize</key>
                <string>{37,21}</string>
                <key>textureRect</key>
                <string>{{1,105},{35,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_43-hd.png</string>
            <key>size</key>
            <string>{127,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4005b485d0285b3bbe49925f461069b:ae49161cbc2ecb300e9b2461de10de8a:1a739e5a1d03ee89428a337df0a965b9$</string>
            <key>textureFileName</key>
            <string>icons/robot_43-hd.png</string>
        </dict>
    </dict>
</plist>
