<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_19_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{111,59}</string>
                <key>textureRect</key>
                <string>{{2,65},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{67,48}</string>
                <key>textureRect</key>
                <string>{{2,124},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{115,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{93,74},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{9,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{93,114},{9,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_19_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{84,125},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_19_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{93,103},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_19_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{116,40},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{69,124},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{97,40},{32,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_19_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{69,155},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_19_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{97,2},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_19-hd.png</string>
            <key>size</key>
            <string>{120,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05769f32ea5512f655d61c3908c9969d:f966a9b14a8f42a4b88b67810b0f6f8a:4bc4e9c09945baa3ccfaa731e32f91d3$</string>
            <key>textureFileName</key>
            <string>icons/robot_19-hd.png</string>
        </dict>
    </dict>
</plist>
