<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_65_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{50,1},{56,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,38}</string>
                <key>spriteSourceSize</key>
                <string>{51,38}</string>
                <key>textureRect</key>
                <string>{{1,63},{51,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{50,15}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{41,63},{50,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{95,38},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{50,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{58,59},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,32}</string>
                <key>spriteSourceSize</key>
                <string>{10,32}</string>
                <key>textureRect</key>
                <string>{{109,76},{10,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,26}</string>
                <key>spriteSourceSize</key>
                <string>{5,26}</string>
                <key>textureRect</key>
                <string>{{93,69},{5,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,36}</string>
                <key>spriteSourceSize</key>
                <string>{14,36}</string>
                <key>textureRect</key>
                <string>{{93,76},{14,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,20}</string>
                <key>spriteSourceSize</key>
                <string>{31,20}</string>
                <key>textureRect</key>
                <string>{{58,87},{31,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{50,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{95,1},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_65-hd.png</string>
            <key>size</key>
            <string>{120,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd84fe855347c18229d8a344e58039b4:e93d3e01a5bb9cb0ad7593207d37b639:d436a47768b79bee3d4136bd956c8842$</string>
            <key>textureFileName</key>
            <string>icons/robot_65-hd.png</string>
        </dict>
    </dict>
</plist>
