<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_12_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{71,2},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,14}</string>
                <key>spriteSize</key>
                <string>{35,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{136,2},{35,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{197,2},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{208,49},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{136,39},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{169,36},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{180,36},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{182,2},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{189,33},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{16,9}</string>
                <key>spriteSourceSize</key>
                <string>{24,13}</string>
                <key>textureRect</key>
                <string>{{208,31},{16,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{159,2},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_12-hd.png</string>
            <key>size</key>
            <string>{219,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d47538a3be2c50a5190b6b9af70535:98fb96315960d1f6274f00758d2b07fb:688d1f8b52dc3d9458420ae1cd697b29$</string>
            <key>textureFileName</key>
            <string>icons/robot_12-hd.png</string>
        </dict>
    </dict>
</plist>
