<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_20_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{74,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,57}</string>
                <key>textureRect</key>
                <string>{{82,2},{74,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{67,44}</string>
                <key>spriteSourceSize</key>
                <string>{75,52}</string>
                <key>textureRect</key>
                <string>{{158,2},{67,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{78,53}</string>
                <key>spriteSourceSize</key>
                <string>{82,61}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{280,2},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{227,40},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_20_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{250,2},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{158,48},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_20_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,23}</string>
                <key>spriteSourceSize</key>
                <string>{9,23}</string>
                <key>textureRect</key>
                <string>{{82,53},{9,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_20_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{15,29}</string>
                <key>textureRect</key>
                <string>{{282,32},{15,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{248,40},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{18,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,15}</string>
                <key>textureRect</key>
                <string>{{185,48},{18,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_20_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{227,2},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_20-hd.png</string>
            <key>size</key>
            <string>{306,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0018d522a833ff94893f40dd5e7a38:97994929556234932289c1f493807456:042b95d899384568356ebb1cf3ce6a1d$</string>
            <key>textureFileName</key>
            <string>icons/robot_20-hd.png</string>
        </dict>
    </dict>
</plist>
