<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_60_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,44}</string>
                <key>spriteSourceSize</key>
                <string>{53,44}</string>
                <key>textureRect</key>
                <string>{{1,60},{53,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{47,91},{13,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{51,39},{8,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{32,148},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{51,28},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{36,115},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{51,1},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{7,13}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{47,106},{7,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_60_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{47,60},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{29,17}</string>
                <key>textureRect</key>
                <string>{{1,138},{29,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{23,8}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{1,157},{23,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_60_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{1,115},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_60-hd.png</string>
            <key>size</key>
            <string>{61,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19b427577f0d52950c20e335628ed2a:d7274f8bb163f0b94f56b1b704e83793:a5f4ecb9eb4eededc3aefca65af7ca0e$</string>
            <key>textureFileName</key>
            <string>icons/robot_60-hd.png</string>
        </dict>
    </dict>
</plist>
