<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_64_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_64_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{123,1},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_64_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{218,1},{22,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_64_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{57,1},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{159,35},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{213,28},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,32}</string>
                <key>spriteSourceSize</key>
                <string>{23,32}</string>
                <key>textureRect</key>
                <string>{{159,1},{23,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{207,1},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{7,13}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{213,54},{7,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_64_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{198,34},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{179,35},{27,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_64_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{123,57},{23,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_64_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{184,1},{31,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_64-hd.png</string>
            <key>size</key>
            <string>{230,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fccf6115fe206fcb5fbdc0c4b25491f:fe484975902b77eed4760e207df71a48:d6c68359293c5213e22bd966c3b9a5d4$</string>
            <key>textureFileName</key>
            <string>icons/robot_64-hd.png</string>
        </dict>
    </dict>
</plist>
