<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_21_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{2,126},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{2,80},{57,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{2,181},{62,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_21_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{2,26},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_21_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{33,18},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{2,47},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,13}</string>
                <key>spriteSourceSize</key>
                <string>{5,13}</string>
                <key>textureRect</key>
                <string>{{2,2},{5,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_21_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{17,2},{7,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_21_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{2,11},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_21_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{31,36},{31,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{42,2},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_21_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{35,22}</string>
                <key>spriteSourceSize</key>
                <string>{37,22}</string>
                <key>textureRect</key>
                <string>{{27,56},{35,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_21-hd.png</string>
            <key>size</key>
            <string>{64,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c6eb3319640f23632ebf62a492f0fe:6d59d82466d9ae5ff5d773b6aee8bba0:59cc7abe2cf3bc19ca0a9b0709bcaa8f$</string>
            <key>textureFileName</key>
            <string>icons/robot_21-hd.png</string>
        </dict>
    </dict>
</plist>
