<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_55_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{1,67},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{69,86},{62,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{54,27}</string>
                <key>textureRect</key>
                <string>{{28,129},{20,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{106,57},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,23}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{108,32},{17,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{73,43},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{1,129},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{1,140},{7,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{112,1},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{73,24},{33,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{29,13}</string>
                <key>textureRect</key>
                <string>{{69,70},{13,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{37,21}</string>
                <key>textureRect</key>
                <string>{{73,1},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_55-hd.png</string>
            <key>size</key>
            <string>{128,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069d798c3740dc8f060f9812fa8d212c:473804e1100fb6fd1afa94e06b2436da:813184ed25329633e9502c2aa6f2a780$</string>
            <key>textureFileName</key>
            <string>icons/robot_55-hd.png</string>
        </dict>
    </dict>
</plist>
