<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_52_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{1,74},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{1,143},{63,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{61,33}</string>
                <key>textureRect</key>
                <string>{{1,208},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{34,244},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{53,74},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{1,231},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{53,100},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{53,127},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{48,152},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{1,256},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{48,183},{13,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{40,208},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_52-hd.png</string>
            <key>size</key>
            <string>{64,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a49e181bffa25dc26323405afb52af:5151847c5186798c52acca08d3522a12:3738b565c54dd7ee45e67becc87dba55$</string>
            <key>textureFileName</key>
            <string>icons/robot_52-hd.png</string>
        </dict>
    </dict>
</plist>
