<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_07_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{2,65},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{71,65},{57,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_07_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{75,35},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{27,16}</string>
                <key>textureRect</key>
                <string>{{119,21},{9,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_07_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{75,2},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{120,89},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{131,89},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{120,58},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{106,2},{32,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{106,21},{12,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{102,35},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_07-hd.png</string>
            <key>size</key>
            <string>{140,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebc6a52c16605136b95f149ca53ca4f:d0f1f61ce833dca9957dc9be09f876f4:224fcef68b6ecfbe2e50e63d487ed661$</string>
            <key>textureFileName</key>
            <string>icons/robot_07-hd.png</string>
        </dict>
    </dict>
</plist>
