<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_14_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{75,2},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{144,2},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{71,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{71,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{240,2},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{265,29},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{210,2},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{265,2},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{144,54},{7,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{243,33},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{258,33},{27,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{265,29},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{210,37},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_14-hd.png</string>
            <key>size</key>
            <string>{277,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70fde21633f8d547962b700d8350bb1:704ffe63f6ef40832a9849ffd0f17475:99c3b854487598bd9a4c196cde40876b$</string>
            <key>textureFileName</key>
            <string>icons/robot_14-hd.png</string>
        </dict>
    </dict>
</plist>
