<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_57_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{73,1},{66,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{1,60},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{65,91},{22,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{70,57}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{56,115},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{104,69},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{19,111},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{101,98},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{119,109},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{89,115},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{1,111},{33,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{104,109},{28,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{37,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{65,69},{37,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_57-hd.png</string>
            <key>size</key>
            <string>{128,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eafff72e0881c1cdaa3d36e30783921:7d2be64b88666062cc19637c8eb19e68:2b86694e341be15c37779b0eb626ce7f$</string>
            <key>textureFileName</key>
            <string>icons/robot_57-hd.png</string>
        </dict>
    </dict>
</plist>
