<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_08_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{58,51}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{58,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_08_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{119,35},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_08_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{55,2},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{167,17},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_08_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{191,38},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{119,2},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{151,35},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{162,35},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{167,2},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_08_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{162,39},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{191,49},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_08_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{144,2},{31,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_08-hd.png</string>
            <key>size</key>
            <string>{201,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f9b1566fa17a33fa630af9de9ac70c6:305f2f079f947016fc024d20a9d52b40:15b86b86b7f31e57318aee721966f4a4$</string>
            <key>textureFileName</key>
            <string>icons/robot_08-hd.png</string>
        </dict>
    </dict>
</plist>
