<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_67_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{83,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,61}</string>
                <key>textureRect</key>
                <string>{{90,1},{83,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,56}</string>
                <key>textureRect</key>
                <string>{{175,1},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{206,49},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{87,59}</string>
                <key>spriteSourceSize</key>
                <string>{91,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{266,34},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{227,49},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{253,1},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{239,49},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_67_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{301,1},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{175,49},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_67_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{287,34},{27,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_67_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{90,58},{23,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{278,1},{31,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_67-hd.png</string>
            <key>size</key>
            <string>{309,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123a9b46b7144cf990f911f01038df2a:f5484f51bca2b09bc0f32811b59c6940:499b7e9c464f1de62922f641d89da2d3$</string>
            <key>textureFileName</key>
            <string>icons/robot_67-hd.png</string>
        </dict>
    </dict>
</plist>
