<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{62,39}</string>
                <key>textureRect</key>
                <string>{{69,2},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{22,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{29,48},{22,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,44}</string>
                <key>spriteSourceSize</key>
                <string>{67,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{69,43},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_02_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{53,48},{7,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{131,2},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{2,48},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_02_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{163,33},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{156,2},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{98,43},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{126,43},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{131,35},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_02-hd.png</string>
            <key>size</key>
            <string>{172,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a17567af281bf2d3163f36d83e409b7:98ee4354a7b7ad32c4bcd5a2d33f5a46:8d465e54a84893cac5609c601dabf2f1$</string>
            <key>textureFileName</key>
            <string>icons/robot_02-hd.png</string>
        </dict>
    </dict>
</plist>
