<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_25_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{65,45}</string>
                <key>spriteSourceSize</key>
                <string>{65,49}</string>
                <key>textureRect</key>
                <string>{{73,2},{65,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_25_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{2,53},{60,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{88,69},{21,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_25_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{99,92},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{2,89},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{88,92},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{64,53},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{49,89},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_25_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{29,89},{32,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_25_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{99,111},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_25_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{64,78},{36,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_25-hd.png</string>
            <key>size</key>
            <string>{120,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1b89c57db32034973f8ce487b40aa4:f6924253c399038d1e99fa8032d1ccf2:b0abd4c38533b55a83cbca93c70b23a4$</string>
            <key>textureFileName</key>
            <string>icons/robot_25-hd.png</string>
        </dict>
    </dict>
</plist>
