<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_23_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{121,2},{55,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{55,2},{64,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{230,17},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{217,36},{10,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{198,2},{32,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{206,36},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{55,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{230,2},{13,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{35,21}</string>
                <key>textureRect</key>
                <string>{{171,41},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{217,48},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,25}</string>
                <key>textureRect</key>
                <string>{{171,2},{37,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_23-hd.png</string>
            <key>size</key>
            <string>{261,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01698da50f3b30d38e96480dfd6d08e8:08e52d090ee1325c08673c4a48bfec99:fd740ed4097916962c74257b7d3417ad$</string>
            <key>textureFileName</key>
            <string>icons/robot_23-hd.png</string>
        </dict>
    </dict>
</plist>
