<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_61_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{64,47}</string>
                <key>textureRect</key>
                <string>{{67,1},{60,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{1,50},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{24,89},{34,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{64,90},{21,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{59,50},{19,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{66,63},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{64,113},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{105,94},{7,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{99,63},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{45,89},{32,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{29,10}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{93,94},{29,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{1,89},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_61-hd.png</string>
            <key>size</key>
            <string>{113,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5be5aed627d79ab40d3c7ab8a27ba5f:9691b6d0392816ece1b96eef1ac22514:387f0fca2f0ce609fae45c5a93191577$</string>
            <key>textureFileName</key>
            <string>icons/robot_61-hd.png</string>
        </dict>
    </dict>
</plist>
