<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_18_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{2,55},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{54,25}</string>
                <key>spriteSourceSize</key>
                <string>{60,27}</string>
                <key>textureRect</key>
                <string>{{71,2},{54,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{67,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{67,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,51}</string>
                <key>textureRect</key>
                <string>{{67,62},{27,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_18_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,47}</string>
                <key>textureRect</key>
                <string>{{67,91},{22,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_18_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{31,55}</string>
                <key>textureRect</key>
                <string>{{71,29},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_18_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,25}</string>
                <key>spriteSourceSize</key>
                <string>{8,25}</string>
                <key>textureRect</key>
                <string>{{63,115},{8,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_18_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{67,55},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{110,62},{12,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{108,93},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_18_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{38,104},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_18_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{2,104},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_18-hd.png</string>
            <key>size</key>
            <string>{127,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1212118be750e7fc0f5f4a4284546dd:00085fa67c48d634ec931383b193f492:8aa9768d6741e80e7b2b84b570aef0a1$</string>
            <key>textureFileName</key>
            <string>icons/robot_18-hd.png</string>
        </dict>
    </dict>
</plist>
