<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_26_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{68,2},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{2,74},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_26_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{87,70},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{118,94},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{57,74},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{57,114},{9,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_26_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,23}</string>
                <key>spriteSourceSize</key>
                <string>{7,23}</string>
                <key>textureRect</key>
                <string>{{2,119},{7,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_26_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{130,2},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{87,106},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_26_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{25,15}</string>
                <key>textureRect</key>
                <string>{{130,33},{19,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_26_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{33,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,22}</string>
                <key>textureRect</key>
                <string>{{113,70},{33,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_26-hd.png</string>
            <key>size</key>
            <string>{148,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e3b8249617d85d0eaf2d07e16ff38d:6585763ff43bbfdcbda7685a3c7fc87d:9534c6336d4e2c22d8d6caf804cc1890$</string>
            <key>textureFileName</key>
            <string>icons/robot_26-hd.png</string>
        </dict>
    </dict>
</plist>
