<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_65_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{46,2},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{71,42}</string>
                <key>textureRect</key>
                <string>{{46,42},{71,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{63,13}</string>
                <key>spriteSourceSize</key>
                <string>{71,21}</string>
                <key>textureRect</key>
                <string>{{46,78},{63,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_65-hd.png</string>
            <key>size</key>
            <string>{124,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fed4366f1dccdf46fe349716777dbdc:a3b8aaa531744c2fcb3b6ae10e7c32d5:edaa4b61908e024064f65d0c50ba3aad$</string>
            <key>textureFileName</key>
            <string>icons/ship_65-hd.png</string>
        </dict>
    </dict>
</plist>
