<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_49_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{85,52}</string>
                <key>spriteSourceSize</key>
                <string>{91,52}</string>
                <key>textureRect</key>
                <string>{{2,71},{85,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_49_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{83,50}</string>
                <key>spriteSourceSize</key>
                <string>{89,50}</string>
                <key>textureRect</key>
                <string>{{2,19},{83,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_49_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{64,15}</string>
                <key>spriteSourceSize</key>
                <string>{76,17}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_49_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,56}</string>
                <key>textureRect</key>
                <string>{{2,125},{89,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_49-hd.png</string>
            <key>size</key>
            <string>{93,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f10578ca0e6fa8ffc4aef4759e20f429:48c4127626be62134c30ac574027ab5f:36fe269ece4e6be41b804c73296f2fcc$</string>
            <key>textureFileName</key>
            <string>icons/ship_49-hd.png</string>
        </dict>
    </dict>
</plist>
