<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{93,44}</string>
                <key>spriteSourceSize</key>
                <string>{97,48}</string>
                <key>textureRect</key>
                <string>{{2,13},{93,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{30,9}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{22,2},{30,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,5}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{76,18}</string>
                <key>textureRect</key>
                <string>{{2,2},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{97,48}</string>
                <key>spriteSourceSize</key>
                <string>{101,52}</string>
                <key>textureRect</key>
                <string>{{2,59},{97,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_30-hd.png</string>
            <key>size</key>
            <string>{101,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a38b71a520bcbfa5cc119e8613b7154e:31ac8ec856c4f2345327a37fd2f18ba0:e02b722270daa4be1f820395b1d01ead$</string>
            <key>textureFileName</key>
            <string>icons/ship_30-hd.png</string>
        </dict>
    </dict>
</plist>
