<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_149_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,47}</string>
                <key>spriteSourceSize</key>
                <string>{83,47}</string>
                <key>textureRect</key>
                <string>{{1,54},{83,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_149_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{86,54},{70,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_149_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{90,1},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_149_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,51}</string>
                <key>spriteSourceSize</key>
                <string>{87,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_149-hd.png</string>
            <key>size</key>
            <string>{127,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8da8f9e5e41ef38bb71a2259476d5ba0:3e96a16df6acb72ecd3530b3a8280214:1597102c655b95e0d60b49fa7c9ce4a5$</string>
            <key>textureFileName</key>
            <string>icons/ship_149-hd.png</string>
        </dict>
    </dict>
</plist>
