<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_164_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,47}</string>
                <key>spriteSourceSize</key>
                <string>{93,49}</string>
                <key>textureRect</key>
                <string>{{33,54},{93,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_164_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{84,36}</string>
                <key>textureRect</key>
                <string>{{1,54},{68,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_164_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{33,103},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_164_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,51}</string>
                <key>spriteSourceSize</key>
                <string>{97,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_164-hd.png</string>
            <key>size</key>
            <string>{127,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b3cae03f19585c922e69c195659297:afae37ed30af3055248fd04160ef45c2:23d3acac52b12c6c86b601e5a1090730$</string>
            <key>textureFileName</key>
            <string>icons/ship_164-hd.png</string>
        </dict>
    </dict>
</plist>
