<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_165_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{1,65},{83,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{80,29}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{1,125},{80,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{1,156},{59,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{91,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_165-hd.png</string>
            <key>size</key>
            <string>{89,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01fe52a7f26fca12412507f24adecd6:8031adf8f2a37ac50f710cf1f24a53c2:6c0f64b5cde616ff6ee9788e216d36f7$</string>
            <key>textureFileName</key>
            <string>icons/ship_165-hd.png</string>
        </dict>
    </dict>
</plist>
