<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_97_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{84,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{84,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_97_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{42,109},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_97_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{79,49}</string>
                <key>textureRect</key>
                <string>{{1,109},{77,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_97_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_97-hd.png</string>
            <key>size</key>
            <string>{90,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c5d90812dfa9feaaa3c38505ca61866:65ed4f2064a89d2657c102692353ab50:edaaf745f2e06b9f5643d810d15e45f9$</string>
            <key>textureFileName</key>
            <string>icons/ship_97-hd.png</string>
        </dict>
    </dict>
</plist>
