<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_69_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{82,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{2,45},{82,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_69_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{81,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,44}</string>
                <key>textureRect</key>
                <string>{{90,2},{81,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_69_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{64,21}</string>
                <key>spriteSourceSize</key>
                <string>{70,21}</string>
                <key>textureRect</key>
                <string>{{2,84},{64,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_69_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{86,41}</string>
                <key>spriteSourceSize</key>
                <string>{88,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_69-hd.png</string>
            <key>size</key>
            <string>{128,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145b0da5a24924540fd0902db8124f3c:89ca6a781b1ab54c16643f896660f23b:3d7b9b0b73cbe596a7abdbe475e878ac$</string>
            <key>textureFileName</key>
            <string>icons/ship_69-hd.png</string>
        </dict>
    </dict>
</plist>
