<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_142_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{1,45},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_142_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,43}</string>
                <key>textureRect</key>
                <string>{{1,85},{94,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_142_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{57,12}</string>
                <key>spriteSourceSize</key>
                <string>{85,12}</string>
                <key>textureRect</key>
                <string>{{103,45},{57,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_142_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{104,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_142-hd.png</string>
            <key>size</key>
            <string>{116,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7c99d2462431d696d1b8870a8c96c0:f609d64bb1d7435c7526594689833914:a96badc9a3beb7e31cbb7f7775c1cbfc$</string>
            <key>textureFileName</key>
            <string>icons/ship_142-hd.png</string>
        </dict>
    </dict>
</plist>
