<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_151_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{76,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,55}</string>
                <key>textureRect</key>
                <string>{{1,58},{76,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_151_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{67,46}</string>
                <key>spriteSourceSize</key>
                <string>{71,48}</string>
                <key>textureRect</key>
                <string>{{79,59},{67,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_151_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{83,1},{56,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_151_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{80,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_151-hd.png</string>
            <key>size</key>
            <string>{126,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a44098751906ba436cc4699f2e43ada1:3017df498ba617d088cf97b5c46acbc5:c1e698cec844580ee35669a9860dd0cd$</string>
            <key>textureFileName</key>
            <string>icons/ship_151-hd.png</string>
        </dict>
    </dict>
</plist>
