<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,44}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{1,75},{105,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,43}</string>
                <key>spriteSourceSize</key>
                <string>{104,45}</string>
                <key>textureRect</key>
                <string>{{1,30},{104,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{79,27}</string>
                <key>spriteSourceSize</key>
                <string>{97,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,48}</string>
                <key>spriteSourceSize</key>
                <string>{110,50}</string>
                <key>textureRect</key>
                <string>{{1,121},{110,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_80-hd.png</string>
            <key>size</key>
            <string>{112,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2a949649bfa02eab4135277bd390d57:1c592e32184ab4b675133b880770f6dd:21aa10241c7c55ba6511d57af8f6dbf6$</string>
            <key>textureFileName</key>
            <string>icons/ship_80-hd.png</string>
        </dict>
    </dict>
</plist>
