<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_70_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{86,41}</string>
                <key>spriteSourceSize</key>
                <string>{92,49}</string>
                <key>textureRect</key>
                <string>{{94,2},{86,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_70_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{79,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,44}</string>
                <key>textureRect</key>
                <string>{{182,2},{79,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_70_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{78,19}</string>
                <key>spriteSourceSize</key>
                <string>{82,23}</string>
                <key>textureRect</key>
                <string>{{182,40},{78,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_70_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{90,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_70-hd.png</string>
            <key>size</key>
            <string>{263,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:776e9ffa427dc9c3948b8c1438521301:1943d8b6c0cbadbb4b196790d1852fa4:4639e895390de96159c6bf53a1556079$</string>
            <key>textureFileName</key>
            <string>icons/ship_70-hd.png</string>
        </dict>
    </dict>
</plist>
