<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_143_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{103,47}</string>
                <key>spriteSourceSize</key>
                <string>{113,53}</string>
                <key>textureRect</key>
                <string>{{1,112},{103,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_143_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{93,43}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{1,17},{93,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_143_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,9}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_143_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{107,51}</string>
                <key>spriteSourceSize</key>
                <string>{117,57}</string>
                <key>textureRect</key>
                <string>{{1,217},{107,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_143-hd.png</string>
            <key>size</key>
            <string>{53,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2afc2c6e9b9e7e6ecb7be06a68a0a56:dc60983868df5a9765f6860710308e58:97f5824fd8380d90bd815dbc933d41bc$</string>
            <key>textureFileName</key>
            <string>icons/ship_143-hd.png</string>
        </dict>
    </dict>
</plist>
