<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_163_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{77,45}</string>
                <key>textureRect</key>
                <string>{{1,44},{77,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_163_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{1,83},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_163_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{64,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,39}</string>
                <key>textureRect</key>
                <string>{{80,44},{64,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_163_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_163-hd.png</string>
            <key>size</key>
            <string>{112,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e38d6595b80fc6eea048dd299eb889a:1599857801f1b42662b2bcd7b9759f3b:f5e5e12030cb3b1315221f7afab3c16c$</string>
            <key>textureFileName</key>
            <string>icons/ship_163-hd.png</string>
        </dict>
    </dict>
</plist>
