<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_86_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{94,42}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{1,62},{94,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_86_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{1,22},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_86_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{85,19}</string>
                <key>spriteSourceSize</key>
                <string>{97,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_86_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{1,106},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_86-hd.png</string>
            <key>size</key>
            <string>{100,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f9989591ed14fa05dfa3486923f1de:78d5a58fe11029cfefb6b3dfe2f64228:c0cbebb2bbbba9a5d7b80b10cba02134$</string>
            <key>textureFileName</key>
            <string>icons/ship_86-hd.png</string>
        </dict>
    </dict>
</plist>
