<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_57_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{82,59}</string>
                <key>spriteSourceSize</key>
                <string>{84,69}</string>
                <key>textureRect</key>
                <string>{{2,72},{82,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_57_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{82,57}</string>
                <key>spriteSourceSize</key>
                <string>{84,67}</string>
                <key>textureRect</key>
                <string>{{2,13},{82,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_57_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,9}</string>
                <key>spriteSourceSize</key>
                <string>{64,9}</string>
                <key>textureRect</key>
                <string>{{2,2},{56,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_57_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{2,133},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_57-hd.png</string>
            <key>size</key>
            <string>{90,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4acf113be15f6075c5ec0c3f168c66fa:fb4ff772bffdb92b1398a87b589fda96:e06b8463e14d280638ce849f76922b2b$</string>
            <key>textureFileName</key>
            <string>icons/ship_57-hd.png</string>
        </dict>
    </dict>
</plist>
