<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{99,41}</string>
                <key>spriteSourceSize</key>
                <string>{105,47}</string>
                <key>textureRect</key>
                <string>{{2,51},{99,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_21_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{87,39}</string>
                <key>textureRect</key>
                <string>{{2,94},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_21_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{103,47}</string>
                <key>spriteSourceSize</key>
                <string>{109,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{103,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_21-hd.png</string>
            <key>size</key>
            <string>{107,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a57a28ee96d3bee071a61bd082358d:7857481fc93570a1da1e4fa02b4db494:547fe839d0baf51659ddbc6aabc8e838$</string>
            <key>textureFileName</key>
            <string>icons/ship_21-hd.png</string>
        </dict>
    </dict>
</plist>
