<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_156_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{84,39}</string>
                <key>spriteSourceSize</key>
                <string>{88,43}</string>
                <key>textureRect</key>
                <string>{{91,1},{84,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_156_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{177,1},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_156_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{77,19}</string>
                <key>spriteSourceSize</key>
                <string>{83,25}</string>
                <key>textureRect</key>
                <string>{{91,42},{77,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_156_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{88,43}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_156-hd.png</string>
            <key>size</key>
            <string>{213,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6fc8179fde1f773f8dda9aa28e014c8:ab4000ef6f3466b51a8cf9af56809166:7859b51a77e7e2f95715d2877967ce44$</string>
            <key>textureFileName</key>
            <string>icons/ship_156-hd.png</string>
        </dict>
    </dict>
</plist>
