<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_144_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{71,42}</string>
                <key>textureRect</key>
                <string>{{1,41},{71,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_144_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,31}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{37,41},{67,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_144_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,31}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{70,41},{67,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_144_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_144-hd.png</string>
            <key>size</key>
            <string>{102,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242d1528eb81ec05e2d2d0b2800c1646:fb806dd9592a1a87f79d104662492924:1bcfbf834ed62630a9f9a8e36f447fb8$</string>
            <key>textureFileName</key>
            <string>icons/ship_144-hd.png</string>
        </dict>
    </dict>
</plist>
