<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_125_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{92,44}</string>
                <key>textureRect</key>
                <string>{{1,72},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_125_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{83,40}</string>
                <key>spriteSourceSize</key>
                <string>{89,40}</string>
                <key>textureRect</key>
                <string>{{1,30},{83,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_125_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{54,27}</string>
                <key>spriteSourceSize</key>
                <string>{74,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_125_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{1,118},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_125-hd.png</string>
            <key>size</key>
            <string>{92,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9baf3c46df0a53aff6c2e4f06352b593:d97a63a2c1a414d23b8d448e58837465:408a19382e689cff207feed42339415f$</string>
            <key>textureFileName</key>
            <string>icons/ship_125-hd.png</string>
        </dict>
    </dict>
</plist>
