<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_105_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{93,48}</string>
                <key>spriteSourceSize</key>
                <string>{97,54}</string>
                <key>textureRect</key>
                <string>{{1,74},{93,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{78,43}</string>
                <key>spriteSourceSize</key>
                <string>{78,51}</string>
                <key>textureRect</key>
                <string>{{1,29},{78,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{74,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{95,52}</string>
                <key>spriteSourceSize</key>
                <string>{97,58}</string>
                <key>textureRect</key>
                <string>{{1,124},{95,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_105-hd.png</string>
            <key>size</key>
            <string>{97,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd07d9131f220557e122c48e3589ce11:b780b4d134bc3fa6df44197d7533105e:cdc64ea7225060a022f12377cd5c0571$</string>
            <key>textureFileName</key>
            <string>icons/ship_105-hd.png</string>
        </dict>
    </dict>
</plist>
