<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{86,41}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{2,49},{86,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{85,31}</string>
                <key>textureRect</key>
                <string>{{2,92},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{83,30}</string>
                <key>textureRect</key>
                <string>{{90,49},{55,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{90,45}</string>
                <key>spriteSourceSize</key>
                <string>{92,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_58-hd.png</string>
            <key>size</key>
            <string>{120,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0411782e0418849f6ae2815456114f8b:cf7e88eebf38a1236c0e390ff2efcc46:bc0bc46a0f4f158800186680ef705eb7$</string>
            <key>textureFileName</key>
            <string>icons/ship_58-hd.png</string>
        </dict>
    </dict>
</plist>
