<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_157_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{85,52}</string>
                <key>spriteSourceSize</key>
                <string>{91,60}</string>
                <key>textureRect</key>
                <string>{{92,1},{85,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_157_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,55}</string>
                <key>textureRect</key>
                <string>{{179,1},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_157_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{79,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,44}</string>
                <key>textureRect</key>
                <string>{{224,1},{79,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_157_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_157-hd.png</string>
            <key>size</key>
            <string>{304,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:999e97eb5f56febc2a08c707ff2ad135:10561acd224c556c4349965c7b035592:79dbcc7dc18d0eda21b172aa511e73ab$</string>
            <key>textureFileName</key>
            <string>icons/ship_157-hd.png</string>
        </dict>
    </dict>
</plist>
