<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2,99},{84,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{2,17},{80,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-10}</string>
                <key>spriteSize</key>
                <string>{28,13}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{2,2},{28,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{2,185},{88,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_60-hd.png</string>
            <key>size</key>
            <string>{50,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17faadedf2c07d697b98d48aa1f9601:76a21568e008b96825c8339423ce0284:29ad4c52de708e9b892b3e2323a2acff$</string>
            <key>textureFileName</key>
            <string>icons/ship_60-hd.png</string>
        </dict>
    </dict>
</plist>
