<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_81_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{89,52}</string>
                <key>textureRect</key>
                <string>{{92,1},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_81_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,43}</string>
                <key>textureRect</key>
                <string>{{179,1},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_81_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,42}</string>
                <key>textureRect</key>
                <string>{{259,1},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_81_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{89,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_81-hd.png</string>
            <key>size</key>
            <string>{337,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a09f1c076bd7d18dea6312100339a367:86ff022a5682cfc77df35f57c7dd9358:98345d04c87b5128f545971051220ab5$</string>
            <key>textureFileName</key>
            <string>icons/ship_81-hd.png</string>
        </dict>
    </dict>
</plist>
