<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_127_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{97,51}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{104,1},{97,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_127_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{95,48}</string>
                <key>spriteSourceSize</key>
                <string>{107,58}</string>
                <key>textureRect</key>
                <string>{{203,1},{95,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_127_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-4}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{105,51}</string>
                <key>textureRect</key>
                <string>{{300,1},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_127_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{101,55}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_127-hd.png</string>
            <key>size</key>
            <string>{332,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f2b9e97d3f86155f42711bb6c315a7:cc581594d528cf5fe9433fcc8f0bda93:51b5a1b368295a3293f6116e5fcd2711$</string>
            <key>textureFileName</key>
            <string>icons/ship_127-hd.png</string>
        </dict>
    </dict>
</plist>
