<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_148_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,57}</string>
                <key>textureRect</key>
                <string>{{1,58},{79,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_148_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{43,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,36}</string>
                <key>textureRect</key>
                <string>{{82,74},{43,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_148_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{71,30}</string>
                <key>spriteSourceSize</key>
                <string>{73,38}</string>
                <key>textureRect</key>
                <string>{{86,1},{71,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_148_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{83,55}</string>
                <key>spriteSourceSize</key>
                <string>{83,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_148-hd.png</string>
            <key>size</key>
            <string>{117,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eee6d94cde842f77e0e5eec987b3fa3:3f8bd4c43a0f2e97770910803e901fc7:73c812fa627b20ae14de3c19bb16ba24$</string>
            <key>textureFileName</key>
            <string>icons/ship_148-hd.png</string>
        </dict>
    </dict>
</plist>
