<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_100_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{1,50},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_100_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{71,25}</string>
                <key>spriteSourceSize</key>
                <string>{79,27}</string>
                <key>textureRect</key>
                <string>{{1,95},{71,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_100_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{78,33}</string>
                <key>textureRect</key>
                <string>{{85,50},{70,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_100_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_100-hd.png</string>
            <key>size</key>
            <string>{117,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f688ca5991111744e96d93749e8ce65:b8c43cc3bf31adab71eccabce3d1ca6c:b723cbd8a36e18e24cb687cab9902153$</string>
            <key>textureFileName</key>
            <string>icons/ship_100-hd.png</string>
        </dict>
    </dict>
</plist>
