<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{87,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,45}</string>
                <key>textureRect</key>
                <string>{{2,102},{87,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{85,41}</string>
                <key>spriteSourceSize</key>
                <string>{87,43}</string>
                <key>textureRect</key>
                <string>{{2,15},{85,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,11}</string>
                <key>spriteSourceSize</key>
                <string>{42,11}</string>
                <key>textureRect</key>
                <string>{{2,2},{42,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{93,49}</string>
                <key>textureRect</key>
                <string>{{2,191},{91,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_27-hd.png</string>
            <key>size</key>
            <string>{51,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe4a720e030fbcdf0ae41399698266a:5b55958b66069d643a64c37bdc59e32d:736569430cbe04f9099166a24db3d4e1$</string>
            <key>textureFileName</key>
            <string>icons/ship_27-hd.png</string>
        </dict>
    </dict>
</plist>
