<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_37_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{94,43}</string>
                <key>textureRect</key>
                <string>{{2,47},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_37_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{87,27}</string>
                <key>spriteSourceSize</key>
                <string>{89,31}</string>
                <key>textureRect</key>
                <string>{{2,88},{87,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_37_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{96,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{96,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_37-hd.png</string>
            <key>size</key>
            <string>{100,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad71541dd9968668523b8960672b672:43e634a1b80eadee08760949c7c25056:476622d836a4eff47ec83e7a2d40345c$</string>
            <key>textureFileName</key>
            <string>icons/ship_37-hd.png</string>
        </dict>
    </dict>
</plist>
