<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{76,37}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{2,45},{76,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{73,28}</string>
                <key>textureRect</key>
                <string>{{2,84},{67,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_54-hd.png</string>
            <key>size</key>
            <string>{84,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a42de0fc08ebf3f8eacddca14f60d79b:c450281fe742301ec3587e2b37238546:c28e22dcb645a1b8033c13a7a1971566$</string>
            <key>textureFileName</key>
            <string>icons/ship_54-hd.png</string>
        </dict>
    </dict>
</plist>
