<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{81,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{81,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{1,105},{77,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{47,105},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{85,52}</string>
                <key>spriteSourceSize</key>
                <string>{87,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_116-hd.png</string>
            <key>size</key>
            <string>{87,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc2983f8c7801b4254d8100920a8662:97e2f7eaddfa416453348c0b360e51a4:8290ae262863164b940f2d2b979850d9$</string>
            <key>textureFileName</key>
            <string>icons/ship_116-hd.png</string>
        </dict>
    </dict>
</plist>
