<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_85_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{93,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{1,47},{93,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_85_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{1,89},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_85_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-2}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{81,21}</string>
                <key>textureRect</key>
                <string>{{96,47},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_85_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{97,44}</string>
                <key>spriteSourceSize</key>
                <string>{97,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_85-hd.png</string>
            <key>size</key>
            <string>{114,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b5b67f8defd1fad55d70eda970ef5b:1563ffa919826984e75a1adcb657985e:a21aa8ce8a6577ed1a6045eacc2e0df6$</string>
            <key>textureFileName</key>
            <string>icons/ship_85-hd.png</string>
        </dict>
    </dict>
</plist>
