<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_104_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{1,51},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_104_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{1,97},{75,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_104_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{1,138},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_104_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_104-hd.png</string>
            <key>size</key>
            <string>{86,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fefa0f0a06ad38247e750ca033187bd7:6c479046d5235a8364f0698b46659d3a:8656fbb36b90088d19af344c97506faa$</string>
            <key>textureFileName</key>
            <string>icons/ship_104-hd.png</string>
        </dict>
    </dict>
</plist>
