<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_122_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{90,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{1,98},{90,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_122_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{83,40}</string>
                <key>spriteSourceSize</key>
                <string>{89,40}</string>
                <key>textureRect</key>
                <string>{{1,13},{83,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_122_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{72,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_122_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{94,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{1,190},{94,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_122-hd.png</string>
            <key>size</key>
            <string>{50,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a871f1a0f798ba4dd961fa644208f54:c892bad6643d0af9e24aede67a893dea:d8a28b3608f62898feb0aeee83ceb0d1$</string>
            <key>textureFileName</key>
            <string>icons/ship_122-hd.png</string>
        </dict>
    </dict>
</plist>
