<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_124_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,38}</string>
                <key>spriteSourceSize</key>
                <string>{88,38}</string>
                <key>textureRect</key>
                <string>{{1,45},{88,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_124_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,33}</string>
                <key>spriteSourceSize</key>
                <string>{84,33}</string>
                <key>textureRect</key>
                <string>{{1,85},{84,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_124_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{33,13}</string>
                <key>spriteSourceSize</key>
                <string>{83,13}</string>
                <key>textureRect</key>
                <string>{{87,85},{33,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_124_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_124-hd.png</string>
            <key>size</key>
            <string>{101,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29469a04e83377c1cdaf1058fd20053:0ad9688553e6819441ceae0f208edbb6:bcd54ef62a55b792de799c46f04485ed$</string>
            <key>textureFileName</key>
            <string>icons/ship_124-hd.png</string>
        </dict>
    </dict>
</plist>
