<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_45_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{85,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,44}</string>
                <key>textureRect</key>
                <string>{{2,47},{85,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_45_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{2,89},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_45_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{89,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{89,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_45-hd.png</string>
            <key>size</key>
            <string>{93,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e563d89fab3b3c64f9e1c24124aaccb:7b06fa5b03a0171d7e06a691f43cf38a:7067313203c3b2bb01903a565920a5c3$</string>
            <key>textureFileName</key>
            <string>icons/ship_45-hd.png</string>
        </dict>
    </dict>
</plist>
