<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_126_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{87,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,47}</string>
                <key>textureRect</key>
                <string>{{1,46},{87,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_126_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,43}</string>
                <key>textureRect</key>
                <string>{{1,87},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_126_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{86,26}</string>
                <key>textureRect</key>
                <string>{{94,1},{82,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_126_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{91,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_126-hd.png</string>
            <key>size</key>
            <string>{119,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcda11293831c56b8451d2808ac324a0:e6dbe4686c729e0e70290511cc1df5f6:67a62d5c58f4ccccc59f36309fc3b51c$</string>
            <key>textureFileName</key>
            <string>icons/ship_126-hd.png</string>
        </dict>
    </dict>
</plist>
