<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{86,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{2,63},{86,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_31_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,38}</string>
                <key>textureRect</key>
                <string>{{94,2},{80,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_31_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{84,19}</string>
                <key>textureRect</key>
                <string>{{90,84},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_31_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_31-hd.png</string>
            <key>size</key>
            <string>{128,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eacf42ec62e0b2e8cfa454a3e3db074:09cc9482a18e4c64df95681a2b1d6591:e0937a75e8c4dcca59d98db2cd2ecadd$</string>
            <key>textureFileName</key>
            <string>icons/ship_31-hd.png</string>
        </dict>
    </dict>
</plist>
