<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_52_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,45}</string>
                <key>textureRect</key>
                <string>{{82,2},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_52_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,41}</string>
                <key>textureRect</key>
                <string>{{158,2},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_52_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{63,12}</string>
                <key>spriteSourceSize</key>
                <string>{69,14}</string>
                <key>textureRect</key>
                <string>{{158,37},{63,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_52_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{78,41}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{78,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_52-hd.png</string>
            <key>size</key>
            <string>{224,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ac84e891a4eb4bc2e5e5a2a050bfb1:550ff37784016cf6a3fe9bd5c5a50e1a:1d773dee0ce74c879f65b65add9eb87a$</string>
            <key>textureFileName</key>
            <string>icons/ship_52-hd.png</string>
        </dict>
    </dict>
</plist>
