<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_162_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,43}</string>
                <key>textureRect</key>
                <string>{{38,50},{86,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_162_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{38,95},{83,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_162_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{1,50},{77,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_162_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{91,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_162-hd.png</string>
            <key>size</key>
            <string>{125,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0c130acc41366f734dcfe3c0cd2935:7c9f8118c66b9ed474023c2398ba3b84:11028f980960f4ddadaf01eb9f98670b$</string>
            <key>textureFileName</key>
            <string>icons/ship_162-hd.png</string>
        </dict>
    </dict>
</plist>
