<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,39}</string>
                <key>textureRect</key>
                <string>{{1,44},{86,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{71,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,35}</string>
                <key>textureRect</key>
                <string>{{1,83},{71,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{40,17}</string>
                <key>spriteSourceSize</key>
                <string>{82,17}</string>
                <key>textureRect</key>
                <string>{{89,44},{40,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{90,41}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_99-hd.png</string>
            <key>size</key>
            <string>{107,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d7047b229b3cc1ee13a0d0221a5803:f688ebb4efbfe0963293c9891df1bde8:a3317d8270f8d3f9539d0156595725ff$</string>
            <key>textureFileName</key>
            <string>icons/ship_99-hd.png</string>
        </dict>
    </dict>
</plist>
