<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_41_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{84,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,55}</string>
                <key>textureRect</key>
                <string>{{2,48},{84,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{9,2},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{41,5}</string>
                <key>textureRect</key>
                <string>{{2,2},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{90,59}</string>
                <key>textureRect</key>
                <string>{{2,97},{88,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_41-hd.png</string>
            <key>size</key>
            <string>{92,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a528a27b2b5287dc38620a2a7727aee:5c0c5c81d2c67e26ee540c6e279ea9b9:071b1570eef6be71ebed5fd90e7c9ebd$</string>
            <key>textureFileName</key>
            <string>icons/ship_41-hd.png</string>
        </dict>
    </dict>
</plist>
