<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_153_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{93,63}</string>
                <key>textureRect</key>
                <string>{{1,104},{87,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_153_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{1,52},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_153_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{83,49}</string>
                <key>spriteSourceSize</key>
                <string>{87,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_153_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{91,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,67}</string>
                <key>textureRect</key>
                <string>{{1,161},{91,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_153-hd.png</string>
            <key>size</key>
            <string>{93,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5f87d991ef65e835b47fc77254e6c9:f53a1cd5fef00f2b862e7f75070353d1:81cd06f47437afee4f65d194ddc72eb0$</string>
            <key>textureFileName</key>
            <string>icons/ship_153-hd.png</string>
        </dict>
    </dict>
</plist>
