<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_159_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{89,31}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{96,1},{89,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_159_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{83,27}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{96,34},{83,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_159_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{63,12}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,38},{63,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_159_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{93,35}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_159-hd.png</string>
            <key>size</key>
            <string>{186,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a512ccd33e804f3588cc433b12cefc:236e0406e1710598b088ec2b7d19d97b:8a6d4ed48aae42fe5155739151e5561b$</string>
            <key>textureFileName</key>
            <string>icons/ship_159-hd.png</string>
        </dict>
    </dict>
</plist>
