<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_101_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,42}</string>
                <key>textureRect</key>
                <string>{{1,43},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_101_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{75,20}</string>
                <key>spriteSourceSize</key>
                <string>{81,20}</string>
                <key>textureRect</key>
                <string>{{1,81},{75,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_101_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{93,1},{74,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_101_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_101-hd.png</string>
            <key>size</key>
            <string>{124,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d904afd00b9b9ee9a775668495ed5ded:14c825b21c691b60a4f00b2eb71fec83:e5331a3ed60daafd5f103b9ac992114c$</string>
            <key>textureFileName</key>
            <string>icons/ship_101-hd.png</string>
        </dict>
    </dict>
</plist>
