<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_111_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{82,45}</string>
                <key>spriteSourceSize</key>
                <string>{82,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{82,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{79,41}</string>
                <key>spriteSourceSize</key>
                <string>{79,45}</string>
                <key>textureRect</key>
                <string>{{1,99},{79,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{1,142},{66,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_111-hd.png</string>
            <key>size</key>
            <string>{88,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e8a5813a716061bcdefb7fbed6eba0:2611970e4a2d50a30703b7e23999b664:c35cd31969553567cbcaa99f3065cee6$</string>
            <key>textureFileName</key>
            <string>icons/ship_111-hd.png</string>
        </dict>
    </dict>
</plist>
