<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_43_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,48}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{2,56},{91,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_43_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{81,47}</string>
                <key>textureRect</key>
                <string>{{52,56},{81,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_43_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{95,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_43-hd.png</string>
            <key>size</key>
            <string>{99,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0548a3dbd6f7990b05e48c17cdde9a5:41b6b614daea7c5c2a0daf4867d59528:9cae0a99ee2d6154bafcc3d7b9167d21$</string>
            <key>textureFileName</key>
            <string>icons/ship_43-hd.png</string>
        </dict>
    </dict>
</plist>
