<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_146_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{77,45}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{1,52},{77,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_146_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,47}</string>
                <key>textureRect</key>
                <string>{{84,1},{55,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_146_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{80,58},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_146_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{81,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_146-hd.png</string>
            <key>size</key>
            <string>{126,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee3a8ed69026066a108b06666cf48b9:60891e29297c40a82bdb61614da90004:43f7d1b122ac164d9065050333b48bee$</string>
            <key>textureFileName</key>
            <string>icons/ship_146-hd.png</string>
        </dict>
    </dict>
</plist>
