<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{2,54},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{79,23}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{2,102},{79,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{88,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_03-hd.png</string>
            <key>size</key>
            <string>{92,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:073312527297831c01e57b77a4029e1f:fd1a0e4f12518bcfcf581359380d15a0:f8242deba4fa5c7628697f73ce11b440$</string>
            <key>textureFileName</key>
            <string>icons/ship_03-hd.png</string>
        </dict>
    </dict>
</plist>
