<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,50}</string>
                <key>textureRect</key>
                <string>{{2,54},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_15_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{76,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{90,2},{76,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_15_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_15-hd.png</string>
            <key>size</key>
            <string>{126,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0e20a5401cff3d22ae734691c9762b:68753b80eb333bf78d40d6781f15f23d:b2c1752b74313f85c12cf3e58445e919$</string>
            <key>textureFileName</key>
            <string>icons/ship_15-hd.png</string>
        </dict>
    </dict>
</plist>
