<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_117_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,44}</string>
                <key>spriteSourceSize</key>
                <string>{95,44}</string>
                <key>textureRect</key>
                <string>{{1,69},{95,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_117_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,39}</string>
                <key>textureRect</key>
                <string>{{1,28},{91,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_117_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_117_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{1,115},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_117-hd.png</string>
            <key>size</key>
            <string>{101,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f3b42cc3d613a251227a133337d81a0:61147e4f0a32b1ce4ab4e53a13bcd49f:e91c6120eb522a45132bf2d404a01d51$</string>
            <key>textureFileName</key>
            <string>icons/ship_117-hd.png</string>
        </dict>
    </dict>
</plist>
