<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{88,2},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_23_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{79,59}</string>
                <key>textureRect</key>
                <string>{{170,2},{71,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_23_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_23-hd.png</string>
            <key>size</key>
            <string>{243,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae894f7127673d117fd5408ad1470c7a:5ca3112c19e9351e2a88d39db34053d8:c1e9ac7b9631b1327804aeb407e0b86a$</string>
            <key>textureFileName</key>
            <string>icons/ship_23-hd.png</string>
        </dict>
    </dict>
</plist>
