<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_39_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{96,44}</string>
                <key>spriteSourceSize</key>
                <string>{102,44}</string>
                <key>textureRect</key>
                <string>{{2,52},{96,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_39_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{93,32}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{2,98},{93,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_39_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{100,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_39-hd.png</string>
            <key>size</key>
            <string>{104,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cce939061972578c244194d0f3303d1:34beab4720c33c0b167336f6c59f47b1:f11b48d70f9b5cbdff8f5f1020e49af0$</string>
            <key>textureFileName</key>
            <string>icons/ship_39-hd.png</string>
        </dict>
    </dict>
</plist>
