<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{86,38}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{1,45},{86,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{86,38}</string>
                <key>textureRect</key>
                <string>{{1,85},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,4}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,18}</string>
                <key>textureRect</key>
                <string>{{87,85},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{90,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_96-hd.png</string>
            <key>size</key>
            <string>{98,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39773888163180f810568a3817b4a5c8:1331aa45a13867ae83a7d3e4b0cf32a7:402703a1238f85f4852fc440c30edf2e$</string>
            <key>textureFileName</key>
            <string>icons/ship_96-hd.png</string>
        </dict>
    </dict>
</plist>
