<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_141_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,52}</string>
                <key>textureRect</key>
                <string>{{1,82},{95,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_141_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{91,42}</string>
                <key>spriteSourceSize</key>
                <string>{91,48}</string>
                <key>textureRect</key>
                <string>{{1,38},{91,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_141_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{74,35}</string>
                <key>spriteSourceSize</key>
                <string>{90,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_141_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,56}</string>
                <key>textureRect</key>
                <string>{{1,130},{99,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_141-hd.png</string>
            <key>size</key>
            <string>{101,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e0e9f250042b97f7e03143fbe89bbe:dfefa55409e1e14f74ab120ad9ceb1d6:e2186e0ad49f2272b77ff781649e3946$</string>
            <key>textureFileName</key>
            <string>icons/ship_141-hd.png</string>
        </dict>
    </dict>
</plist>
