<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_62_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,59}</string>
                <key>textureRect</key>
                <string>{{2,74},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_62_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{75,49}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{2,23},{75,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_62_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{69,19}</string>
                <key>spriteSourceSize</key>
                <string>{69,21}</string>
                <key>textureRect</key>
                <string>{{2,2},{69,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_62_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{83,57}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{2,129},{83,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_62-hd.png</string>
            <key>size</key>
            <string>{87,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:199901b8f43eeb52a6d35d87ee7a5425:1a948472f462ab2201db9da20436df81:be40f0d00cfa9b8fa454c24111fb0177$</string>
            <key>textureFileName</key>
            <string>icons/ship_62-hd.png</string>
        </dict>
    </dict>
</plist>
