<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{95,2},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_20_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{84,51}</string>
                <key>textureRect</key>
                <string>{{185,2},{68,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_20_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{91,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{91,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_20-hd.png</string>
            <key>size</key>
            <string>{255,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9676b5358966db6798c898abf32686c4:2f011bd0f2e739a9f6d097e8a03a9052:ab319cef289425429a2e2eb7c066c756$</string>
            <key>textureFileName</key>
            <string>icons/ship_20-hd.png</string>
        </dict>
    </dict>
</plist>
