<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_155_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{86,46}</string>
                <key>textureRect</key>
                <string>{{1,51},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_155_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{76,33}</string>
                <key>textureRect</key>
                <string>{{93,1},{72,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_155_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,32}</string>
                <key>textureRect</key>
                <string>{{1,97},{75,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_155_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_155-hd.png</string>
            <key>size</key>
            <string>{117,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02f910ff6c3f5242caee721217af6b2e:503f5c8f726b166ffefd74c2e26b2d71:d61dae6b67f70614de023d8dd84efd76$</string>
            <key>textureFileName</key>
            <string>icons/ship_155-hd.png</string>
        </dict>
    </dict>
</plist>
