<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_79_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{2,56},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_79_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,45}</string>
                <key>textureRect</key>
                <string>{{2,107},{75,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_79_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{69,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,44}</string>
                <key>textureRect</key>
                <string>{{49,107},{69,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_79_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{84,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_79-hd.png</string>
            <key>size</key>
            <string>{88,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c119704d4d2de1c7d3ee0badcc245ea:bf28197341b5f0f490d24ab4591df2b9:19285483fd1db61e8d8e59776eb04854$</string>
            <key>textureFileName</key>
            <string>icons/ship_79-hd.png</string>
        </dict>
    </dict>
</plist>
