<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_48_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{91,55}</string>
                <key>spriteSourceSize</key>
                <string>{101,59}</string>
                <key>textureRect</key>
                <string>{{2,54},{91,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_48_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{9,2},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_48_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{2,2},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_48_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{95,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,63}</string>
                <key>textureRect</key>
                <string>{{2,111},{95,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_48-hd.png</string>
            <key>size</key>
            <string>{99,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950eef03556f25c2e6c90508cecac85b:d2de82c70d5028b0a5a2cee68906ea2c:54215a9198d51d1dd56300ba8aa4a346$</string>
            <key>textureFileName</key>
            <string>icons/ship_48-hd.png</string>
        </dict>
    </dict>
</plist>
