<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_72_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{82,42}</string>
                <key>textureRect</key>
                <string>{{23,46},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_72_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,41}</string>
                <key>textureRect</key>
                <string>{{23,86},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_72_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{70,19}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{2,46},{70,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_72_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{86,46}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_72-hd.png</string>
            <key>size</key>
            <string>{107,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb185e1a4547129281e8c84808ae7f2:3787e318b8f86b3026ad2a2f9f71ab8a:dc736fb5418281fbadb9a3a3911bed45$</string>
            <key>textureFileName</key>
            <string>icons/ship_72-hd.png</string>
        </dict>
    </dict>
</plist>
