<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,38}</string>
                <key>textureRect</key>
                <string>{{18,45},{91,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{88,33}</string>
                <key>textureRect</key>
                <string>{{18,85},{86,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{76,15}</string>
                <key>spriteSourceSize</key>
                <string>{86,21}</string>
                <key>textureRect</key>
                <string>{{1,45},{76,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_83-hd.png</string>
            <key>size</key>
            <string>{110,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a428fe9a69481e160d81f2ebb4c1e236:9cd333d15e6ac89cf76ee74946237fa0:93ec0f05c064054ebe72692152ba867d$</string>
            <key>textureFileName</key>
            <string>icons/ship_83-hd.png</string>
        </dict>
    </dict>
</plist>
