<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_147_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{77,66}</string>
                <key>textureRect</key>
                <string>{{1,67},{77,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_147_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{1,129},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_147_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{63,44}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{1,187},{63,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_147_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{81,64}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_147-hd.png</string>
            <key>size</key>
            <string>{83,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:805374c8799d1c982a662c2d06c4f26b:7fd2681c4bb4704a5601ab9bc93a1e32:bc3a4a3a919677c608b152585131afe7$</string>
            <key>textureFileName</key>
            <string>icons/ship_147-hd.png</string>
        </dict>
    </dict>
</plist>
