<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,48}</string>
                <key>spriteSourceSize</key>
                <string>{87,52}</string>
                <key>textureRect</key>
                <string>{{2,56},{87,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_09_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{52,56},{84,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_09_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{91,52}</string>
                <key>spriteSourceSize</key>
                <string>{91,56}</string>
                <key>textureRect</key>
                <string>{{2,2},{91,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_09-hd.png</string>
            <key>size</key>
            <string>{95,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a554fe0cd09df223172c7279f24c90f:d565d4d09bb9953cf61ba3f463a46c2d:b8d433b21ed6cef0491e043d579ceb08$</string>
            <key>textureFileName</key>
            <string>icons/ship_09-hd.png</string>
        </dict>
    </dict>
</plist>
