<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{94,54}</string>
                <key>textureRect</key>
                <string>{{96,2},{88,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{62,33}</string>
                <key>spriteSourceSize</key>
                <string>{72,33}</string>
                <key>textureRect</key>
                <string>{{186,2},{62,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{92,50}</string>
                <key>spriteSourceSize</key>
                <string>{98,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{92,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_11-hd.png</string>
            <key>size</key>
            <string>{250,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f40997d3956d2613f6048e89ba693cf:39964503dbd442022c95d8648bb3cc75:1ba94b6df6e4a6e445daff36bffa80d7$</string>
            <key>textureFileName</key>
            <string>icons/ship_11-hd.png</string>
        </dict>
    </dict>
</plist>
