<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{89,46}</string>
                <key>textureRect</key>
                <string>{{2,54},{85,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{84,39}</string>
                <key>textureRect</key>
                <string>{{50,54},{80,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{89,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{89,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_08-hd.png</string>
            <key>size</key>
            <string>{93,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1836e200ef767082feb13ae173d79158:b46315b96b23818718404d751512de49:e66c75e0f1183212941467705437e12d$</string>
            <key>textureFileName</key>
            <string>icons/ship_08-hd.png</string>
        </dict>
    </dict>
</plist>
