<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,45}</string>
                <key>textureRect</key>
                <string>{{106,2},{75,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{48,21}</string>
                <key>spriteSourceSize</key>
                <string>{52,41}</string>
                <key>textureRect</key>
                <string>{{83,2},{48,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,49}</string>
                <key>spriteSourceSize</key>
                <string>{79,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_01-hd.png</string>
            <key>size</key>
            <string>{183,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbf90b83064fb49445f3d52afbe834ba:3b7418bd7d785ce56df4d2cc1d5973d4:0249a24b960969451277d149c6e0752e$</string>
            <key>textureFileName</key>
            <string>icons/ship_01-hd.png</string>
        </dict>
    </dict>
</plist>
