<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_115_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{85,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,44}</string>
                <key>textureRect</key>
                <string>{{1,47},{85,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_115_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{1,89},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_115_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{85,89},{34,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_115_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{89,44}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_115-hd.png</string>
            <key>size</key>
            <string>{98,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14dd71de930438f1d2b9739c01790898:a9de1c916633c0aab9bcaf493d220dac:cf410933cac3cfbbf5c9bcbeb56f153c$</string>
            <key>textureFileName</key>
            <string>icons/ship_115-hd.png</string>
        </dict>
    </dict>
</plist>
