<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_120_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{84,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,61},{84,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_120_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{81,50}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{1,117},{81,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_120_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{72,45}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{1,169},{72,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_120_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_120-hd.png</string>
            <key>size</key>
            <string>{90,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c204aa2df4e003996767dcf46cd2a9a4:26f8e5f80d2c2ff917517972c80aa255:e54cbbd1b2ec31a850a9dae1b6c33fd7$</string>
            <key>textureFileName</key>
            <string>icons/ship_120-hd.png</string>
        </dict>
    </dict>
</plist>
