<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,46}</string>
                <key>textureRect</key>
                <string>{{99,2},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{192,2},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{271,2},{35,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{95,44}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{95,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_29-hd.png</string>
            <key>size</key>
            <string>{299,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780f00e9f1be5e2f5fa6ab828c9e01c3:a010055a62298569e48a54f4f66e740a:dcab856b84c4a2114b6324d787e1f52b$</string>
            <key>textureFileName</key>
            <string>icons/ship_29-hd.png</string>
        </dict>
    </dict>
</plist>
