<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_137_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{99,34}</string>
                <key>spriteSourceSize</key>
                <string>{99,42}</string>
                <key>textureRect</key>
                <string>{{1,50},{99,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_137_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{93,29}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{1,19},{93,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_137_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{77,16}</string>
                <key>spriteSourceSize</key>
                <string>{83,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_137_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{102,38}</string>
                <key>spriteSourceSize</key>
                <string>{102,46}</string>
                <key>textureRect</key>
                <string>{{1,86},{102,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_137-hd.png</string>
            <key>size</key>
            <string>{104,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0b684bb645ec416fa46f9859fc2414d:03347df73eeaa1abbc5a9f5828767d7e:c5d6ef2c8499d61b26094d5077cc80c5$</string>
            <key>textureFileName</key>
            <string>icons/ship_137-hd.png</string>
        </dict>
    </dict>
</plist>
