<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_161_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{95,47}</string>
                <key>textureRect</key>
                <string>{{137,1},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_161_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{92,35}</string>
                <key>textureRect</key>
                <string>{{228,1},{86,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_161_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{96,1},{47,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_161_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{93,49}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_161-hd.png</string>
            <key>size</key>
            <string>{315,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1b821fbf2fa17feef80ca84355e4a0:363160c4b9758bf374cb565e88488e02:ea1f87c204fadee10a5c2b89d7032ea7$</string>
            <key>textureFileName</key>
            <string>icons/ship_161-hd.png</string>
        </dict>
    </dict>
</plist>
