<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_78_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{81,38}</string>
                <key>spriteSourceSize</key>
                <string>{81,48}</string>
                <key>textureRect</key>
                <string>{{46,15},{81,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_78_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,44}</string>
                <key>textureRect</key>
                <string>{{86,15},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_78_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{62,11}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{46,2},{62,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_78_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{85,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_78-hd.png</string>
            <key>size</key>
            <string>{122,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:207e0c625691d78d347adb343820701b:2bd28222a8467c9086f9da5cd47e9e39:aa2b03fdb3f27a91dd25a31d5c5150b4$</string>
            <key>textureFileName</key>
            <string>icons/ship_78-hd.png</string>
        </dict>
    </dict>
</plist>
