<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_75_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{76,50}</string>
                <key>textureRect</key>
                <string>{{46,2},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{73,34}</string>
                <key>spriteSourceSize</key>
                <string>{73,46}</string>
                <key>textureRect</key>
                <string>{{46,42},{73,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{71,20}</string>
                <key>textureRect</key>
                <string>{{46,78},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_75-hd.png</string>
            <key>size</key>
            <string>{124,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e76e3147cc9086fcda9950cb693e8f7:3b4f8c0ec9851d8c5fd80f2943d7ceca:ff7006a8f5d0e792a339dfa054552f8f$</string>
            <key>textureFileName</key>
            <string>icons/ship_75-hd.png</string>
        </dict>
    </dict>
</plist>
