<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_108_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,57}</string>
                <key>spriteSourceSize</key>
                <string>{92,57}</string>
                <key>textureRect</key>
                <string>{{1,78},{92,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_108_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{85,38}</string>
                <key>spriteSourceSize</key>
                <string>{87,38}</string>
                <key>textureRect</key>
                <string>{{1,38},{85,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_108_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,2}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{87,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_108_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{96,61}</string>
                <key>textureRect</key>
                <string>{{1,137},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_108-hd.png</string>
            <key>size</key>
            <string>{98,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a7c3c90881da03a47d130a9f05ff53:b4f8583b902b1859370dd3ef307bb1ac:0c384321568dab4b28aa4ba710b1843e$</string>
            <key>textureFileName</key>
            <string>icons/ship_108-hd.png</string>
        </dict>
    </dict>
</plist>
