<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,49}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{126,2},{86,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{214,2},{77,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,46}</string>
                <key>textureRect</key>
                <string>{{94,2},{51,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{90,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,59}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_36-hd.png</string>
            <key>size</key>
            <string>{293,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415bbbfef4bf1cf753258925558b01ed:1573e1262db5c4f0e8be5b6cc51a9a5e:454e52f90ca0b17b1735cf91226a943d$</string>
            <key>textureFileName</key>
            <string>icons/ship_36-hd.png</string>
        </dict>
    </dict>
</plist>
