<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_63_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{79,48}</string>
                <key>textureRect</key>
                <string>{{2,48},{79,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_63_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,44}</string>
                <key>textureRect</key>
                <string>{{83,48},{72,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_63_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{72,32}</string>
                <key>textureRect</key>
                <string>{{87,2},{44,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_63_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{83,44}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{83,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_63-hd.png</string>
            <key>size</key>
            <string>{121,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa41b3c89338688cb2f22ffd9363cd63:ce7e2d4ead68eb002ce7ccf756676e13:acd06ed9906fc9eaee8b08b0a739a82e$</string>
            <key>textureFileName</key>
            <string>icons/ship_63-hd.png</string>
        </dict>
    </dict>
</plist>
