<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_44_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{104,47}</string>
                <key>spriteSourceSize</key>
                <string>{110,47}</string>
                <key>textureRect</key>
                <string>{{2,55},{104,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_44_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{2,104},{98,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_44_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{108,51}</string>
                <key>spriteSourceSize</key>
                <string>{114,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{108,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_44-hd.png</string>
            <key>size</key>
            <string>{112,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c8df9611fd1cd0c168f4c25822132e:7d9304719ccf5337af595f9cad348804:9ed7c46f07fea5985481a846ada61ae4$</string>
            <key>textureFileName</key>
            <string>icons/ship_44-hd.png</string>
        </dict>
    </dict>
</plist>
