<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{2,44},{90,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_18_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{2,82},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_18_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_18-hd.png</string>
            <key>size</key>
            <string>{98,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44611a75efcac023882d0cc760ff6840:1faa90d594243bead5f6cd8465ba72a5:f2ee34456f0fcd0755aa965e4d47b9dd$</string>
            <key>textureFileName</key>
            <string>icons/ship_18-hd.png</string>
        </dict>
    </dict>
</plist>
