<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_119_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,42}</string>
                <key>spriteSourceSize</key>
                <string>{79,42}</string>
                <key>textureRect</key>
                <string>{{1,49},{79,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_119_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,37}</string>
                <key>spriteSourceSize</key>
                <string>{75,37}</string>
                <key>textureRect</key>
                <string>{{86,1},{75,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_119_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{74,26}</string>
                <key>textureRect</key>
                <string>{{82,78},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_119_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,46}</string>
                <key>spriteSourceSize</key>
                <string>{83,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_119-hd.png</string>
            <key>size</key>
            <string>{124,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b96747b06aa9e4f01671ab001938688:f7b22687c067baf92733ef5a138a6f97:83f937f2a8ae759915a74e39fa01f0ce$</string>
            <key>textureFileName</key>
            <string>icons/ship_119-hd.png</string>
        </dict>
    </dict>
</plist>
