<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_129_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{105,47}</string>
                <key>spriteSourceSize</key>
                <string>{111,47}</string>
                <key>textureRect</key>
                <string>{{1,84},{105,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_129_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{99,43}</string>
                <key>spriteSourceSize</key>
                <string>{107,43}</string>
                <key>textureRect</key>
                <string>{{1,39},{99,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_129_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{89,36}</string>
                <key>spriteSourceSize</key>
                <string>{103,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_129_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{109,51}</string>
                <key>spriteSourceSize</key>
                <string>{115,51}</string>
                <key>textureRect</key>
                <string>{{1,133},{109,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_129-hd.png</string>
            <key>size</key>
            <string>{111,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05587f35e557b6915a91c3dc9c3162bf:65433aa44cd7cb2d0f840db5061149dc:6bb49ff400d04f10bd7dd631b2aa8f8d$</string>
            <key>textureFileName</key>
            <string>icons/ship_129-hd.png</string>
        </dict>
    </dict>
</plist>
