<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,45}</string>
                <key>textureRect</key>
                <string>{{2,31},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_24_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{65,27}</string>
                <key>spriteSourceSize</key>
                <string>{71,27}</string>
                <key>textureRect</key>
                <string>{{2,2},{65,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_24_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,49}</string>
                <key>textureRect</key>
                <string>{{2,76},{86,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_24-hd.png</string>
            <key>size</key>
            <string>{90,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aaf0412d7d6e050293598ce7ea5a183:a56c17d50599995a6f9dde10bb6291d0:9a3d4c078fb22c40695eab1e0b45938f$</string>
            <key>textureFileName</key>
            <string>icons/ship_24-hd.png</string>
        </dict>
    </dict>
</plist>
