<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{94,51}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1,58},{94,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{91,48}</string>
                <key>spriteSourceSize</key>
                <string>{95,50}</string>
                <key>textureRect</key>
                <string>{{1,111},{91,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{94,42}</string>
                <key>textureRect</key>
                <string>{{51,111},{82,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{104,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_112-hd.png</string>
            <key>size</key>
            <string>{100,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7e1f617fccdb96220e9e35239e2c54:874e4ec7df28fe3c952b982041e00b60:6e060824028ddcc58c993e43081f08d0$</string>
            <key>textureFileName</key>
            <string>icons/ship_112-hd.png</string>
        </dict>
    </dict>
</plist>
