<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{84,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,46}</string>
                <key>textureRect</key>
                <string>{{2,42},{84,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,44}</string>
                <key>textureRect</key>
                <string>{{7,2},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-198.5,198.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2,2},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{2,84},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_28-hd.png</string>
            <key>size</key>
            <string>{92,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f507a494a36b1532a90c1cc2e4a643:778cd7ecf369228ec9d9139731ca504d:a02a0dd894c61a99fd32c3553c24f804$</string>
            <key>textureFileName</key>
            <string>icons/ship_28-hd.png</string>
        </dict>
    </dict>
</plist>
