<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,54}</string>
                <key>textureRect</key>
                <string>{{2,56},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-1}</string>
                <key>spriteSize</key>
                <string>{8,17}</string>
                <key>spriteSourceSize</key>
                <string>{60,19}</string>
                <key>textureRect</key>
                <string>{{92,56},{8,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_22-hd.png</string>
            <key>size</key>
            <string>{102,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02fc615f4809fe1f1f13e6c0f9d600f:25594c8ffcd38ebce22b94178b054ca5:61f78b305905e95d782148613bc90308$</string>
            <key>textureFileName</key>
            <string>icons/ship_22-hd.png</string>
        </dict>
    </dict>
</plist>
