<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{78,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{1,50},{78,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,41}</string>
                <key>textureRect</key>
                <string>{{85,1},{74,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{1,95},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,47}</string>
                <key>spriteSourceSize</key>
                <string>{84,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_113-hd.png</string>
            <key>size</key>
            <string>{125,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161592362452943fe12e6c4d06ee0195:0dc128c6c343bda79ff43eb16060b8a0:7f720fc72f9bb2e6289ad57f3fbcc76d$</string>
            <key>textureFileName</key>
            <string>icons/ship_113-hd.png</string>
        </dict>
    </dict>
</plist>
