<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_166_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{92,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,38}</string>
                <key>textureRect</key>
                <string>{{1,33},{92,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_166_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{87,21}</string>
                <key>spriteSourceSize</key>
                <string>{87,33}</string>
                <key>textureRect</key>
                <string>{{1,61},{87,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_166_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{52,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{1,84},{52,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_166_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{96,30}</string>
                <key>spriteSourceSize</key>
                <string>{96,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_166-hd.png</string>
            <key>size</key>
            <string>{98,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b3b5d861a12435369bee9f94acef5b3:72994f6e8be14ac26cd4a9fc3425f671:26f30c99ecf61fa011cf9ec5eaf28f48$</string>
            <key>textureFileName</key>
            <string>icons/ship_166-hd.png</string>
        </dict>
    </dict>
</plist>
