<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{84,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,63}</string>
                <key>textureRect</key>
                <string>{{2,42},{84,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_34_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{86,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_34_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{2,101},{88,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_34-hd.png</string>
            <key>size</key>
            <string>{92,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5464e3c69c1a7bb0eb890db361b6e58e:473fbbfb221c891f95d693e39bf8d997:b638c38925e790020bbe03e769045c21$</string>
            <key>textureFileName</key>
            <string>icons/ship_34-hd.png</string>
        </dict>
    </dict>
</plist>
