<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{87,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{2,56},{87,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_26_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{2,146},{66,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_26_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,44}</string>
                <key>textureRect</key>
                <string>{{2,106},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_26_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{98,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_26-hd.png</string>
            <key>size</key>
            <string>{96,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3241f936cf4891363473c153286d9c08:0e722d6e2726a29e48b29bc0c5c1f694:76e37959a22cd491b4263dab97dfb9f0$</string>
            <key>textureFileName</key>
            <string>icons/ship_26-hd.png</string>
        </dict>
    </dict>
</plist>
