<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_145_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{81,47}</string>
                <key>textureRect</key>
                <string>{{88,1},{81,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_145_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{62,27}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{171,1},{62,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_145_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,10}</string>
                <key>spriteSourceSize</key>
                <string>{76,10}</string>
                <key>textureRect</key>
                <string>{{171,30},{74,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_145_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{85,49}</string>
                <key>spriteSourceSize</key>
                <string>{85,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_145-hd.png</string>
            <key>size</key>
            <string>{246,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64bb6090ad4297d84e604bfc2902c3fa:6a3bd030a155b14d10157d90302eedc0:c2dab0e98ec0c0e1027eb866bd7daf96$</string>
            <key>textureFileName</key>
            <string>icons/ship_145-hd.png</string>
        </dict>
    </dict>
</plist>
