<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{91,37}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{1,44},{91,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{77,27}</string>
                <key>spriteSourceSize</key>
                <string>{85,27}</string>
                <key>textureRect</key>
                <string>{{98,1},{77,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{81,30}</string>
                <key>textureRect</key>
                <string>{{1,83},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_109-hd.png</string>
            <key>size</key>
            <string>{126,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:370fc111bf6eb99b4b637ed86b121697:04e5be7dce49eb979bdcbbaaf43736ed:9f0056777c759d3ab9f29c91f0384886$</string>
            <key>textureFileName</key>
            <string>icons/ship_109-hd.png</string>
        </dict>
    </dict>
</plist>
