<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_71_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{82,41}</string>
                <key>spriteSourceSize</key>
                <string>{82,47}</string>
                <key>textureRect</key>
                <string>{{90,2},{82,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_71_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{77,43}</string>
                <key>textureRect</key>
                <string>{{174,2},{77,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_71_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{75,16}</string>
                <key>spriteSourceSize</key>
                <string>{75,28}</string>
                <key>textureRect</key>
                <string>{{174,41},{75,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_71_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_71-hd.png</string>
            <key>size</key>
            <string>{253,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d48bbf489dbde0fd15c7befc7df4cb8:a6ce8043232ed9db5590623524772845:7a431f0145d15ffdfa9dc9c45e44f54b$</string>
            <key>textureFileName</key>
            <string>icons/ship_71-hd.png</string>
        </dict>
    </dict>
</plist>
