<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_121_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,39}</string>
                <key>spriteSourceSize</key>
                <string>{94,41}</string>
                <key>textureRect</key>
                <string>{{1,46},{90,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_121_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{1,87},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_121_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{87,21}</string>
                <key>textureRect</key>
                <string>{{93,46},{53,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_121_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{94,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_121-hd.png</string>
            <key>size</key>
            <string>{115,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de0d50b97c0d177856dc1455c76344a:e11fdfb3130742e5137ae195e74c4d1b:4663c9352f1e28b7bc6893c99519c98d$</string>
            <key>textureFileName</key>
            <string>icons/ship_121-hd.png</string>
        </dict>
    </dict>
</plist>
