<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{2,52},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_13_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{77,31}</string>
                <key>spriteSourceSize</key>
                <string>{79,43}</string>
                <key>textureRect</key>
                <string>{{88,2},{77,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_13_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_13-hd.png</string>
            <key>size</key>
            <string>{121,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bb3ff43e8c386dc7f94bed386c0a261:57f60b4c4a357a72bea924ec245838c9:a14a3a959aabd5707bd877956348b18c$</string>
            <key>textureFileName</key>
            <string>icons/ship_13-hd.png</string>
        </dict>
    </dict>
</plist>
