<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{99,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,47}</string>
                <key>textureRect</key>
                <string>{{2,74},{99,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{76,35}</string>
                <key>spriteSourceSize</key>
                <string>{96,35}</string>
                <key>textureRect</key>
                <string>{{2,37},{76,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{103,49}</string>
                <key>spriteSourceSize</key>
                <string>{117,51}</string>
                <key>textureRect</key>
                <string>{{2,121},{103,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_32-hd.png</string>
            <key>size</key>
            <string>{107,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6ed44871df4a21ebd98c791b6c4795:a9f48a23dbcf9ad804e0ebef9ec97a08:ca993fc6d42185b7ac33d7954c2afe5c$</string>
            <key>textureFileName</key>
            <string>icons/ship_32-hd.png</string>
        </dict>
    </dict>
</plist>
