<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_135_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,46}</string>
                <key>textureRect</key>
                <string>{{1,49},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_135_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{73,37}</string>
                <key>spriteSourceSize</key>
                <string>{73,41}</string>
                <key>textureRect</key>
                <string>{{88,1},{73,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_135_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{41,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{84,76},{41,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_135_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_135-hd.png</string>
            <key>size</key>
            <string>{126,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:570015102eaeabd73aeaaa71fbf1fba9:b051512e7e836feaba08d582147353ce:5bc80135e4867842b6039e0ea0db6cb3$</string>
            <key>textureFileName</key>
            <string>icons/ship_135-hd.png</string>
        </dict>
    </dict>
</plist>
