<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{93,40}</string>
                <key>spriteSourceSize</key>
                <string>{99,40}</string>
                <key>textureRect</key>
                <string>{{2,48},{93,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_19_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{2,90},{74,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_19_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{97,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{2,2},{97,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_19-hd.png</string>
            <key>size</key>
            <string>{101,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59ce0692716ee57dc6964b01470e9f58:5c986bd123c71abbb1c106f7348402dd:f362100236a45acb242c3fd91f2cd4c3$</string>
            <key>textureFileName</key>
            <string>icons/ship_19-hd.png</string>
        </dict>
    </dict>
</plist>
