<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_56_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{47,2},{77,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_56_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{47,43},{73,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_56_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{47,80},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_56_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{81,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_56-hd.png</string>
            <key>size</key>
            <string>{126,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caed3331c6959cd19eb7f0f3c6e2faeb:667415c44d462dc01e77421a71b0a17b:c3053b86670e5d97608cd83a4282cf5b$</string>
            <key>textureFileName</key>
            <string>icons/ship_56-hd.png</string>
        </dict>
    </dict>
</plist>
