<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_131_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{90,41}</string>
                <key>spriteSourceSize</key>
                <string>{92,49}</string>
                <key>textureRect</key>
                <string>{{1,48},{90,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_131_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{87,44}</string>
                <key>textureRect</key>
                <string>{{1,91},{85,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_131_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{65,19}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{93,48},{65,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_131_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{94,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_131-hd.png</string>
            <key>size</key>
            <string>{113,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bda9240f979523882567c879d22ff133:50120482ba1fc46e3b800cc13a741379:ebb1903c842732104ba50b289c971422$</string>
            <key>textureFileName</key>
            <string>icons/ship_131-hd.png</string>
        </dict>
    </dict>
</plist>
