<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_82_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{85,44}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{1,59},{85,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_82_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{1,17},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_82_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{71,14}</string>
                <key>spriteSourceSize</key>
                <string>{79,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_82_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,54}</string>
                <key>textureRect</key>
                <string>{{1,105},{89,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_82-hd.png</string>
            <key>size</key>
            <string>{91,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ede6bec114cbfa878fac433602897e3:be0d6dd1028d45274290b938455a30e3:21d14b2467e1e8f15d26fbcc256cb309$</string>
            <key>textureFileName</key>
            <string>icons/ship_82-hd.png</string>
        </dict>
    </dict>
</plist>
