<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_136_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{91,43}</string>
                <key>spriteSourceSize</key>
                <string>{91,51}</string>
                <key>textureRect</key>
                <string>{{1,76},{91,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_136_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{86,37}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{1,37},{86,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_136_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_136_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{95,55}</string>
                <key>textureRect</key>
                <string>{{1,121},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_136-hd.png</string>
            <key>size</key>
            <string>{97,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e436c86261731398a8237b0c3757a79f:e2f0805e1df3386c1be5190accf70bf8:9f7cf052dbc2fee87c0ec419050029b6$</string>
            <key>textureFileName</key>
            <string>icons/ship_136-hd.png</string>
        </dict>
    </dict>
</plist>
