<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_98_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{93,42}</string>
                <key>spriteSourceSize</key>
                <string>{103,46}</string>
                <key>textureRect</key>
                <string>{{100,1},{93,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_98_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,42}</string>
                <key>textureRect</key>
                <string>{{195,1},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_98_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{68,25}</string>
                <key>textureRect</key>
                <string>{{279,1},{30,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_98_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{97,46}</string>
                <key>spriteSourceSize</key>
                <string>{107,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_98-hd.png</string>
            <key>size</key>
            <string>{305,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7a43c240d2ef132f5c65e8b66b55fc:74ff8aa45a892855945f1b8eaebeb6e0:2d1636433229f27c3e82bf6c9a2aa7f7$</string>
            <key>textureFileName</key>
            <string>icons/ship_98-hd.png</string>
        </dict>
    </dict>
</plist>
