<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_38_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,56}</string>
                <key>textureRect</key>
                <string>{{2,82},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_38_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,49}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{2,31},{88,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_38_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{75,27}</string>
                <key>spriteSourceSize</key>
                <string>{87,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_38_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{2,140},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_38-hd.png</string>
            <key>size</key>
            <string>{100,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1094dc3ad42d9952b10525dff6173315:b1dc67035af5a23e0d1b81a131efecb5:f88b99e0c714498fc5592c7eb1c2021d$</string>
            <key>textureFileName</key>
            <string>icons/ship_38-hd.png</string>
        </dict>
    </dict>
</plist>
