<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_95_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{91,1},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{75,24}</string>
                <key>textureRect</key>
                <string>{{177,1},{75,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{62,13}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{177,27},{62,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_95-hd.png</string>
            <key>size</key>
            <string>{253,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae25c24879d829a1fb2140b3603feb3:6345431d95ee3ea02e98f8050c1ac326:7646346e7b5dfaa1854e3caa671f1537$</string>
            <key>textureFileName</key>
            <string>icons/ship_95-hd.png</string>
        </dict>
    </dict>
</plist>
