<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{87,48}</string>
                <key>spriteSourceSize</key>
                <string>{91,48}</string>
                <key>textureRect</key>
                <string>{{2,56},{87,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{83,44}</string>
                <key>spriteSourceSize</key>
                <string>{87,44}</string>
                <key>textureRect</key>
                <string>{{2,106},{83,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{91,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{91,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_06-hd.png</string>
            <key>size</key>
            <string>{95,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be398c4077f0188a864d3c91e4a26788:5b528b8063356cbccde9a86be0dd7b1e:f7c63eae4e5ce03370384fc76186108f$</string>
            <key>textureFileName</key>
            <string>icons/ship_06-hd.png</string>
        </dict>
    </dict>
</plist>
