<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_76_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{89,2},{81,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_76_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{172,2},{77,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_76_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,24}</string>
                <key>textureRect</key>
                <string>{{172,43},{50,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_76_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,57}</string>
                <key>textureRect</key>
                <string>{{2,2},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_76-hd.png</string>
            <key>size</key>
            <string>{251,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873fc5cfca94acac1c06057767cb1f76:c0dcd0e8bf7ab126f6be957b5f44a3ec:adcfa854767fcf9a82167698b3d0b8b2$</string>
            <key>textureFileName</key>
            <string>icons/ship_76-hd.png</string>
        </dict>
    </dict>
</plist>
