<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2,54},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_05_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{72,43}</string>
                <key>textureRect</key>
                <string>{{90,2},{70,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_05_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_05-hd.png</string>
            <key>size</key>
            <string>{127,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eba8df508d9257940835c25b27f1468:0d9313cf77b84fbfbafaa36608232ffd:237800e26029522457a8551e1c68ad4a$</string>
            <key>textureFileName</key>
            <string>icons/ship_05-hd.png</string>
        </dict>
    </dict>
</plist>
