<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_53_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{81,39}</string>
                <key>spriteSourceSize</key>
                <string>{85,47}</string>
                <key>textureRect</key>
                <string>{{13,47},{81,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_53_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,46}</string>
                <key>textureRect</key>
                <string>{{13,88},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_53_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{54,9}</string>
                <key>spriteSourceSize</key>
                <string>{64,15}</string>
                <key>textureRect</key>
                <string>{{2,47},{54,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_53_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{85,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,51}</string>
                <key>textureRect</key>
                <string>{{2,2},{85,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_53-hd.png</string>
            <key>size</key>
            <string>{96,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce2d89c7be3e3033f927923fc71bec2:ef111ea5af053908247d4c693b1ef047:44d4ee18221503f96ab94f3cc8b09e0f$</string>
            <key>textureFileName</key>
            <string>icons/ship_53-hd.png</string>
        </dict>
    </dict>
</plist>
