<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_114_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{83,36}</string>
                <key>spriteSourceSize</key>
                <string>{89,40}</string>
                <key>textureRect</key>
                <string>{{29,43},{83,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_114_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,37}</string>
                <key>textureRect</key>
                <string>{{29,81},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_114_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{85,26}</string>
                <key>textureRect</key>
                <string>{{1,43},{63,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_114_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{87,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_114-hd.png</string>
            <key>size</key>
            <string>{113,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d2abe87fe574da4cc0d20104c8419c:73f7da64543290dd1cb5b902140053b7:c1cacca88f0c1532f26ce67287ed864a$</string>
            <key>textureFileName</key>
            <string>icons/ship_114-hd.png</string>
        </dict>
    </dict>
</plist>
