<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{92,41}</string>
                <key>spriteSourceSize</key>
                <string>{96,49}</string>
                <key>textureRect</key>
                <string>{{2,49},{92,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{81,32}</string>
                <key>spriteSourceSize</key>
                <string>{89,36}</string>
                <key>textureRect</key>
                <string>{{2,92},{81,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_40_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{40,11}</string>
                <key>spriteSourceSize</key>
                <string>{68,11}</string>
                <key>textureRect</key>
                <string>{{96,49},{40,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_40-hd.png</string>
            <key>size</key>
            <string>{109,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:238f083285359818a07be4c661dee12f:4795e482465afe6e3fede148374dd9ee:47c65f04aa17601af37cff622f4ad650$</string>
            <key>textureFileName</key>
            <string>icons/ship_40-hd.png</string>
        </dict>
    </dict>
</plist>
