<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_132_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,47}</string>
                <key>spriteSourceSize</key>
                <string>{83,47}</string>
                <key>textureRect</key>
                <string>{{1,79},{83,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,41}</string>
                <key>spriteSourceSize</key>
                <string>{78,41}</string>
                <key>textureRect</key>
                <string>{{1,36},{78,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{76,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,51}</string>
                <key>spriteSourceSize</key>
                <string>{87,51}</string>
                <key>textureRect</key>
                <string>{{1,128},{87,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_132-hd.png</string>
            <key>size</key>
            <string>{89,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42da01c71a36b4996ec798c6282329d3:f767a9d0fcc5f0e2c9cb9aee59a37033:be81dba077a510fce555bf7759ea7ac5$</string>
            <key>textureFileName</key>
            <string>icons/ship_132-hd.png</string>
        </dict>
    </dict>
</plist>
