<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_18_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,54}</string>
                <key>textureRect</key>
                <string>{{61,1},{76,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_18_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{1,82},{65,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{71,48}</string>
                <key>textureRect</key>
                <string>{{68,79},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{79,58}</string>
                <key>spriteSourceSize</key>
                <string>{87,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_18_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{122,73},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{68,123},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{117,1},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{117,37},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{68,123},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{93,79},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{72,123},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{68,123},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{72,123},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_18-hd.png</string>
            <key>size</key>
            <string>{142,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6118d887f9da1f6a8cd5d4029aee0e:5e2d02e8e5ce3e118ea0a2e20cb1106a:d52d186613400a0f4f14a1b0f4d24b04$</string>
            <key>textureFileName</key>
            <string>icons/spider_18-hd.png</string>
        </dict>
    </dict>
</plist>
