<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_28_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,66},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{1,127},{65,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,20}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{68,127},{50,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{75,63}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{88,140},{21,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{74,101},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{78,24},{25,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{78,1},{21,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,34}</string>
                <key>textureRect</key>
                <string>{{93,101},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,46}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{74,74},{25,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{93,121},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{88,163},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{78,51},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_28-hd.png</string>
            <key>size</key>
            <string>{122,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e375bbd69618d6a3a4c33d641a1e84bf:a22a9863b545062a919b50b18a1f795f:e64688818411cc5c097345c218c7f145$</string>
            <key>textureFileName</key>
            <string>icons/spider_28-hd.png</string>
        </dict>
    </dict>
</plist>
