<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{59,39}</string>
                <key>textureRect</key>
                <string>{{2,47},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{39,88},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{43,24}</string>
                <key>textureRect</key>
                <string>{{63,82},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{63,43}</string>
                <key>textureRect</key>
                <string>{{2,2},{63,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{63,49},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{106,28},{3,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{2,88},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{67,28},{19,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{106,28},{3,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{67,2},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{84,83},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{106,28},{3,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{87,49},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_01-hd.png</string>
            <key>size</key>
            <string>{110,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26ad1b002a1179aa4e8d24e3d37ea31:9f4c974a3381a94dc57250e5cb22c400:7fceb51fcd28e54d8c52d3a9312474f7$</string>
            <key>textureFileName</key>
            <string>icons/spider_01-hd.png</string>
        </dict>
    </dict>
</plist>
