<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_62_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,46}</string>
                <key>spriteSourceSize</key>
                <string>{57,46}</string>
                <key>textureRect</key>
                <string>{{53,1},{57,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{189,38},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{101,1},{44,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{203,1},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{9,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{101,47},{9,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{171,1},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{146,1},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{8,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{217,34},{8,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{115,1},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{125,44},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{53,60},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{155,40},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_62-hd.png</string>
            <key>size</key>
            <string>{230,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c913e265025b600ec9d4d48cf3ceee:5b31c28da2703385a3c97b95f9a6bb81:508997c094babd8610e1404531587adb$</string>
            <key>textureFileName</key>
            <string>icons/spider_62-hd.png</string>
        </dict>
    </dict>
</plist>
