<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_36_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{74,1},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1,63},{63,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{52,25}</string>
                <key>textureRect</key>
                <string>{{143,33},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{71,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{108,98},{21,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{143,1},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{82,59},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{109,59},{22,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{55,106},{19,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{55,63},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{89,98},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{143,93},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{133,59},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_36-hd.png</string>
            <key>size</key>
            <string>{162,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee8ff29ccd4c75acf45440cb690db03:21781bc6c9499dbf446acef87ee2584b:45ca87cad6b5ff231c4c3e06e7e75d69$</string>
            <key>textureFileName</key>
            <string>icons/spider_36-hd.png</string>
        </dict>
    </dict>
</plist>
