<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_24_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{51,1},{57,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{254,1},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{94,1},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{226,39},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{259,34},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{208,1},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,39}</string>
                <key>spriteSourceSize</key>
                <string>{19,39}</string>
                <key>textureRect</key>
                <string>{{187,1},{19,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,35}</string>
                <key>textureRect</key>
                <string>{{236,1},{16,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{162,1},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{162,46},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{51,60},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{192,42},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_24-hd.png</string>
            <key>size</key>
            <string>{278,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1efb88f8c22a66c9795ab672d20c0d:8e924901d33e2999da834c8e0367ad5d:86f368f7f4d2462fd1cf9edf5779b543$</string>
            <key>textureFileName</key>
            <string>icons/spider_24-hd.png</string>
        </dict>
    </dict>
</plist>
