<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{76,2},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{146,2},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{285,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{274,39},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{156,46},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{257,2},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{236,2},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{8,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{146,46},{8,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{210,2},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{210,45},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{2,60},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{240,41},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_02-hd.png</string>
            <key>size</key>
            <string>{307,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267c2f99de5046b05b83900c4cd5039a:c5fa310cd11fc013732cd8cc5c632fb7:ce88eed7c41aeb356c46e9ada74925bc$</string>
            <key>textureFileName</key>
            <string>icons/spider_02-hd.png</string>
        </dict>
    </dict>
</plist>
