<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_06_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,55}</string>
                <key>textureRect</key>
                <string>{{2,73},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_06_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,41}</string>
                <key>textureRect</key>
                <string>{{2,140},{63,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_06_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{48,21}</string>
                <key>textureRect</key>
                <string>{{2,307},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_06_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,59}</string>
                <key>textureRect</key>
                <string>{{2,2},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_06_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{34,252},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{37,179},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{2,250},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{34,211},{26,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{37,140},{24,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{2,205},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{2,288},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_06_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{59,73},{3,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_06_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{34,286},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_06-hd.png</string>
            <key>size</key>
            <string>{63,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd334897ef27a7b90b863c728f714b0a:4f1c9e009168ec6b192c17afe4ea0400:06e79fc9599bbcdd5935792ad56be6f5$</string>
            <key>textureFileName</key>
            <string>icons/spider_06-hd.png</string>
        </dict>
    </dict>
</plist>
