<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_64_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,39}</string>
                <key>spriteSourceSize</key>
                <string>{62,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{57,29}</string>
                <key>spriteSourceSize</key>
                <string>{57,39}</string>
                <key>textureRect</key>
                <string>{{1,42},{57,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,31}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{1,73},{52,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{66,47}</string>
                <key>textureRect</key>
                <string>{{1,106},{66,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_64_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{41,213},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{55,92},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{1,200},{26,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_64_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{44,174},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{8,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{55,73},{8,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{1,174},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_64_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{46,110},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_64_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{60,42},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_64_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,228},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_64-hd.png</string>
            <key>size</key>
            <string>{64,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64336ef540b25cfb702e26fc889cf49a:b4d6aaa2b7baac4b76ded08a87515dca:9f615df12039b4cb277a4806ba186a83$</string>
            <key>textureFileName</key>
            <string>icons/spider_64-hd.png</string>
        </dict>
    </dict>
</plist>
