<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_20_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,43}</string>
                <key>textureRect</key>
                <string>{{1,50},{67,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,38}</string>
                <key>textureRect</key>
                <string>{{1,95},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,37}</string>
                <key>textureRect</key>
                <string>{{92,88},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,47}</string>
                <key>spriteSourceSize</key>
                <string>{71,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{70,50},{23,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{95,46},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{63,95},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{102,1},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{92,119},{18,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_20_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{74,1},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{74,46},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{74,46},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{74,46},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_20-hd.png</string>
            <key>size</key>
            <string>{128,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c925b388d157c0b0f43d1c7e4df493:1caf1cdab1877b9893c4255fcc0b844a:649e489bf978d8882fcce61b331f6d87$</string>
            <key>textureFileName</key>
            <string>icons/spider_20-hd.png</string>
        </dict>
    </dict>
</plist>
