<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_25_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{122,1},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{61,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{274,1},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{50,1},{70,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{285,37},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{254,39},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{244,1},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{219,1},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{307,1},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{190,1},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{190,44},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{50,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{220,40},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_25-hd.png</string>
            <key>size</key>
            <string>{328,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a2b24717f21fee102fe4a9aeefb3928:1febecd78045778f1f98ee72219b750b:b1917574cd4275541fc83b563f1b3652$</string>
            <key>textureFileName</key>
            <string>icons/spider_25-hd.png</string>
        </dict>
    </dict>
</plist>
