<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_04_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{2,56},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,23}</string>
                <key>textureRect</key>
                <string>{{32,106},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{51,106},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{68,98},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{109,33},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{64,60},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{68,33},{25,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{109,33},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{68,2},{29,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{2,106},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{109,33},{3,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{93,60},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_04-hd.png</string>
            <key>size</key>
            <string>{116,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20742a98ac9925075b5eccaf0ca9a0f:04e5978f30317df45e095c72f70cab20:d4a32f18a8a830b3d546f8500fe1f0db$</string>
            <key>textureFileName</key>
            <string>icons/spider_04-hd.png</string>
        </dict>
    </dict>
</plist>
