<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_59_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{56,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{1,58},{56,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1,152},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1,111},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{38,233},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{55,111},{9,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{1,218},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{44,194},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{51,152},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{1,194},{22,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{35,266},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{59,58},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,246},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_59-hd.png</string>
            <key>size</key>
            <string>{64,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:979b3b866be3d1ddd3ea7a83911fe794:dac85d815de0d8af1b9a3f5eb8feba3d:c67884467f4fc5b6f5d60c53deb6c5a1$</string>
            <key>textureFileName</key>
            <string>icons/spider_59-hd.png</string>
        </dict>
    </dict>
</plist>
