<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_05_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{2,64},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{72,2},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{68,85},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{125,85},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{117,59},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{137,27},{30,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{137,2},{23,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{21,37}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{102,85},{21,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{72,56},{27,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{153,93},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,2}</string>
                <key>spriteSourceSize</key>
                <string>{3,2}</string>
                <key>textureRect</key>
                <string>{{68,64},{3,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{153,59},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_05-hd.png</string>
            <key>size</key>
            <string>{178,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77d56dea14d04efdb1df3d4cb9326a1:e806fa490c3ab2301da3560b156ecdb0:95b256cffcbaef613755d2d5ed33fc4a$</string>
            <key>textureFileName</key>
            <string>icons/spider_05-hd.png</string>
        </dict>
    </dict>
</plist>
