<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_34_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{55,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1,53},{55,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{38,233},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1,101},{63,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{1,266},{21,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{34,268},{17,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{1,216},{25,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{1,193},{21,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{44,193},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,46}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{1,166},{25,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{34,287},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{1,289},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,243},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_34-hd.png</string>
            <key>size</key>
            <string>{64,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9c20ebffbe59f9077bdc09a748769d:87f2e06da27374ba30001ea31bbcb9bd:151be00fafa635e974aae7782f094891$</string>
            <key>textureFileName</key>
            <string>icons/spider_34-hd.png</string>
        </dict>
    </dict>
</plist>
