<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_11_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{60,2},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{60,56},{62,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3}</string>
                <key>spriteSize</key>
                <string>{21,6}</string>
                <key>spriteSourceSize</key>
                <string>{61,12}</string>
                <key>textureRect</key>
                <string>{{32,114},{21,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{71,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{71,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{128,42},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{132,101},{19,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{32,75},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{128,2},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{132,66},{20,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{2,75},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{109,56},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{55,114},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{109,86},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_11-hd.png</string>
            <key>size</key>
            <string>{163,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4c654239ca85025c2b7da6d70350ae:8b6f1d9de3ab6bb57ca2a320e86f054c:057bb2f208cc0305dd57697b0d1c6271$</string>
            <key>textureFileName</key>
            <string>icons/spider_11-hd.png</string>
        </dict>
    </dict>
</plist>
