<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_44_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,55}</string>
                <key>spriteSourceSize</key>
                <string>{63,57}</string>
                <key>textureRect</key>
                <string>{{120,1},{63,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{69,1},{59,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{57,52}</string>
                <key>textureRect</key>
                <string>{{185,1},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{256,40},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{302,1},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{273,1},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,37}</string>
                <key>spriteSourceSize</key>
                <string>{22,37}</string>
                <key>textureRect</key>
                <string>{{249,1},{22,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{221,44},{19,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{221,1},{26,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{323,1},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{323,31},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{289,38},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_44-hd.png</string>
            <key>size</key>
            <string>{341,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a43aa8f407dc95f2a04835391bf8cd9:f0952872525d0f72a3d21d3cba6749b7:63b64753b55703835868eee3a828d304$</string>
            <key>textureFileName</key>
            <string>icons/spider_44-hd.png</string>
        </dict>
    </dict>
</plist>
