<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_58_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{1,46},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{57,34}</string>
                <key>textureRect</key>
                <string>{{67,86},{27,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,1}</string>
                <key>spriteSize</key>
                <string>{8,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{62,76},{8,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{24,87},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{11,4}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{67,115},{11,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{66,22},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{66,1},{19,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{7,34}</string>
                <key>textureRect</key>
                <string>{{86,76},{7,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{62,50},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{48,87},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_58_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{62,46},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_58_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,87},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_58-hd.png</string>
            <key>size</key>
            <string>{104,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c61930a081ccb0f90d884ccd3e95da6a:5d8e1f66c79a279f44487d24d3a4bd3b:c61df6caa703e8ecd5dc48d3b310f863$</string>
            <key>textureFileName</key>
            <string>icons/spider_58-hd.png</string>
        </dict>
    </dict>
</plist>
