<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_23_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{86,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{86,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,50}</string>
                <key>textureRect</key>
                <string>{{1,150},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{30,109},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{55,109},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_23_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{1,109},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{89,65},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{89,108},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{87,150},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{93,35},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_23_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{55,133},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_23_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{93,1},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_23-hd.png</string>
            <key>size</key>
            <string>{115,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b99bb4bdef5e7597bee92792148d6c3:08b642b0d27d1abbd9b1b5d0f22abcb8:0d97ec947152f14b0e7cf2be77bb902f$</string>
            <key>textureFileName</key>
            <string>icons/spider_23-hd.png</string>
        </dict>
    </dict>
</plist>
