<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_17_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,54}</string>
                <key>textureRect</key>
                <string>{{58,2},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,51}</string>
                <key>textureRect</key>
                <string>{{58,54},{68,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_17_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,5}</string>
                <key>spriteSize</key>
                <string>{28,6}</string>
                <key>spriteSourceSize</key>
                <string>{70,16}</string>
                <key>textureRect</key>
                <string>{{130,83},{28,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{75,54}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_17_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{107,91},{25,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{131,40},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_17_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{131,2},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,39}</string>
                <key>spriteSourceSize</key>
                <string>{24,39}</string>
                <key>textureRect</key>
                <string>{{32,79},{24,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,35}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{107,54},{21,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{2,79},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{130,64},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{32,120},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_17_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{134,91},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_17-hd.png</string>
            <key>size</key>
            <string>{162,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86226efc40353cd144d11534a515eb65:8d3551eaaa1e9944d2541c053be9c886:e3722ad65da51c2465481e33be70ced9$</string>
            <key>textureFileName</key>
            <string>icons/spider_17-hd.png</string>
        </dict>
    </dict>
</plist>
