<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_27_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_27_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{46,1},{56,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_27_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{45,9}</string>
                <key>spriteSourceSize</key>
                <string>{55,39}</string>
                <key>textureRect</key>
                <string>{{88,50},{45,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{72,47}</string>
                <key>textureRect</key>
                <string>{{88,1},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{256,1},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{182,42},{20,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_27_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{206,1},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{182,1},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,35}</string>
                <key>spriteSourceSize</key>
                <string>{19,35}</string>
                <key>textureRect</key>
                <string>{{235,1},{19,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{154,1},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{248,38},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{46,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_27_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{214,41},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_27-hd.png</string>
            <key>size</key>
            <string>{280,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8737c6b6ff400c744f186abf77596392:c54eea868d238a687458f8df4ee97331:9162a18f9cb290112146f85550f6f455$</string>
            <key>textureFileName</key>
            <string>icons/spider_27-hd.png</string>
        </dict>
    </dict>
</plist>
