<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_16_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{73,2},{51,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{252,2},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{20,7}</string>
                <key>spriteSourceSize</key>
                <string>{50,15}</string>
                <key>textureRect</key>
                <string>{{73,55},{20,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,85}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{226,2},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{223,43},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{196,2},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{170,2},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{200,43},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{140,2},{28,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{170,45},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{2,59},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{245,39},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_16-hd.png</string>
            <key>size</key>
            <string>{280,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8d6c4468fa372b8a42887875cdb394:25e06a59b47eff909667019cdd853bc0:ec48e9bceea98cd7ea8d24773f9a19d5$</string>
            <key>textureFileName</key>
            <string>icons/spider_16-hd.png</string>
        </dict>
    </dict>
</plist>
