<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_51_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{65,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{1,55},{57,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1,172},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{1,105},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{40,277},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{46,211},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{1,265},{24,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{1,240},{23,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,291},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{1,211},{27,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{21,291},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{40,311},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{42,243},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_51-hd.png</string>
            <key>size</key>
            <string>{64,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c731a7874a956397f094d85c8ae432:546d92b078bcc6dc08973f7ca03a2322:274a6f270b17491a06b01917fb008394$</string>
            <key>textureFileName</key>
            <string>icons/spider_51-hd.png</string>
        </dict>
    </dict>
</plist>
