<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_41_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{59,1},{72,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{66,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{113,1},{66,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,52}</string>
                <key>textureRect</key>
                <string>{{1,79},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{147,50},{24,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{116,98},{20,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{32,79},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{91,75},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{146,76},{20,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{62,75},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{116,73},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{148,98},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{113,50},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_41-hd.png</string>
            <key>size</key>
            <string>{181,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638c0c7f198f761632e8e1fab969c504:0290724f99316484b9f7ac2866143b22:fa91ac3968b82fa8fc98ea7d363fc774$</string>
            <key>textureFileName</key>
            <string>icons/spider_41-hd.png</string>
        </dict>
    </dict>
</plist>
