<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_69_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{79,49}</string>
                <key>spriteSourceSize</key>
                <string>{93,49}</string>
                <key>textureRect</key>
                <string>{{56,1},{79,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,33}</string>
                <key>textureRect</key>
                <string>{{107,1},{70,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{120,90},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{97,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{140,41},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{140,1},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{45,86},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_02copy_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{138,74},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_69_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,36}</string>
                <key>spriteSourceSize</key>
                <string>{21,36}</string>
                <key>textureRect</key>
                <string>{{22,86},{21,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,33}</string>
                <key>spriteSourceSize</key>
                <string>{18,33}</string>
                <key>textureRect</key>
                <string>{{100,82},{18,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{73,82},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_03copy_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{1,86},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{140,22},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{120,73},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_69_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{137,98},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_69-hd.png</string>
            <key>size</key>
            <string>{170,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa85e405a103e4227f8d232862d90ccb:be3105449e2eaaac7b5c8262d936a9d1:3d05dca5ee66128e83772adce26772c5$</string>
            <key>textureFileName</key>
            <string>icons/spider_69-hd.png</string>
        </dict>
    </dict>
</plist>
