<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_52_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{66,1},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{124,1},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,11}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{225,43},{20,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{291,24},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{256,42},{21,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{209,1},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{239,1},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{266,1},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{178,1},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{178,46},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{208,46},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{290,1},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_52-hd.png</string>
            <key>size</key>
            <string>{323,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301161fc3ac86825adbe858ef60aec0a:8f43b5b10467b6a19e527983310fabf2:674d023e8efd371f3f52ee21b1ebb802$</string>
            <key>textureFileName</key>
            <string>icons/spider_52-hd.png</string>
        </dict>
    </dict>
</plist>
