<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_60_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{63,44}</string>
                <key>spriteSourceSize</key>
                <string>{63,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{63,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{70,1},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{122,27},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{67,48}</string>
                <key>spriteSourceSize</key>
                <string>{67,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{38,97},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_60_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{122,1},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,97},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_60_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{71,78},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{104,108},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_60_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{70,41},{35,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_60_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{104,78},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_60_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{66,51},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_60_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{113,41},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_60-hd.png</string>
            <key>size</key>
            <string>{138,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:448d96aeadbc3ceb00226eb6ed0c442d:9c4be821b1e518c73f8f561025898238:0e13efae67369fc686ea81c9be6d1496$</string>
            <key>textureFileName</key>
            <string>icons/spider_60-hd.png</string>
        </dict>
    </dict>
</plist>
