<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_68_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,65}</string>
                <key>textureRect</key>
                <string>{{1,74},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{60,1},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{58,37}</string>
                <key>spriteSourceSize</key>
                <string>{58,61}</string>
                <key>textureRect</key>
                <string>{{104,1},{58,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{133,73},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{147,54},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{70,66},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{104,73},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{147,40},{12,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{104,40},{31,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{133,106},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{60,66},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{70,103},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_68-hd.png</string>
            <key>size</key>
            <string>{163,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160f0e3f3226927861e86f9c707b30ad:098d773d89c57c99e784f7e99b78ef80:a51c8cd7c41b54889de50e791b2ed7c4$</string>
            <key>textureFileName</key>
            <string>icons/spider_68-hd.png</string>
        </dict>
    </dict>
</plist>
