<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_45_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{82,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{76,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{70,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,53}</string>
                <key>textureRect</key>
                <string>{{1,121},{70,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,9}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,39}</string>
                <key>textureRect</key>
                <string>{{83,28},{46,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{103,124},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{106,62},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{79,76},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{79,115},{22,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{106,28},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{83,1},{25,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{106,94},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{107,159},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{73,159},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_45-hd.png</string>
            <key>size</key>
            <string>{126,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4934f177fc36feb8aada6fc6138f39d7:c07da8eb03b43b762f5aee8dff6cbada:c4516a2dca661a9853b1b496d46f4c7e$</string>
            <key>textureFileName</key>
            <string>icons/spider_45-hd.png</string>
        </dict>
    </dict>
</plist>
