<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_63_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{56,1},{57,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{107,1},{46,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{45,23}</string>
                <key>textureRect</key>
                <string>{{175,40},{37,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{214,39},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{121,49},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{201,1},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{175,1},{24,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{107,49},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{145,1},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{145,44},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{56,60},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{229,1},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_63-hd.png</string>
            <key>size</key>
            <string>{251,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3338d9e909bb3ce446e21d2ae8aaa0f8:4892dc6fd23c7b69cd1a3bb2cfd276a2:79b9c6920a064227429870c59af6a8aa$</string>
            <key>textureFileName</key>
            <string>icons/spider_63-hd.png</string>
        </dict>
    </dict>
</plist>
