<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_26_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{57,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{1,46},{57,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,35}</string>
                <key>textureRect</key>
                <string>{{1,87},{53,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{1,191},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_26_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{61,43}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,33}</string>
                <key>spriteSourceSize</key>
                <string>{18,33}</string>
                <key>textureRect</key>
                <string>{{44,120},{18,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{31,224},{14,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_26_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,37}</string>
                <key>spriteSourceSize</key>
                <string>{21,37}</string>
                <key>textureRect</key>
                <string>{{1,146},{21,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_26_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{1,169},{20,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_26_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,33}</string>
                <key>spriteSourceSize</key>
                <string>{17,33}</string>
                <key>textureRect</key>
                <string>{{40,189},{17,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{1,120},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_26_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{1,224},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{60,46},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_26_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{40,155},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_26-hd.png</string>
            <key>size</key>
            <string>{63,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4b98a1d3d1543e3a27a11cc239209e:db5dc1b6be8006f3a9334167ed6bb384:10dfcdcd203fb2ccd4566168cab91f38$</string>
            <key>textureFileName</key>
            <string>icons/spider_26-hd.png</string>
        </dict>
    </dict>
</plist>
