<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_31_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,68},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{71,97},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,15}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{119,1},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{1,131},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{40,131},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{75,26},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{75,50},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,35}</string>
                <key>spriteSourceSize</key>
                <string>{15,35}</string>
                <key>textureRect</key>
                <string>{{112,26},{15,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{75,1},{23,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{21,131},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{40,148},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{96,63},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_31-hd.png</string>
            <key>size</key>
            <string>{128,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae88b49338d757789170727e3f417900:ce97853371cfd001179560282f7c022c:f41041d8a4739811f56b9b5a7c0bfd51$</string>
            <key>textureFileName</key>
            <string>icons/spider_31-hd.png</string>
        </dict>
    </dict>
</plist>
