<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_10_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{120,2},{73,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,9}</string>
                <key>spriteSize</key>
                <string>{59,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{2,2},{59,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_10_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{56,6}</string>
                <key>textureRect</key>
                <string>{{120,56},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{76,55}</string>
                <key>spriteSourceSize</key>
                <string>{84,61}</string>
                <key>textureRect</key>
                <string>{{42,2},{76,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{286,2},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{222,47},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{227,2},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{258,2},{26,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{265,43},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{195,2},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{235,43},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,15}</string>
                <key>spriteSourceSize</key>
                <string>{25,15}</string>
                <key>textureRect</key>
                <string>{{195,47},{25,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{286,39},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_10-hd.png</string>
            <key>size</key>
            <string>{320,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f60586dbe603b881aa6dbbd855efdcdc:c64423cdf5a8b4c6f16ede655688ef05:492244facb35aa434856716387c52026$</string>
            <key>textureFileName</key>
            <string>icons/spider_10-hd.png</string>
        </dict>
    </dict>
</plist>
