<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_29_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{65,44}</string>
                <key>textureRect</key>
                <string>{{66,1},{59,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{66,47},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,11}</string>
                <key>spriteSize</key>
                <string>{25,16}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{1,109},{25,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{63,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{66,89},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,28}</string>
                <key>textureRect</key>
                <string>{{110,112},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{1,79},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{42,81},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,32}</string>
                <key>textureRect</key>
                <string>{{28,109},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,51},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{45,51},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{92,112},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{92,89},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_29-hd.png</string>
            <key>size</key>
            <string>{126,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1215912965be83cdc0f3c3ebecab39:e1c8e705f64f29e43d2316764edd1bd4:c5905b52a879d2c04d84eacd1bae540e$</string>
            <key>textureFileName</key>
            <string>icons/spider_29-hd.png</string>
        </dict>
    </dict>
</plist>
