<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_13_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{80,56}</string>
                <key>spriteSourceSize</key>
                <string>{86,62}</string>
                <key>textureRect</key>
                <string>{{64,2},{80,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{122,28},{53,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{46,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,27}</string>
                <key>textureRect</key>
                <string>{{117,84},{46,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{2,2},{84,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{25,88},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{49,118},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{89,84},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,37}</string>
                <key>spriteSourceSize</key>
                <string>{19,37}</string>
                <key>textureRect</key>
                <string>{{68,84},{19,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{49,118},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{122,2},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{49,88},{28,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{49,118},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{2,88},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_13-hd.png</string>
            <key>size</key>
            <string>{165,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4152a35dbbb41fb331c54e0fdd9104c6:513fe45f6ec75863a59f66bebf432660:73c3b9a6f273a0c35e2620b4df0bb79c$</string>
            <key>textureFileName</key>
            <string>icons/spider_13-hd.png</string>
        </dict>
    </dict>
</plist>
