<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_40_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{91,63}</string>
                <key>textureRect</key>
                <string>{{66,1},{81,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{77,54}</string>
                <key>spriteSourceSize</key>
                <string>{87,58}</string>
                <key>textureRect</key>
                <string>{{127,1},{77,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-8}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{60,33}</string>
                <key>textureRect</key>
                <string>{{106,84},{22,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{95,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{65,88},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{152,99},{15,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,88},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{85,84},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,35}</string>
                <key>spriteSourceSize</key>
                <string>{15,35}</string>
                <key>textureRect</key>
                <string>{{25,88},{15,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{127,80},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{152,80},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{106,108},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{42,88},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_40-hd.png</string>
            <key>size</key>
            <string>{182,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:631bd19669f7a22fc015352b8e5e0b75:434e5707a633faf491d3bdaad8e3b0ed:606f0d1adbdd40414566f17c79d00343$</string>
            <key>textureFileName</key>
            <string>icons/spider_40-hd.png</string>
        </dict>
    </dict>
</plist>
