<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_53_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{67,43}</string>
                <key>textureRect</key>
                <string>{{66,1},{59,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1,50},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{47,24}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{1,92},{47,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{71,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{1,118},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_53_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{35,118},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_53_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{88,71},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_53_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{88,46},{23,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_53_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{50,93},{20,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_53_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{59,50},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{84,124},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{66,115},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_53_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{86,101},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_53-hd.png</string>
            <key>size</key>
            <string>{126,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329de1b5ab29ac6729dd1721f7496816:05467cfff640fd20e5fdb1da16f8e2b9:fc8e31d3e6a7941c35f87d9a43fc5d56$</string>
            <key>textureFileName</key>
            <string>icons/spider_53-hd.png</string>
        </dict>
    </dict>
</plist>
