<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{1,67},{69,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_05_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{72,67},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_05_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{76,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_05_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_05-hd.png</string>
            <key>size</key>
            <string>{121,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d0224b37cf0b73e2cdc879eb3fe67d:547f9388e76ae4f93f0e1aa5c2bf1c9d:217f16b3dda520c314377e7bd0c7d3ac$</string>
            <key>textureFileName</key>
            <string>icons/swing_05-hd.png</string>
        </dict>
    </dict>
</plist>
