<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{68,1},{71,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{131,1},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{43,25}</string>
                <key>spriteSourceSize</key>
                <string>{59,37}</string>
                <key>textureRect</key>
                <string>{{131,60},{43,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_29-hd.png</string>
            <key>size</key>
            <string>{196,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f69e68de35cf35d2818e44cb199066e8:809f28ae8fe41c2090f49ae85e766981:91f53622724eb8e98ad645815922b784$</string>
            <key>textureFileName</key>
            <string>icons/swing_29-hd.png</string>
        </dict>
    </dict>
</plist>
