<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{68,1},{66,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{21,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{131,1},{21,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{131,24},{46,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_32-hd.png</string>
            <key>size</key>
            <string>{189,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c345c9d11d47aad5659dfc1d96791a3:9a27bc47bd01ddc12579f49e17173ac9:14891d5e14be3b1fa42e1f97052f9d5c$</string>
            <key>textureFileName</key>
            <string>icons/swing_32-hd.png</string>
        </dict>
    </dict>
</plist>
