<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{80,1},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{155,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_06_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{229,1},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_06-hd.png</string>
            <key>size</key>
            <string>{256,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5faf3b8ff23b264a5f690f05376eb48d:717200606850d3df3a263f67c30e4230:0d0403a4767572341503243661f68740$</string>
            <key>textureFileName</key>
            <string>icons/swing_06-hd.png</string>
        </dict>
    </dict>
</plist>
