<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{72,69}</string>
                <key>textureRect</key>
                <string>{{74,1},{68,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_09_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{143,1},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_09_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{143,68},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_09_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_09-hd.png</string>
            <key>size</key>
            <string>{210,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:259d6ed8d7b2458ee50120925bc17a6a:96099f032297bbca4a92ad65297b42f7:d840dab83284989db2746ae039ce75b4$</string>
            <key>textureFileName</key>
            <string>icons/swing_09-hd.png</string>
        </dict>
    </dict>
</plist>
