<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{79,1},{72,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{149,1},{65,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{41,30}</string>
                <key>textureRect</key>
                <string>{{215,1},{23,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_27-hd.png</string>
            <key>size</key>
            <string>{234,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfcb7b38fefc5a4370a2790c92ecb2c:ee7e2b557ac6c92ebb6f05a672ad3e52:e30641cb82d233fefb4e9f9e80f9f882$</string>
            <key>textureFileName</key>
            <string>icons/swing_27-hd.png</string>
        </dict>
    </dict>
</plist>
