<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{80,1},{77,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_20_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{155,1},{72,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_20_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{155,70},{34,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_20_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_20-hd.png</string>
            <key>size</key>
            <string>{228,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13373336ee66db71dc8e221cdaafe550:a3618822b8ce2f96882479c4818f5fed:e08ca2b0ceb08d41cd06c89f488918a6$</string>
            <key>textureFileName</key>
            <string>icons/swing_20-hd.png</string>
        </dict>
    </dict>
</plist>
