<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{96,67}</string>
                <key>textureRect</key>
                <string>{{1,111},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_19_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{1,46},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_19_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_19_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{86,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,71}</string>
                <key>textureRect</key>
                <string>{{1,180},{86,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_19-hd.png</string>
            <key>size</key>
            <string>{88,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a4bf485cbdd5905a6136cfeb91cb48:971098a1cad8f483bd2c56cf8aba8a7e:373499e330e0914e4acc6d0219152e2c$</string>
            <key>textureFileName</key>
            <string>icons/swing_19-hd.png</string>
        </dict>
    </dict>
</plist>
