<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{81,1},{75,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_24_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{157,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_24_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{157,73},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_24_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_24-hd.png</string>
            <key>size</key>
            <string>{228,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b0bd3415646c7c878547a8239b781b:1e86b2b7c75e7f0297086c8ecb9a8422:8b081f835bfa6e85bccf08b01162640f$</string>
            <key>textureFileName</key>
            <string>icons/swing_24-hd.png</string>
        </dict>
    </dict>
</plist>
