<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{72,1},{67,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_16_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{139,1},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_16_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{139,66},{34,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_16_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_16-hd.png</string>
            <key>size</key>
            <string>{203,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3fe3d5346c3ff21f80085d701dba2c:a3e71feb4864a62716b53aca537ebe20:cb7eb874234a032b544aaef7d9792481$</string>
            <key>textureFileName</key>
            <string>icons/swing_16-hd.png</string>
        </dict>
    </dict>
</plist>
