<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{79,61}</string>
                <key>textureRect</key>
                <string>{{137,1},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,55}</string>
                <key>textureRect</key>
                <string>{{80,1},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_03_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{212,1},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_03-hd.png</string>
            <key>size</key>
            <string>{253,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e62073f10b43a4ca0b158850e4aa757:fbfb8fd1da69349757a1017a90a21689:f6ce5ac692376e126bb02c1a579de434$</string>
            <key>textureFileName</key>
            <string>icons/swing_03-hd.png</string>
        </dict>
    </dict>
</plist>
