<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{79,61}</string>
                <key>textureRect</key>
                <string>{{67,1},{71,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1,78},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_04_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{67,54}</string>
                <key>textureRect</key>
                <string>{{67,74},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{83,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_04-hd.png</string>
            <key>size</key>
            <string>{129,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9933679ef5056c905998ce84a504fa:f234a8efa24ee8431ab15f62dcd1f0f7:a17aa350418415a0b74e7fd5273c48f8$</string>
            <key>textureFileName</key>
            <string>icons/swing_04-hd.png</string>
        </dict>
    </dict>
</plist>
