<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{77,1},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_12_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,84}</string>
                <key>textureRect</key>
                <string>{{149,1},{67,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_12_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{149,70},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_12_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_12-hd.png</string>
            <key>size</key>
            <string>{224,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fda66f41064a7e163918a0de5caf056:d4618a35cb7129aecc9c2a31b16f42c6:802bd10852d6bbdd5c1821e6748e1508$</string>
            <key>textureFileName</key>
            <string>icons/swing_12-hd.png</string>
        </dict>
    </dict>
</plist>
