<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,91}</string>
                <key>textureRect</key>
                <string>{{80,1},{73,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_21_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{155,1},{68,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_21_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,77}</string>
                <key>textureRect</key>
                <string>{{155,71},{56,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_21_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_21-hd.png</string>
            <key>size</key>
            <string>{233,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34597711bde7ffc971bb5ee80ada605:9ffaeb8ddf170a448a2957e3a8598ac7:57b09ea9d61bc15f29c8f58624f3f449$</string>
            <key>textureFileName</key>
            <string>icons/swing_21-hd.png</string>
        </dict>
    </dict>
</plist>
