<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{1,77},{70,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_10_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{1,149},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{45,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,71}</string>
                <key>textureRect</key>
                <string>{{67,149},{45,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_10-hd.png</string>
            <key>size</key>
            <string>{113,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7417a4de9263309bf9bfa94dfe51946c:c7bd0eeae896f8897cd7373c51cb58de:174be4237c96b7e69191176af2aed4d3$</string>
            <key>textureFileName</key>
            <string>icons/swing_10-hd.png</string>
        </dict>
    </dict>
</plist>
