<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{77,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_31_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{149,1},{66,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_31_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{47,40}</string>
                <key>textureRect</key>
                <string>{{217,1},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_31_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_31-hd.png</string>
            <key>size</key>
            <string>{239,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a24e38c8357439ad60095c9adab3958f:b9839c1214d1778fd7a29607c2cf1239:f27856d5592182f7f4e692328068cd41$</string>
            <key>textureFileName</key>
            <string>icons/swing_31-hd.png</string>
        </dict>
    </dict>
</plist>
