<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{68,1},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{131,1},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_11_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{131,60},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_11-hd.png</string>
            <key>size</key>
            <string>{197,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b8f1bbe2a9751153d86fc93241d7e0:f7f2db32134d6fa12771acc314c3d568:4293d0a2ee570313e2b58e9f077d538e$</string>
            <key>textureFileName</key>
            <string>icons/swing_11-hd.png</string>
        </dict>
    </dict>
</plist>
