<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_33_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{68,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_33_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_33_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{133,60},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_33_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_33-hd.png</string>
            <key>size</key>
            <string>{198,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d78472da71250e477cc814ab786fe2d:2f86422c7f26fabf41ca531ec8818e0e:6460208edf870d317c3382fdc18bb7e4$</string>
            <key>textureFileName</key>
            <string>icons/swing_33-hd.png</string>
        </dict>
    </dict>
</plist>
