<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_17_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{63,57}</string>
                <key>spriteSourceSize</key>
                <string>{69,57}</string>
                <key>textureRect</key>
                <string>{{138,1},{63,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_17_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{197,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_17_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{76,65}</string>
                <key>textureRect</key>
                <string>{{64,1},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_17-hd.png</string>
            <key>size</key>
            <string>{248,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1e9c88d3718d929a5c94577b0aaf98:5dc32e344a51bce367467924e73f673c:141ccd69ff156ff7f4ecbe879e02add1$</string>
            <key>textureFileName</key>
            <string>icons/swing_17-hd.png</string>
        </dict>
    </dict>
</plist>
