/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

main {
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #556c7d;
}

main:nth-child(even) {
	background: #3979b8;
}

h1{
	font-size: 36px;
	font-weight: 400;
	margin: 15px 0;
	text-shadow: 0 2px 5px rgba(0,0,0,.1);
}

p {
    margin: 15px 0;
    width: fit-content;
	font-weight: 100;
	font-size: 18px;
	line-height: 25px;
}

sb{
	font-weight: 400;
}

smile1::before{
	content: '<3'
}

a {
    color: #3994db;
	font-weight: bold;
	transition: all 0.25s ease;
}
a:hover{
	color: #2471ad;
	text-shadow: 0 2px 5px rgba(0,0,0,.1);
}

quote{
	padding: 5px 15px;
	background: rgba(166, 216, 255, 0.2);
	border: 2px solid #3994db;
	border-radius: 2px;
	display: block;
}

.anchor{                                 
	transform: translateY(-50px);       
}    

.blue .param {
	background-color: #00abee;
    color: #fff;
}

.red .param, .redExample {
	background-color: #fc3542;
    color: #fff;
}

.param, .fetch {
    font-family: consolas;
    background-color: rgba(37, 69, 79, 0.2);
	padding: 5px;
    border-radius: 2px;
	color: #333;
}

.fetch {
    background-color: rgba(37, 69, 79, 0.2);
	color: #333;
    padding: 5px 50px 10px 5px;
    font-size: 14px;
    white-space: pre-wrap;
    max-width: 92%;
}

.reveal {
    color: #3994db;
	cursor: pointer;
	margin: 5px 0;
}

.reveal::after{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-bottom: -8px;
	background-image: url('../showmore-ic.svg');
	background-size: cover;
	transition: transform 0.25s ease;
	filter: invert(30%)
}
.reveal:hover::after{
	transform: rotate(180deg);
}

.subdiv {
    display: none;
    padding: 5px 15px;
	background: rgba(166, 216, 255, 0.2);
	border: 2px solid #3994db;
	border-radius: 2px;
    margin: 10px 0px 4px 0px;
    line-height: 24px;
}

.indent {
    margin-left: 20px;
}

.br {
    margin-bottom: 7px;
}

.main-block{
	background: #fff;
	padding: 25px 30px;
	margin: 50px 0px 15px 0px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	width: calc(100% - 100px);
	max-width: 1100px;
	border-radius: 4px;
}

.seperator{
	margin: 20px 0;
}

.main-header-wrap{
	margin: 0;
	height: 50px;
	background: rgb(243, 243, 243);
	position: sticky;
	top: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.main-header{
	height: 100%;
	width: 100%;
	max-width: 1060px;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.header-drawer{
	display: none;
	align-items: center;
}

.logo{
	margin-right: 10px;
}
.logo:hover{
	background-size: 75%;
}

.header-links{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: stretch;
}

.header-category{
	position: relative;
}

.header-category .category-content{
	display: none;
}
.header-category .category-name{
	display: flex;
	align-items: center;
	color: #333;
	padding: 0 25px;
	user-select: none;
	cursor: pointer;
	font-weight: 400;
	height: 100%;
	text-decoration: none;	
	font-size: 16px;
	transition: 0.25s ease all;
}
.header-category:hover .category-name{
	background: #efefef;
	color: #3994db;
}
.header-category:hover .category-content{
	display: block;
	position: absolute;
	top: 50px;
	left: 0;
	background: rgb(243, 243, 243);
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	z-index: 0;
	animation: pop 0.25s;
}

.category-content .header-link{
	padding: 10px 20px;
	white-space: nowrap;
}

.header-link{
	display: flex;
	align-items: center;
	color: #333;
	padding: 0 25px;
	user-select: none;
	cursor: pointer;
	font-weight: 400;
	height: 100%;
	text-decoration: none;	
	font-size: 16px;
}
.header-link:hover{
	background: #efefef;
	color: #3994db;
}

footer{
	background: linear-gradient(#333, #222);
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	height: 100px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
footer a{
	text-decoration: none;
}


@media screen and (max-width: 960px){
	.header-link{
		font-size: 14px;
		padding: 0 10px;
	}
}

@media screen and (max-width: 750px){
	.main-header{
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	.header-links{
		/*display: none;*/
		position: fixed;
		top: 50px;
		display: block;
		width: 100%;
		height: calc(100% - 50px);
		align-items: center;
		background: rgb(243, 243, 243);
		transition: transform 0.25s ease;
		overflow-y: auto;
	}
	.header-links::-webkit-scrollbar{
		width: 5px;
	}
	.header-links::-webkit-scrollbar-thumb{
		width: 5px;
		background: #888;
		border-radius: 2px;
	}
	.header-links.hid{
		transform: translateY(-150vh);
	}
	.header-link{
		width: 100%;
		justify-content: center;
		height: 70px;
		padding: 0;
	}
	.header-category{
		width: 100%;
	}
	.header-drawer{
		display: flex;
	}
	.header-drawer.active img{
		transform: rotate(90deg) scaleX(0.7);
	}
	.header-drawer img{
		transition: transform 0.25s ease;
		z-index: 999;
	}
	.header-category{
		position: static;
	}
	.header-category .category-name{
		display: none;
	}
	.header-category .category-content{
		display: block;
		position: static;
		background: none;
		box-shadow: none;
	}
	.header-category:hover .category-content{
		display: block;
		position: static;
		background: none;
		box-shadow: none;
		animation: none;
	}
	.header-category .header-link{
		padding: 0;
		white-space: inherit;
	}
}

@keyframes pop{
	0%{
		transform: translateY(-20px);
		opacity: 0;
	}
	20%{
		transform: translateY(-5px);
		opacity: 0.8;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}