@font-face {font-family: Pusab; src: url('./../Pusab.ttf')}

body {
    margin: 0;
    height: 100vh;
    background: #000;
}

.supercenter {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: center;
}

.levelBG {
    background-image: linear-gradient(#0065FD, #002E73);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-family: aller, helvetica;
    color: white;
    font-size: 2.9vh;
}

h1 {
    font-weight: normal;
    margin: 0% 0%;
    font-size: 90px;
    font-family: Pusab;
    color: white;
    letter-spacing: 0.02em;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: -2.5px -2.5px 0px #000, 2.5px -2.5px 0px #000, -2.5px 2.5px 0px #000, 2.5px 2.5px 0px #000, 0.5px 0.6px 0px rgba(0,0,0,0.4);
    -webkit-text-size-adjust: 100%;
    line-height: 100%;
}

h2 {
    font-weight: normal;
    margin: 0% 0%;
    font-size: 40px;
    font-family: Pusab;
    color: white;
    letter-spacing: 0.02em;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: -1.5px -1.5px 0px #000, 1.5px -1.5px 0px #000, -1.5px 1.5px 0px #000, 1.5px 1.5px 0px #000, 0.5px 0.6px 0px rgba(0,0,0,0.4);
    -webkit-text-size-adjust: 100%;
    line-height: 100%;
}

.gdButton {
    cursor: pointer;
    z-index: 1;
    user-select: none;
    transition-duration: 0.07s;
    transition-timing-function: ease-in-out;
}

.gdButton:hover {
    transform: scale(1.03);
}

.gdButton:active {
    transform: scale(1.08);
}

.inline {
    display: inline-block;
}

a {
    text-decoration: none;
}